@model ErrorViewModel
@{
    ViewData["Title"] = "Erro";
}

<h1 class="text-danger">Ops!</h1>
<h2 class="text-danger">Ocorreu um erro.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<br />
<h3>Descrição:</h3>
<p>
    Ocorreu um erro ao @Model.Titulo.
</p>
<p>
    <strong>@Model.Mensagem</strong>
</p>
