@{
    ViewData["Title"] = "Liturgia";
}

<div class="">
    <div style="text-align: center;">
        <figure style="display: inline-block;">
            <a asp-area="" asp-controller="Evangelhos" asp-action="Evangelhos">
                <img class="rounded home" src="../img/Evangelhos.webp" />
            </a>
            <figcaption class="tituloImagem">Evangelhos</figcaption>
        </figure>

        <figure style="display: inline-block;">
            <a asp-area="" asp-controller="Cartas" asp-action="Cartas">
                <img class="rounded home" src="../img/cartas.webp" />
            </a>
            <figcaption class="tituloImagem">Cartas</figcaption>
        </figure>

        <figure style="display: inline-block;">
            <a asp-area="" asp-controller="Apocrifos" asp-action="Apócrifos">
                <img class="rounded home" src="../img/apocrifos.webp" />
            </a>
            <figcaption class="tituloImagem">Apócrifos</figcaption>
        </figure>
    </div>

</div>