@model LinksModel

@{
    ViewData["Title"] = "Youtube";
}

<body>
	<br />

	<form method="post" asp-controller="Youtube" asp-action="GerarLink">
		<input type="text" id="input" name="texto" onfocus="this.select()">
		<button id="okButton" type="submit">Buscar</button>
	</form>

	<br />
	<br />

	@if (Model.YoutubeImageLinks != null) {

		if (Model.YoutubeImageLinks.Count == 1)
		{
			<iframe id="youtubeFrame" src="@Model.YoutubeImageLinks.ElementAt(0).Value" allowfullscreen allow="autoplay" style="width ='100%'"></iframe>
		}

		else
		{
			foreach (var linkYoutube in Model.YoutubeImageLinks)
			{
				string linkid = linkYoutube.Value.Replace("https://www.youtube.com/embed/", "");

				<a href="#" id="@linkid" onclick="AbrirVideo('@linkid')">
					<img class="rounded" src="@linkYoutube.Key" />
				</a>
			}
		}
	}

	else
	{
		<iframe style="display:none" id="youtubeFrame" src="" allowfullscreen allow="autoplay"></iframe>
	}

	<br>

	<script>
		//var frame = document.getElementById('youtubeFrame');
		//alert(frame);
		//if (frame != null){
		//	alert('sdf');
		//	//alert($(window).width());
		//	//alert('sdfbbb');
		//	//frame.style.width = "100%";
		//	//if ($(window).width() <= 699){
		//	//	alert('b');
		//	//	frame.style.width = "100%";
		//	//}
		//}

		function AbrirVideo(linkid) {
			var linkElement = document.getElementById(linkid);
			var frame = document.createElement("iframe");

			frame.setAttribute('src', "https://www.youtube.com/embed/" + linkid);
			frame.style.position = "relative";
			frame.style.height = "250px";

			if ($(window).width() <= 699)
				frame.style.width = "100%";
			else
				frame.style.width = "33%";
			linkElement.parentNode.replaceChild(frame, linkElement);
		}
	</script>
</body>