@{
    ViewData["Title"] = "Youtube";
}

<body onload='carregarLinkUrl()'>

	<br>

	<input type="text" autocomplete="off" onfocus="this.select()" id="input" name="input"> &nbsp
	<button id="okButton" onclick="gerarLink()" type="button">&nbsp Ir &nbsp</button>
	<br />
	<br />
	<iframe style="display:none" id="youtubeFrame" src="" allowfullscreen allow='autoplay'></iframe>
	<br>

	<script>

		var base = 'http://liturgia.somee.com/youtube.htm?';
		var input = document.getElementById("input");

		input.addEventListener("keyup", function (event) {
			if (event.keyCode === 13) {
				event.preventDefault();
				document.getElementById("okButton").click();
			}
		});

	</script>

</body>