<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" charset="utf-8">

    <title>@ViewData["Title"] - Liturgia</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/LiturgiaMVC.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/w3.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/orgao.min.css" asp-append-version="true" />


    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
</head>

<body id="corpo" class="bg-light text-dark orgao-background">
    <div id="exitfullscreenDiv" style="position:absolute; top:10px; left:10px; z-index:9">
        <button type="button" class="input-group-text" id="exitfullscreen" style="display:none" onclick="sairDeFullscreen()">
            <svg class="svg-icon" width="17" height="17" viewBox="0 0 1024 1024" version="1.1">
                <path d="M576 677.632 576 928C576 945.664 590.336 960 608 960s32-14.336 32-32l0-180.672 203.456 203.52c11.968 11.968 31.36 11.968 43.392 0 11.968-12.032 11.968-31.424 0-43.392L683.328 704 864 704c17.664 0 32-14.336 32-32S881.664 640 864 640L613.632 640C590.272 640 576 652.032 576 677.632z" />
                <path d="M348.352 640 97.984 640c-17.664 0-32 14.336-32 32s14.336 32 32 32l180.672 0-203.52 203.456c-11.968 11.968-11.968 31.36 0 43.392 12.032 11.968 31.424 11.968 43.392 0l203.456-203.52L321.984 928c0 17.664 14.336 32 32 32s32-14.336 32-32l0-250.368C385.984 652.032 371.776 640 348.352 640z" />
                <path d="M613.632 448 864 448C881.664 448 896 433.664 896 416S881.664 384 864 384l-180.672 0 203.52-203.456c11.968-11.968 11.968-31.36 0-43.392-12.032-11.968-31.424-11.968-43.392 0L640 340.672 640 160C640 142.336 625.664 128 608 128S576 142.336 576 160l0 250.368C576 435.968 590.272 448 613.632 448z" />
                <path d="M385.984 410.368 385.984 160c0-17.664-14.336-32-32-32s-32 14.336-32 32l0 180.672-203.456-203.52c-11.968-11.968-31.36-11.968-43.392 0-11.968 12.032-11.968 31.424 0 43.392L278.656 384 97.984 384c-17.664 0-32 14.336-32 32S80.32 448 97.984 448l250.368 0C371.776 448 385.984 435.968 385.984 410.368z" />
            </svg>
        </button>
    </div>
    <header>
        <nav id="navBar" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light border-bottom box-shadow mb-3">
            <div class="justify-content-sm-around container-sm">

                <button type="button" class="input-group-text" onclick="mostrarModal('opcoes')">
                    <svg width="19" height="19" viewBox="0 0 256 256" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" enable-background="new 0 0 256 256" xml:space="preserve">
                        <g><g><path fill="#000000" d="M234.2,116.2H21.8c-7.1,0-11.8,4.7-11.8,11.8s4.7,11.8,11.8,11.8h212.4c7.1,0,11.8-4.7,11.8-11.8S241.3,116.2,234.2,116.2L234.2,116.2z M234.2,210.6H21.8c-7.1,0-11.8,4.7-11.8,11.8s4.7,11.8,11.8,11.8h212.4c7.1,0,11.8-4.7,11.8-11.8S241.3,210.6,234.2,210.6L234.2,210.6z M21.8,45.4h212.4c7.1,0,11.8-4.7,11.8-11.8c0-7.1-4.7-11.8-11.8-11.8H21.8c-7.1,0-11.8,4.7-11.8,11.8C10,40.7,14.7,45.4,21.8,45.4L21.8,45.4z" /></g></g>
                    </svg>
                </button>
                <button type="button" class="input-group-text" id="botaoFullscreen" onclick="mudarParaFullscreen()">
                    <svg width="17" height="17" fill="currentColor" class="bi bi-arrows-fullscreen" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707zm4.344 0a.5.5 0 0 1 .707 0l4.096 4.096V11.5a.5.5 0 1 1 1 0v3.975a.5.5 0 0 1-.5.5H11.5a.5.5 0 0 1 0-1h2.768l-4.096-4.096a.5.5 0 0 1 0-.707zm0-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707m-4.344 0a.5.5 0 0 1-.707 0L1.025 1.732V4.5a.5.5 0 0 1-1 0V.525a.5.5 0 0 1 .5-.5H4.5a.5.5 0 0 1 0 1H1.732l4.096 4.096a.5.5 0 0 1 0 .707" />
                    </svg>
                </button>

                <button class="input-group-text" onclick="mostrarModal('instrumento')" id="titulo">
                    ÓrgãoPad ▼
                </button>

                <button type="button" class="input-group-text" onclick="mostrarModal('salvar')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-floppy" viewBox="0 0 16 16">
                        <path d="M11 2H9v3h2z" />
                        <path d="M1.5 0h11.586a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 14.5v-13A1.5 1.5 0 0 1 1.5 0M1 1.5v13a.5.5 0 0 0 .5.5H2v-4.5A1.5 1.5 0 0 1 3.5 9h9a1.5 1.5 0 0 1 1.5 1.5V15h.5a.5.5 0 0 0 .5-.5V2.914a.5.5 0 0 0-.146-.353l-1.415-1.415A.5.5 0 0 0 13.086 1H13v4.5A1.5 1.5 0 0 1 11.5 7h-7A1.5 1.5 0 0 1 3 5.5V1H1.5a.5.5 0 0 0-.5.5m3 4a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V1H4zM3 15h10v-4.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5z" />
                    </svg>
                </button>

                <label for="theme" class="theme">
                    <span class="theme__toggle-wrap">
                        <input id="switchDark" class="theme__toggle" type="checkbox" role="switch" name="theme" value="dark" onclick="DarkMode()" />
                        <span class="theme__icon">
                            <span class="theme__icon-part"></span>
                            <span class="theme__icon-part"></span>
                            <span class="theme__icon-part"></span>
                            <span class="theme__icon-part"></span>
                            <span class="theme__icon-part"></span>
                            <span class="theme__icon-part"></span>
                            <span class="theme__icon-part"></span>
                            <span class="theme__icon-part"></span>
                            <span class="theme__icon-part"></span>
                        </span>
                    </span>
                </label>
            </div>
        </nav>
    </header>

    <div id="modal01" class="w3-modal">
        <div class="w3-modal-content">
            <div class="w3-container">
                <span onclick="document.getElementById('modal01').style.display='none'" class="w3-button w3-display-topright">
                    <button class="btn btn-close" type="button" onclick="document.getElementById('modal01').style.display='none'">
                    </button>
                </span>
                <div id="selectInstrumento">
                    <br />
                    <h4>Instrumento</h4>
                    <br />
                    <select class="form-control" tyle="height:3m" onchange="selecionarInstrumento()" id="instrumentoSelect">
                        <option selected value="ÓrgãoPad">ÓrgãoPad</option>
                        <option value="Órgão">Órgão</option>
                        <option value="Strings">Strings</option>
                    </select>
                    <br />
                </div>

                <div id="selectOpcoes">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Início</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Sugestoes" asp-action="Index">Sugestões</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Sobre</a>
                        </li>
                    </ul>
                </div>

                <div id="salvarDiv">
                    <br />
                    <h4>Salvamentos</h4>
                    Selecionar salvamento:
                    <br />
                    <select class="form-control" tyle="height:3m" id="selectSalvamento">
                        <option selected value=""></option>
                    </select>
                    <br />

                    <button class="btn btn-success" type="button" onclick="novoSalvamento()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                        </svg>
                    </button>

                    <button class="btn btn-danger" type="button" onclick="deletarSalvamento()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                        </svg>
                    </button>

                    <button class="btn btn-primary" type="button" onclick="salvarSalvamento()">
                        @*<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-floppy" viewBox="0 0 16 16">
                            <path d="M11 2H9v3h2z" />
                            <path d="M1.5 0h11.586a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 14.5v-13A1.5 1.5 0 0 1 1.5 0M1 1.5v13a.5.5 0 0 0 .5.5H2v-4.5A1.5 1.5 0 0 1 3.5 9h9a1.5 1.5 0 0 1 1.5 1.5V15h.5a.5.5 0 0 0 .5-.5V2.914a.5.5 0 0 0-.146-.353l-1.415-1.415A.5.5 0 0 0 13.086 1H13v4.5A1.5 1.5 0 0 1 11.5 7h-7A1.5 1.5 0 0 1 3 5.5V1H1.5a.5.5 0 0 0-.5.5m3 4a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V1H4zM3 15h10v-4.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5z" />
                        </svg>*@
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5" />
                            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z" />
                        </svg>
                        Salvar
                    </button>

                    <button class="btn btn-primary" type="button" onclick="carregar_Salvamento()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-upload" viewBox="0 0 16 16">
                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5" />
                            <path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708z" />
                        </svg>
                        Carregar
                    </button>
                    <br /><br />
                </div>

                <div id="modalGravar">
                    <br />
                    <h4>Cifras</h4>
                    <div id="botoesGravacao" style="display: none">
                        Selecionar gravação:
                        <br />
                        <select class="form-control" tyle="height:3m" id="selectGravacao">
                            <option selected value=""></option>
                        </select>

                        <button class="btn btn-success" type="button" onclick="novaGravacao()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                            </svg>
                        </button>

                        <button class="btn btn-danger" type="button" onclick="deletarGravacao()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                            </svg>
                        </button>
                        <br /><br />

                    </div>
                    <label for="musicaSearch">Pesquisar música:</label>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="" aria-label="Pesquisar" aria-describedby="basic-addon1" name="texto" id="musicaSearch">
                        <span class="input-group-text" id="basic-addon1" onclick="pesquisarMusica()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                            </svg>
                        </span>
                    </div>
                    <br />
                    <div id="linksCifraClubList" style="display:block">
                        <div class="list-group" id="listaMusicasCifra">                            
                        </div>
                    </div>
                    <div id="escreverCifraTextArea">
                        <label for="musicaAcordesTextArea">Escrever cifra:</label>
                        <textarea class="form-control" id="musicaAcordesTextArea" rows="9"></textarea>
                    </div>
                    <br />
                    @*<label for="formFile" class="form-label">Importar arquivo:</label>
                    <input class="form-control" type="file" id="formFile" onchange="escolherArquivo(event)">
                    <br />*@

                    <button class="btn btn-primary" type="button" onclick="escolherGravacao()">
                        Iniciar
                    </button>
                    <br /><br />
                </div>
            </div>
        </div>
    </div>

    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    @*<script src="~/js/orgao.min.js" asp-append-version="true"></script>*@
    <script src="~/js/orgao.js" asp-append-version="true"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        $(window).click(function (e) {
            if (e.target.className == 'w3-modal')
                document.getElementById('modal01').style.display = 'none';
        });

        document.getElementById('selectRitmo').selectedIndex = 2;
        selecionarInstrumento(true);

        function mostrarModal(nome) {
            document.getElementById('modal01').style.display = 'block';

            if (nome == 'opcoes') {
                document.getElementById('selectInstrumento').style.display = 'none';
                document.getElementById('modalGravar').style.display = 'none';
                document.getElementById('selectOpcoes').style.display = 'block';
                document.getElementById('salvarDiv').style.display = 'none';
            }

            else if (nome == 'instrumento') {
                document.getElementById('selectOpcoes').style.display = 'none';
                document.getElementById('modalGravar').style.display = 'none';
                document.getElementById('selectInstrumento').style.display = 'block';
                document.getElementById('salvarDiv').style.display = 'none';
            }

            else if (nome == 'gravar') {
                if (document.getElementById('textoCifrasFrame').style.display == 'none' && document.getElementById('textoCifras').contentDocument.body.innerHTML != '') {
                    document.getElementById('escreverCifraTextArea').style.display = 'block';
                    document.getElementById('linksCifraClubList').style.display = 'none';
                    document.getElementById('musicaSearch').value = "";
                    document.getElementById('modal01').style.display = 'none';

                    mostrarTextoArquivoCarregado();
                }

                else {
                    document.getElementById('selectOpcoes').style.display = 'none';
                    document.getElementById('selectInstrumento').style.display = 'none';
                    document.getElementById('modalGravar').style.display = 'block';
                    document.getElementById('salvarDiv').style.display = 'none';
                }
            }

            else if (nome == 'salvar') {
                document.getElementById('selectOpcoes').style.display = 'none';
                document.getElementById('selectInstrumento').style.display = 'none';
                document.getElementById('modalGravar').style.display = 'none';
                document.getElementById('salvarDiv').style.display = 'block';

                carregarSalvamentosList();
            }
        }

        function selecionarInstrumento(bateria) {
            var instrumentoSelecionado = document.getElementById('instrumentoSelect').value;
            var bateriaSelecionado = document.getElementById('selectRitmo').value;

            document.getElementById('titulo').innerText = instrumentoSelecionado + ' ▼';
            document.getElementById('modal01').style.display = 'none';

            if (bateria)
                if (bateriaSelecionado == '')
                    document.getElementById('bateriaBotoes').style.display = 'none';
                else
                    document.getElementById('bateriaBotoes').style.display = 'block';

            if (bateriaSelecionado == '6/8') {
                var bpmElement = document.getElementById('bpm');
                bpmElement.value = 70;
                document.getElementById('bpmRange').value = 70;
                document.getElementById('measureLength').value = 24;
                bpmElement.dispatchEvent(new Event('change'));
            }
        }

        function escolherGravacao() {
            document.getElementById('modal01').style.display = 'none';
        }

        function deletarSalvamento() {
            var gravacaoSelecionada = document.getElementById('selectSalvamento');

            if (gravacaoSelecionada.value != '') {
                if (confirm('Apagar salvamento?\n' + gravacaoSelecionada.value)) {
                    localStorage.removeItem(gravacaoSelecionada.value);
                    localStorage.removeItem(gravacaoSelecionada.value + '_frameCifra');

                    gravacaoSelecionada.remove(gravacaoSelecionada.selectedIndex);
                    salvarOptionsNoStorage('salvamentos');
                }
            }
        }

        function novoSalvamento() {
            var novoSalvamento = document.getElementById('selectSalvamento');
            let nome = prompt('Nome da novo salvamento');

            if (nome != '' && nome != null) {
                var opcoesSelect = novoSalvamento.options;
                var opcoesArray = [...opcoesSelect].map(el => el.value);

                if (opcoesArray.includes(nome))
                    alert('Salvamento ' + nome + ' já existe!');

                else {
                    var option = document.createElement("option");

                    option.text = nome;
                    novoSalvamento.add(option);
                    novoSalvamento.selectedIndex = novoSalvamento.length - 1;

                    salvarOptionsNoStorage('salvamentos');
                }
            }
        }

        function salvarOptionsNoStorage(nomeStorage) {
            var selectElem = document.getElementById('selectSalvamento');
            opcoesSelect = selectElem.options;
            opcoesArray = [...opcoesSelect].map(el => el.value);
            localStorage.setItem(nomeStorage, opcoesArray);
        }

        function carregarSalvamentosList() {
            var selectSalvamento = document.getElementById('selectSalvamento');
            var salvamentosStorage = localStorage.getItem('salvamentos');

            if (salvamentosStorage != null) {
                if (salvamentosStorage.length > 0) {
                    selectSalvamento.innerHTML = "";

                    var salvamentos = salvamentosStorage.split(',');
                    for (var i = 0; i < salvamentos.length; i++) {
                        var option = document.createElement("option");
                        option.text = salvamentos[i];
                        selectSalvamento.add(option);
                    }
                }
            }
        }

        function salvarSalvamento() {
            var salvamentoSelecionado = document.getElementById('selectSalvamento').value;

            if (salvamentoSelecionado != '') {
                if (confirm('Deseja salvar?\n' + salvamentoSelecionado)) {
                    var instrumentoSelectIndex = 'instrumentoSelect,' + document.getElementById('instrumentoSelect').selectedIndex;
                    var selectRitmoIndex = 'selectRitmo,' + document.getElementById('selectRitmo').selectedIndex;
                    var tomSelectIndex = 'tomSelect,' + document.getElementById('tomSelect').selectedIndex;
                    var bpmValue = 'bpm,' + document.getElementById('bpm').value;

                    var salvar = instrumentoSelectIndex + '\n' + selectRitmoIndex + '\n' + tomSelectIndex + '\n' + bpmValue;

                    if (document.getElementById('tomMenorSwitchDiv').style.display != 'none')
                        salvar += '\n' + 'tomMenorSwitch,' + document.getElementById('tomMenorSwitch').checked;
                    else
                        salvar += '\n,';

                    localStorage.setItem(salvamentoSelecionado, salvar);

                    if (document.getElementById('textoCifrasFrame').style.display != 'none')
                        localStorage.setItem(salvamentoSelecionado + '_frameCifra', document.getElementById('textoCifras').contentDocument.body.innerHTML);

                    document.getElementById('modal01').style.display = 'none';
                }
            }
        }

        function carregar_Salvamento() {
            var salvamentoSelecionado = document.getElementById('selectSalvamento').value;
            var storage = localStorage.getItem(salvamentoSelecionado);
            if (storage != null) {
                if (storage.includes('\n')) {
                    var itens = storage.split('\n');
                    var novoEvento = new Event('change');

                    var instrumentoSelect = document.getElementById('instrumentoSelect');
                    instrumentoSelect.selectedIndex = itens[0].split(',')[1];                    
                    instrumentoSelect.dispatchEvent(novoEvento);

                    var selectRitmo = document.getElementById('selectRitmo');
                    selectRitmo.selectedIndex = itens[1].split(',')[1];
                    selectRitmo.dispatchEvent(novoEvento);

                    var tomSelect = document.getElementById('tomSelect');
                    tomSelect.selectedIndex = itens[2].split(',')[1];
                    tomSelect.dispatchEvent(novoEvento);

                    var bpm = document.getElementById('bpm');
                    bpm.value = itens[3].split(',')[1];
                    tomSelect.dispatchEvent(novoEvento);

                    if (itens[4] != null) {
                        var tomMenorSwitch = document.getElementById('tomMenorSwitch');
                        tomMenorSwitch.checked = itens[4].split(',')[1];
                        tomMenorSwitch.dispatchEvent(novoEvento);
                    }
                }
            }


            storage = localStorage.getItem(salvamentoSelecionado + '_frameCifra');

            if (storage != null) {
                document.getElementById('escreverCifraTextArea').style.display = 'block';

                var tom = document.getElementById('tomSelect').value;
                mostrarTextoArquivoCarregado(tom, storage);
            }
            else
                voltarParaOrgao();

            document.getElementById('modal01').style.display = 'none';
        }

        function voltarParaOrgao() {
            document.getElementById('voltar').style.display = 'none';
            document.getElementById('botaoFonte').style.display = 'none';
            document.getElementById('selectFonte').style.display = "none";

            document.getElementById('textoCifrasFrame').style.display = 'none';
            document.getElementById('cifraAvancar').style.display = 'none';
            document.getElementById('cifraRetroceder').style.display = 'none';
            document.getElementById('tomMenorSwitchDiv').style.display = '';

            var elements = document.getElementsByClassName('orgaoBotoes');
            for (var i = 0; i < elements.length; i++) {
                elements[i].style.display = '';
            };

            document.getElementById('volumeDiv').style.display = 'flex';
            document.getElementById('container').classList.add('d-sm-flex');
        }

        function escolherArquivo(event) {
            const arquivos = event.target.files;

            if (arquivos.length > 0) {
                document.getElementById('modal01').style.display = 'none';
                let reader = new FileReader();

                reader.onload = (evt) => {
                    var texto = evt.target.result;

                    mostrarTextoArquivoCarregado(texto);
                };

                reader.readAsText(arquivos[0]);
            }
        }

        function pesquisarMusica() {
            var loading = document.getElementById('modal-loading');
            loading.style.display = 'block';

            document.getElementById('listaMusicasCifra').innerHTML = '';
            var textoPesquisa = document.getElementById('musicaSearch').value;
            
            $.ajax({
                url: "Orgao/Pesquisar?texto=" + textoPesquisa, type: "post", dataType: "json",
                success: function (data) {
                    if (data.success) {
                        document.getElementById('escreverCifraTextArea').style.display = 'none';
                        document.getElementById('linksCifraClubList').style.display = 'block';
                        var titulosMusicas = data.lista;
                        var linksMusicas = data.links;

                        if (titulosMusicas.length > 0) {
                            for (i = 0; i < titulosMusicas.length; i += 1)
                                $('#listaMusicasCifra').append('<div class="list-group-item list-group-item-action" onclick="escolherLink(\'' + linksMusicas[i] + '\')">' + titulosMusicas[i] + '</div>');
                        }

                        else
                            alert('Não encontrado nenhuma cifra');
                    }
                    else
                        alert(data.message);

                    loading.style.display = 'none';
                }
            });
        }

        function escolherLink(url) {
            var loading = document.getElementById('modal-loading');
            loading.style.display = 'block';
            $.ajax({
                url: "Orgao/DownloadSite?url=" + url, type: "post", dataType: "json",
                success: function (data) {
                    if (data.success) {
                        document.getElementById('escreverCifraTextArea').style.display = 'block';
                        document.getElementById('linksCifraClubList').style.display = 'none';
                        document.getElementById('musicaSearch').value = "";
                        document.getElementById('modal01').style.display = 'none';

                        mostrarTextoArquivoCarregado(data.tom, data.message);
                    }
                    else
                        alert(data.message);

                    loading.style.display = 'none';
                }
            });
        }
    </script>
</body>
</html>
