<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" charset="utf-8">

    <title>@ViewData["Title"] - Liturgia</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/LiturgiaMVC.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/w3.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/orgao.min.css" asp-append-version="true" />
    @*<link rel="stylesheet" href="~/css/orgao.css" asp-append-version="true" />*@


    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
</head>

<body id="corpo" class="bg-light text-dark orgao-background">
    <header>
        <nav id="navBar" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light border-bottom box-shadow mb-3" style="display:none">
            <div id="linhaNavBar" class="justify-content-sm-around container-sm">

                <button type="button" id="botaoOpcoes" class="input-group-text" onclick="mostrarModal('opcoes')">
                    <svg width="19" height="19" viewBox="0 0 256 256" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" enable-background="new 0 0 256 256" xml:space="preserve">
                        <g><g><path fill="#000000" d="M234.2,116.2H21.8c-7.1,0-11.8,4.7-11.8,11.8s4.7,11.8,11.8,11.8h212.4c7.1,0,11.8-4.7,11.8-11.8S241.3,116.2,234.2,116.2L234.2,116.2z M234.2,210.6H21.8c-7.1,0-11.8,4.7-11.8,11.8s4.7,11.8,11.8,11.8h212.4c7.1,0,11.8-4.7,11.8-11.8S241.3,210.6,234.2,210.6L234.2,210.6z M21.8,45.4h212.4c7.1,0,11.8-4.7,11.8-11.8c0-7.1-4.7-11.8-11.8-11.8H21.8c-7.1,0-11.8,4.7-11.8,11.8C10,40.7,14.7,45.4,21.8,45.4L21.8,45.4z" /></g></g>
                    </svg>
                </button>
                <div id="fullscreenDiv">
                <button type="button" class="input-group-text" id="botaoFullscreen" onclick="mudarParaFullscreen()">
                    <svg width="17" height="17" fill="currentColor" class="bi bi-arrows-fullscreen" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707zm4.344 0a.5.5 0 0 1 .707 0l4.096 4.096V11.5a.5.5 0 1 1 1 0v3.975a.5.5 0 0 1-.5.5H11.5a.5.5 0 0 1 0-1h2.768l-4.096-4.096a.5.5 0 0 1 0-.707zm0-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707m-4.344 0a.5.5 0 0 1-.707 0L1.025 1.732V4.5a.5.5 0 0 1-1 0V.525a.5.5 0 0 1 .5-.5H4.5a.5.5 0 0 1 0 1H1.732l4.096 4.096a.5.5 0 0 1 0 .707" />
                    </svg>
                </button>
                    <button type="button" class="input-group-text" id="exitfullscreen" style="display:none" onclick="sairDeFullscreen()">
                        <svg class="svg-icon" width="17" height="17" viewBox="0 0 1024 1024" version="1.1">
                            <path d="M576 677.632 576 928C576 945.664 590.336 960 608 960s32-14.336 32-32l0-180.672 203.456 203.52c11.968 11.968 31.36 11.968 43.392 0 11.968-12.032 11.968-31.424 0-43.392L683.328 704 864 704c17.664 0 32-14.336 32-32S881.664 640 864 640L613.632 640C590.272 640 576 652.032 576 677.632z" />
                            <path d="M348.352 640 97.984 640c-17.664 0-32 14.336-32 32s14.336 32 32 32l180.672 0-203.52 203.456c-11.968 11.968-11.968 31.36 0 43.392 12.032 11.968 31.424 11.968 43.392 0l203.456-203.52L321.984 928c0 17.664 14.336 32 32 32s32-14.336 32-32l0-250.368C385.984 652.032 371.776 640 348.352 640z" />
                            <path d="M613.632 448 864 448C881.664 448 896 433.664 896 416S881.664 384 864 384l-180.672 0 203.52-203.456c11.968-11.968 11.968-31.36 0-43.392-12.032-11.968-31.424-11.968-43.392 0L640 340.672 640 160C640 142.336 625.664 128 608 128S576 142.336 576 160l0 250.368C576 435.968 590.272 448 613.632 448z" />
                            <path d="M385.984 410.368 385.984 160c0-17.664-14.336-32-32-32s-32 14.336-32 32l0 180.672-203.456-203.52c-11.968-11.968-31.36-11.968-43.392 0-11.968 12.032-11.968 31.424 0 43.392L278.656 384 97.984 384c-17.664 0-32 14.336-32 32S80.32 448 97.984 448l250.368 0C371.776 448 385.984 435.968 385.984 410.368z" />
                        </svg>
                    </button>
                </div>

                <button class="input-group-text" onclick="mostrarModal('instrumento')" id="titulo">
                    Órgão ▼
                </button>

                <button type="button" id="botaoSalvar" class="input-group-text" onclick="mostrarModal('salvar')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-floppy" viewBox="0 0 16 16">
                        <path d="M11 2H9v3h2z" />
                        <path d="M1.5 0h11.586a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 14.5v-13A1.5 1.5 0 0 1 1.5 0M1 1.5v13a.5.5 0 0 0 .5.5H2v-4.5A1.5 1.5 0 0 1 3.5 9h9a1.5 1.5 0 0 1 1.5 1.5V15h.5a.5.5 0 0 0 .5-.5V2.914a.5.5 0 0 0-.146-.353l-1.415-1.415A.5.5 0 0 0 13.086 1H13v4.5A1.5 1.5 0 0 1 11.5 7h-7A1.5 1.5 0 0 1 3 5.5V1H1.5a.5.5 0 0 0-.5.5m3 4a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V1H4zM3 15h10v-4.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5z" />
                    </svg>
                </button>

                <div id="switchDarkDiv">
                    <label for="theme" class="theme">
                        <span class="theme__toggle-wrap">
                            <input id="switchDark" class="theme__toggle" type="checkbox" role="switch" name="theme" value="dark" onclick="DarkMode()" />
                            <span class="theme__icon">
                                <span class="theme__icon-part"></span>
                                <span class="theme__icon-part"></span>
                                <span class="theme__icon-part"></span>
                                <span class="theme__icon-part"></span>
                                <span class="theme__icon-part"></span>
                                <span class="theme__icon-part"></span>
                                <span class="theme__icon-part"></span>
                                <span class="theme__icon-part"></span>
                                <span class="theme__icon-part"></span>
                            </span>
                        </span>
                    </label>
                </div>
                <div id="muteDiv" style="display:none">
                    <button type="button" id="botaoMute" class="input-group-text" onclick="mutarVolume()">
                        <svg id="iconVolumeMute" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-volume-mute-fill" viewBox="0 0 16 16" style="display:none">
                            <path d="M6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06M6 5.04 4.312 6.39A.5.5 0 0 1 4 6.5H2v3h2a.5.5 0 0 1 .312.11L6 10.96zm7.854.606a.5.5 0 0 1 0 .708L12.207 8l1.647 1.646a.5.5 0 0 1-.708.708L11.5 8.707l-1.646 1.647a.5.5 0 0 1-.708-.708L10.793 8 9.146 6.354a.5.5 0 1 1 .708-.708L11.5 7.293l1.646-1.647a.5.5 0 0 1 .708 0" />
                        </svg>
                        <svg id="iconVolume" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-volume-up" viewBox="0 0 16 16">
                            <path d="M11.536 14.01A8.47 8.47 0 0 0 14.026 8a8.47 8.47 0 0 0-2.49-6.01l-.708.707A7.48 7.48 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303z" />
                            <path d="M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.48 5.48 0 0 1 11.025 8a5.48 5.48 0 0 1-1.61 3.89z" />
                            <path d="M10.025 8a4.5 4.5 0 0 1-1.318 3.182L8 10.475A3.5 3.5 0 0 0 9.025 8c0-.966-.392-1.841-1.025-2.475l.707-.707A4.5 4.5 0 0 1 10.025 8M7 4a.5.5 0 0 0-.812-.39L3.825 5.5H1.5A.5.5 0 0 0 1 6v4a.5.5 0 0 0 .5.5h2.325l2.363 1.89A.5.5 0 0 0 7 12zM4.312 6.39 6 5.04v5.92L4.312 9.61A.5.5 0 0 0 4 9.5H2v-3h2a.5.5 0 0 0 .312-.11" />
                        </svg>
                    </button>
                </div>
            </div>
        </nav>
    </header>

    <div id="modal01" class="w3-modal">
        <div class="w3-modal-content">
            <div class="w3-container">
                <span onclick="document.getElementById('modal01').style.display='none'" class="w3-button w3-display-topright">
                    <button class="btn btn-close" type="button" onclick="ocultarModal()">
                    </button>
                </span>

                <div id="oracoesEucaristicasDiv" style="display:none">
                    <partial name="~/Views/Liturgia/OracaoEucaristicaII.cshtml" />
                </div>

                <div id="sobreDiv" style="display:none">
                    <partial name="~/Views/Orgao/Sobre.cshtml" />
                </div>

                <div id="liturgiaDiariaDiv" style="display:none;">
                    <iframe id="liturgiaDiariaFrame" src="https://liturgiadiaria.edicoescnbb.com.br/" style="position:static;width:100%"></iframe> @* <style="position:absolute;width:100%; height:100%"></iframe> *@
                </div>

                <div id="selectInstrumento">
                    <br />
                    <h4>Instrumento</h4>
                    <br />
                    <select class="form-control" tyle="height:3m" onchange="selecionarInstrumento()" id="instrumentoSelect">
                        <option selected value="Órgão">Órgão</option>
                        <option value="Epiano">Epiano</option>
                        <option value="Strings">Strings</option>
                        <option value="Bateria">Só Bateria</option>
                    </select>
                    <br />
                </div>

                <div id="selectOpcoes">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Início</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link" onclick="mostrarModal('liturgiaDiaria')">Liturgia Diária</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link" onclick="mostrarModal('oracoesEucaristicas')">Orações Eucarísticas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Orgao" asp-action="Index">Órgão</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Sugestoes" asp-action="Index">Sugestões</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link" onclick="mostrarModal('sobre')">Sobre</a>
                        </li>
                    </ul>
                </div>

                <div id="salvarDiv">
                    <br />
                    <h4>Salvamentos</h4>
                    Selecionar salvamento:
                    <br />
                    <select class="form-control" tyle="height:3m" id="selectSalvamento">
                        <option selected value=""></option>
                    </select>
                    <br />

                    <button class="btn btn-success" type="button" onclick="novoSalvamento()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                        </svg>
                    </button>

                    <button class="btn btn-danger" type="button" onclick="deletarSalvamento()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                        </svg>
                    </button>

                    <button class="btn btn-primary" type="button" onclick="salvarSalvamento()">
                        @*<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-floppy" viewBox="0 0 16 16">
                            <path d="M11 2H9v3h2z" />
                            <path d="M1.5 0h11.586a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 14.5v-13A1.5 1.5 0 0 1 1.5 0M1 1.5v13a.5.5 0 0 0 .5.5H2v-4.5A1.5 1.5 0 0 1 3.5 9h9a1.5 1.5 0 0 1 1.5 1.5V15h.5a.5.5 0 0 0 .5-.5V2.914a.5.5 0 0 0-.146-.353l-1.415-1.415A.5.5 0 0 0 13.086 1H13v4.5A1.5 1.5 0 0 1 11.5 7h-7A1.5 1.5 0 0 1 3 5.5V1H1.5a.5.5 0 0 0-.5.5m3 4a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V1H4zM3 15h10v-4.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5z" />
                        </svg>*@
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5" />
                            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z" />
                        </svg>
                        Salvar
                    </button>

                    <button class="btn btn-primary" type="button" onclick="carregar_Salvamento()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-upload" viewBox="0 0 16 16">
                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5" />
                            <path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708z" />
                        </svg>
                        Carregar
                    </button>
                    <br /><br />
                </div>

                <div id="modalGravar">
                    <br />
                    <h4>Cifras</h4>
                    <div id="botoesGravacao" style="display: none">
                        Selecionar gravação:
                        <br />
                        <select class="form-control" tyle="height:3m" id="selectGravacao">
                            <option selected value=""></option>
                        </select>

                        <button class="btn btn-success" type="button" onclick="novaGravacao()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                            </svg>
                        </button>

                        <button class="btn btn-danger" type="button" onclick="deletarGravacao()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                            </svg>
                        </button>
                        <br /><br />

                    </div>
                    <label for="musicaSearch">Pesquisar música:</label>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="" aria-label="Pesquisar" aria-describedby="basic-addon1" name="texto" id="musicaSearch">
                        <span class="input-group-text" id="basic-addon1" onclick="pesquisarMusica()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                            </svg>
                        </span>
                    </div>
                    <br />
                    <div id="linksCifraClubList" style="display:block">
                        <div class="list-group" id="listaMusicasCifra">                            
                        </div>
                    </div>
                    <div id="escreverCifraTextArea">
                        <label for="musicaAcordesTextArea">Escrever cifra:</label>
                        <textarea class="form-control" id="musicaAcordesTextArea" rows="9"></textarea>
                    </div>
                    <br />
                    @*<label for="formFile" class="form-label">Importar arquivo:</label>
                    <input class="form-control" type="file" id="formFile" onchange="escolherArquivo(event)">
                    <br />*@

                    <button id="botaoIniciar" class="btn btn-primary" type="button" onclick="escolherGravacao()">
                        Iniciar
                    </button>
                    <br /><br />
                </div>
            </div>
        </div>
    </div>

    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    
    <script src="~/js/site.min.js" asp-append-version="true"></script>

    <script src="~/js/orgao.js" asp-append-version="true"></script>
    @* <script src="~/js/orgao.min.js" asp-append-version="true"></script> *@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        $(window).click(function (e) {
            if (e.target.className == 'w3-modal')
                ocultarModal();
        });

        window.onbeforeunload = function () {
            return "Deseja recarregar página?";
        };

        selectRitmo.selectedIndex = 2;
        selecionarInstrumento(true);

        function mudarTamanhoModal(aumentar) {
            if (aumentar) {
                var altura = window.innerHeight / 1.15;
                liturgiaDiariaFrame.style.height = altura + 'px';
            }
        }

        function mutarVolume(mute = true) {
            if (mute == false) {
                volumeInput.value = 0.9;
                volumeInput.dispatchEvent(eventoClick);
                iconVolume.style.display = '';
                iconVolumeMute.style.display = 'none';
            }
            else if (iconVolumeMute.style.display == 'none') {
                volumeInput.value = 0;
                volumeInput.dispatchEvent(eventoClick);
                iconVolume.style.display = 'none';
                iconVolumeMute.style.display = '';
            }
            else {
                volumeInput.value = 0.9;
                volumeInput.dispatchEvent(eventoClick);
                iconVolume.style.display = '';
                iconVolumeMute.style.display = 'none';
            }
        }

        function ocultarModal() {
            rolagemTelaOracaoEucaristica();
            liturgiaDiariaFrame.style.height = '';
            modal01.style.display = 'none';
            linksCifraClubList.style.display = 'none';
            botaoIniciar.style.display = '';
            escreverCifraTextArea.style.display = '';
            oracoesEucaristicasDiv.style.display = 'none';
            liturgiaDiariaDiv.style.display = 'none';
            sobreDiv.style.display = 'none';
        }

        function mostrarModal(nome) {
            modal01.style.display = 'block';

            if (nome === 'opcoes') {
                selectInstrumento.style.display = 'none';
                modalGravar.style.display = 'none';
                selectOpcoes.style.display = 'block';
                salvarDiv.style.display = 'none';
            }

            else if (nome === 'instrumento') {
                selectOpcoes.style.display = 'none';
                modalGravar.style.display = 'none';
                selectInstrumento.style.display = 'block';
                salvarDiv.style.display = 'none';
            }

            else if (nome === 'gravar') {
                if (textoCifrasFrame.style.display == 'none' && textoCifras.contentDocument.body.innerHTML != '') {
                    escreverCifraTextArea.style.display = 'block';
                    linksCifraClubList.style.display = 'none';
                    musicaSearch.value = "";
                    modal01.style.display = 'none';

                    mostrarTextoArquivoCarregado();
                }

                else {
                    selectOpcoes.style.display = 'none';
                    selectInstrumento.style.display = 'none';
                    modalGravar.style.display = 'block';
                    salvarDiv.style.display = 'none';
                }
            }

            else if (nome === 'salvar') {
                selectOpcoes.style.display = 'none';
                selectInstrumento.style.display = 'none';
                modalGravar.style.display = 'none';
                salvarDiv.style.display = 'block';

                carregarSalvamentosList();
            }

            else if (nome === 'oracoesEucaristicas') {
                oracoesEucaristicasDiv.style.display = '';
                selectOpcoes.style.display = 'none';
                rolagemTelaOracaoEucaristica(false);
            }

            else if (nome === 'liturgiaDiaria') {
                liturgiaDiariaDiv.style.display = '';
                selectOpcoes.style.display = 'none';
                mudarTamanhoModal(true);
            }

            else if (nome === 'sobre') {
                sobreDiv.style.display = '';
                selectOpcoes.style.display = 'none';
            }
        }

        function selecionarInstrumento(bateria) {
            var instrumentoSelecionado = instrumentoSelect.value;
            const elementos = [brush, aro, caixa, chimbal, meiaLua, prato];

            titulo.innerText = instrumentoSelecionado + ' ▼';
            modal01.style.display = 'none';

            if (instrumentoSelecionado === 'Bateria') {
                orgaoBox.style.display = 'none';
                tunerDiv.style.display = '';

                Array.from(elementos).forEach((elemento) => {
                    elemento.style.width = '115px';
                    elemento.style.height = '66px';
                    elemento.style.margin = '3px';
                });

                document.getElementsByClassName('centralizado-no-container')[1].style.width = '350px';
            }

            else {
                orgaoBox.style.display = '';
                tunerDiv.style.display = 'none';

                Array.from(elementos).forEach((elemento) => {
                    elemento.style.width = '77px';
                    elemento.style.height = '44px';
                    elemento.style.margin = '8px';
                });

                document.getElementsByClassName('centralizado-no-container')[1].style.width = '300px';

                if (bateria)
                    if (selectRitmo.value === '')
                        bateriaBotoes.style.display = 'none';
                    else
                        bateriaBotoes.style.display = 'block';

                mudarTempoCompasso();
            }
        }

        function escolherGravacao() {
            modal01.style.display = 'none';
        }

        function deletarSalvamento() {
            var gravacaoSelecionada = selectSalvamento;

            if (gravacaoSelecionada.value != '') {
                sairDeFullscreen();
                if (confirm('Apagar salvamento?\n' + gravacaoSelecionada.value)) {
                    localStorage.removeItem(gravacaoSelecionada.value);
                    localStorage.removeItem(gravacaoSelecionada.value + '_frameCifra');

                    gravacaoSelecionada.remove(gravacaoSelecionada.selectedIndex);
                    salvarOptionsNoStorage('salvamentos');
                }
            }
        }

        function novoSalvamento() {
            sairDeFullscreen();
            var novoSalvamento = selectSalvamento;
            let nome = prompt('Nome da novo salvamento');

            if (nome != '' && nome != null) {
                var opcoesSelect = novoSalvamento.options;
                var opcoesArray = [...opcoesSelect].map(el => el.value);

                if (opcoesArray.includes(nome))
                    alert('Salvamento ' + nome + ' já existe!');

                else {
                    var option = document.createElement("option");

                    option.text = nome;
                    novoSalvamento.add(option);
                    novoSalvamento.selectedIndex = novoSalvamento.length - 1;

                    salvarOptionsNoStorage('salvamentos');
                }
            }
        }

        function salvarOptionsNoStorage(nomeStorage) {
            opcoesSelect = selectSalvamento.options;
            opcoesArray = [...opcoesSelect].map(el => el.value);
            localStorage.setItem(nomeStorage, opcoesArray);
        }

        function carregarSalvamentosList() {
            var salvamentosStorage = localStorage.getItem('salvamentos');

            if (salvamentosStorage != null) {
                if (salvamentosStorage.length > 0) {
                    selectSalvamento.innerHTML = "";

                    var salvamentos = salvamentosStorage.split(',');
                    for (var i = 0; i < salvamentos.length; i++) {
                        var option = document.createElement("option");
                        option.text = salvamentos[i];
                        selectSalvamento.add(option);
                    }
                }
            }
        }

        function salvarSalvamento() {
            var salvamentoSelecionado = selectSalvamento.value;

            if (salvamentoSelecionado != '') {
                sairDeFullscreen();
                if (confirm('Deseja salvar?\n' + salvamentoSelecionado)) {
                    var salvar = 'instrumentoSelect,' + instrumentoSelect.selectedIndex;
                    salvar += '\n' + 'selectRitmo,' + selectRitmo.selectedIndex;
                    salvar += '\n' + 'tomSelect,' + tomSelect.selectedIndex;
                    salvar += '\n' + 'bpm,' + bpm.value;
                    salvar += '\n' + 'autoCheck,' + autoCheck.checked;

                    var maoBotaoSelecionado = document.getElementsByClassName('selecionado');
                    if (maoBotaoSelecionado.length > 0)
                        salvar += '\n' + maoBotaoSelecionado[0].id + ',selecionado';

                    if (tomMenorSwitchDiv.style.display != 'none')
                        salvar += '\n' + 'tomMenorSwitch,' + tomMenorSwitch.checked;

                    if (textoCifrasFrame.style.display != 'none') {
                        localStorage.setItem(salvamentoSelecionado + '_frameCifra', textoCifras.contentDocument.body.innerHTML);

                        selectFonte.style.display = '';
                        salvar += '\n' + 'selectFonte,' + selectFonte.selectedIndex;
                        selectFonte.style.display = 'none';
                        botaoFonte.style.display = '';

                        selectTamanhoIframe.style.display = '';
                        salvar += '\n' + 'selectTamanhoIframe,' + selectTamanhoIframe.selectedIndex;
                        selectTamanhoIframe.style.display = 'none';                        
                        botaoTamanhoIframe.style.display = '';
                    }

                    localStorage.setItem(salvamentoSelecionado, salvar);

                    modal01.style.display = 'none';
                }
            }
        }

        function carregar_Salvamento() {
            modal01.style.display = 'none';

            var salvamentoSelecionado = selectSalvamento.value;
            var storageCifra = localStorage.getItem(salvamentoSelecionado + '_frameCifra');

            if (storageCifra) {
                escreverCifraTextArea.style.display = 'block';

                var tom = tomSelect.value;
                mostrarTextoArquivoCarregado(tom, storageCifra);

                textoCifras.contentWindow.document.querySelector('pre').style.fontSize = selectFonte.value + 'px';
                textoCifrasFrame.style.height = selectTamanhoIframe.value + 'px';
                textoCifras.style.height = selectTamanhoIframe.value + 'px';
            }
            else
                voltarParaOrgao();

            var storage = localStorage.getItem(salvamentoSelecionado);

            if (storage) {
                if (storage.includes('\n')) {
                    var itens = storage.split('\n');

                    for (var i = 0; i < itens.length; i++) {
                        if (itens[i].split(',')[0] != '') {
                            var element = document.getElementById(itens[i].split(',')[0]);

                            if (itens[i].split(',')[0] === 'bpm') {
                                element.value = itens[i].split(',')[1];
                            }
                            else if (itens[i].split(',')[1] === 'selecionado') {
                                escolherAcompanhamento(element.id, element);
                            }
                            else if (itens[i].split(',')[0] === 'tomMenorSwitch' || itens[i].split(',')[0] == 'autoCheck') {
                                if (itens[i].split(',')[1] === 'true')
                                    element.checked = itens[i].split(',')[1];
                            }
                            else
                                element.selectedIndex = itens[i].split(',')[1];
                            
                            element.dispatchEvent(eventoChange);
                        }
                    }

                    mudarTempoCompasso();
                }
            }
        }

        function escolherArquivo(event) {
            const arquivos = event.target.files;

            if (arquivos.length > 0) {
                modal01.style.display = 'none';
                let reader = new FileReader();

                reader.onload = (evt) => {
                    var texto = evt.target.result;

                    mostrarTextoArquivoCarregado(texto);
                };

                reader.readAsText(arquivos[0]);
            }
        }

        function pesquisarMusica() {
            modal_loading.style.display = 'block';

            listaMusicasCifra.innerHTML = '';
            var textoPesquisa = musicaSearch.value;
            
            $.ajax({
                url: "Orgao/Pesquisar?texto=" + textoPesquisa, type: "post", dataType: "json",
                success: function (data) {
                    if (data.success) {
                        escreverCifraTextArea.style.display = 'none';
                        linksCifraClubList.style.display = 'block';
                        botaoIniciar.style.display = 'none';
                        
                        var titulosMusicas = data.lista;
                        var linksMusicas = data.links;

                        if (titulosMusicas.length > 0) {
                            for (i = 0; i < titulosMusicas.length; i += 1)
                                $('#listaMusicasCifra').append('<div class="list-group-item list-group-item-action" onclick="escolherLink(\'' + linksMusicas[i] + '\')">' + titulosMusicas[i] + '</div>');
                        }

                        else
                            alert('Não encontrado nenhuma cifra');
                    }
                    else
                        alert(data.message);

                    modal_loading.style.display = 'none';
                }
            });
        }

        function escolherLink(urlLink) {
            modal_loading.style.display = 'block';
            $.ajax({
                type: "post",
                dataType: "json",
                url: "Orgao/DownloadSite",
                data: {
                    url: urlLink,
                },
                success: function (data) {
                    if (data.success)
                        mudarParaTelaCifras(data);
                    else
                        alert(data.message);

                    modal_loading.style.display = 'none';
                }
            });
        }

        function mudarParaTelaCifras(data) {
            escreverCifraTextArea.style.display = 'block';
            linksCifraClubList.style.display = 'none';
            botaoIniciar.style.display = '';
            musicaSearch.value = "";
            modal01.style.display = 'none';

            mostrarTextoArquivoCarregado(data.tom, data.message);
        }
    </script>
</body>
</html>
