<div class="modal" id="modal_loading" data-backdrop="static" style="display:none">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="loading-spinner mb-2"></div>
            </div>
        </div>
    </div>
</div>