<div class="notes-list">
	<span id="notaTuner" style="font-size:25px"></span>
</div>

<div class="a4" style="display:none">A<sub>4</sub> = <span>440</span> Hz</div>

<label class="auto" style="display:none">
    Auto
    <input type="checkbox" id="autoTunerCheck"/>
</label>

<script src="https://cdn.jsdelivr.net/npm/aubiojs@0.1.1/build/aubio.min.js"></script>
<script src="~/js/tuner.js" asp-append-version="false"></script>
<script src="~/js/notes.js" asp-append-version="false"></script>
<script src="~/js/app.js" asp-append-version="false"></script>