@{
    ViewData["Title"] = "Liturgia";
}

<h1>Apócrifos</h1>

<div class="">
    <div style="text-align: center;">
        <figure style="display: inline-block;">
            <a asp-area="" asp-controller="NovoTestamento" asp-action="Tiago">
                <img class="rounded home" src="../img/tiago.webp" />
            </a>
            <figcaption class="tituloImagem">Proto Evangelho de Tiago</figcaption>
        </figure>
    </div>

</div>