@{
    ViewData["Title"] = "Liturgia";
}

<h1>Evangelhos</h1>

<div class="">
    <div style="text-align: center;">
        <figure style="display: inline-block;">
            <a asp-area="" asp-controller="NovoTestamento" asp-action="Mateus">
                <img class="rounded home" src="../img/mateus.webp" />
            </a>
            <figcaption class="tituloImagem">São Mateus</figcaption>
        </figure>

        <figure style="display: inline-block;">
            <a asp-area="" asp-controller="NovoTestamento" asp-action="Marcos">
                <img class="rounded home" src="../img/marcos.webp" />
            </a>
            <figcaption class="tituloImagem">São Marcos</figcaption>
        </figure>

        <figure style="display: inline-block;">
            <a asp-area="" asp-controller="NovoTestamento" asp-action="Lucas">
                <img class="rounded home" src="../img/lucas.webp" />
            </a>
            <figcaption class="tituloImagem">São Lucas</figcaption>
        </figure>

        <figure style="display: inline-block;">
            <a asp-area="" asp-controller="NovoTestamento" asp-action="Joao">
                <img class="rounded home" src="../img/joao.webp" />
            </a>
            <figcaption class="tituloImagem">São João</figcaption>
        </figure>
    </div>

</div>