@{
    ViewData["Title"] = "Liturgia";
}

<h1>Novo Testamento e Apócrifos</h1>

<div class="">
    <div style="text-align: center;">
        <figure style="display: inline-block;">
            <a asp-area="" asp-controller="NovoTestamento" asp-action="Evangelhos">
                <img class="rounded home" src="../img/evangelhos.webp" />
            </a>
            <figcaption class="tituloImagem">Evangelhos</figcaption>
        </figure>

        <figure style="display: inline-block;">
            <a asp-area="" asp-controller="NovoTestamento" asp-action="Cartas">
                <img class="rounded home" src="../img/cartas.webp" />
            </a>
            <figcaption class="tituloImagem">Cartas</figcaption>
        </figure>

        <figure style="display: inline-block;">
            <a asp-area="" asp-controller="NovoTestamento" asp-action="Apocrifos">
                <img class="rounded home" src="../img/apocrifos.webp" />
            </a>
            <figcaption class="tituloImagem">Apócrifos</figcaption>
        </figure>
    </div>

</div>