@{
    ViewData["Title"] = "Liturgia";
}


<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <style type="text/css">
        ol {
            margin: 0;
            padding: 0
        }

        table td, table th {
            padding: 0
        }

        .c6 {
            color: #555555;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 13pt;
            font-family: "Arial";
            font-style: normal
        }

        .c1 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: left;
            height: 11pt
        }

        .c4 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Arial";
            font-style: normal
        }

        .c0 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Arial";
            font-style: normal
        }

        .c2 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c3 {
            background-color: #ffffff;
            max-width: 553pt;
            padding: 15.3pt 29.5pt 15.3pt 29.5pt
        }

        .c5 {
            font-weight: 700
        }

        .title {
            padding-top: 0pt;
            color: #000000;
            font-size: 21pt;
            padding-bottom: 0pt;
            font-family: "Trebuchet MS";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .subtitle {
            padding-top: 0pt;
            color: #666666;
            font-size: 13pt;
            padding-bottom: 10pt;
            font-family: "Trebuchet MS";
            line-height: 1.15;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        li {
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }

        p {
            margin: 0;
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }

        h1 {
            padding-top: 10pt;
            color: #000000;
            font-size: 16pt;
            padding-bottom: 0pt;
            font-family: "Trebuchet MS";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h2 {
            padding-top: 10pt;
            color: #000000;
            font-weight: 700;
            font-size: 13pt;
            padding-bottom: 0pt;
            font-family: "Trebuchet MS";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h3 {
            padding-top: 8pt;
            color: #666666;
            font-weight: 700;
            font-size: 12pt;
            padding-bottom: 0pt;
            font-family: "Trebuchet MS";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h4 {
            padding-top: 8pt;
            -webkit-text-decoration-skip: none;
            color: #666666;
            text-decoration: underline;
            font-size: 11pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            page-break-after: avoid;
            text-decoration-skip-ink: none;
            font-family: "Trebuchet MS";
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h5 {
            padding-top: 8pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 0pt;
            font-family: "Trebuchet MS";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h6 {
            padding-top: 8pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 0pt;
            font-family: "Trebuchet MS";
            line-height: 1.15;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: left
        }
    </style>
</head>
<body class="c3 doc-content">
    <p class="c2">
        <span class="c4">
            CAP&Iacute;TULO 1
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            1No princ&iacute;pio era a Palavra, e a Palavra estava com Deus; e a Palavra era Deus.
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            2No princ&iacute;pio estava ela com Deus. 3Tudo foi feito por ela, e sem ela nada se fez de tudo que foi feito.
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            4Nela estava a vida, e a vida era a luz dos homens. 5E a luz brilha nas trevas, e as trevas n&atilde;o conseguiram domin&aacute;-la.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            6Surgiu um homem enviado por Deus; seu nome era Jo&atilde;o. 7Ele veio como testemunha, para dar testemunho da luz, para que todos chegassem &agrave; f&eacute; por meio dele. 8Ele n&atilde;o era a luz, mais veio para dar testemunho da luz: 9daquele que era a luz de verdade, que, vindo ao mundo, ilumina todo ser humano.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            10A Palavra estava no mundo &mdash; e o mundo foi feito por meio dela &mdash; mas o mundo n&atilde;o quis conhec&ecirc;-la. 11Veio para o que era seu, e os seus n&atilde;o a acolheram.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            12Mas, a todos que a receberam, deu-lhes capacidade de se tornarem filhos de Deus, isto &eacute;, aos que acreditam em seu nome, 13pois estes n&atilde;o nasceram do sangue nem da vontade da carne nem da vontade do var&atilde;o, mas de Deus mesmo.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            14E a Palavra se fez carne e habitou entre n&oacute;s. E n&oacute;s contemplamos a sua gl&oacute;ria, gl&oacute;ria que recebe do Pai como Filho unig&ecirc;nito, cheio de gra&ccedil;a e de verdade.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            15Dele, Jo&atilde;o d&aacute; testemunho, clamando: &ldquo;Este &eacute; aquele de quem eu disse: O que vem depois de mim passou &agrave; minha frente, porque ele existia antes de mim&rdquo;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            16De sua plenitude todos n&oacute;s recebemos gra&ccedil;a por gra&ccedil;a. 17Pois por meio de Mois&eacute;s foi dada a Lei, mas a gra&ccedil;a e a verdade nos chegaram atrav&eacute;s de Jesus Cristo.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            18A Deus ningu&eacute;m jamais viu. Mas o Unig&ecirc;nito de Deus, que est&aacute; na intimidade do Pai, ele no-lo deu a conhecer.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            19Este foi o testemunho de Jo&atilde;o, quando os judeus enviaram de Jerusal&eacute;m sacerdotes e levitas para perguntar: &ldquo;Quem &eacute;s tu?&rdquo; 20Jo&atilde;o confessou e n&atilde;o negou. Confessou: &ldquo;Eu n&atilde;o sou o Messias&rdquo;. 21Eles perguntaram: &ldquo;Quem &eacute;s, ent&atilde;o? &Eacute;s Elias?&rdquo; Jo&atilde;o respondeu: &ldquo;N&atilde;o sou&rdquo;. Eles perguntaram: &ldquo;&Eacute;s o Profeta?&rdquo; Ele respondeu: &ldquo;N&atilde;o&rdquo;. 22Perguntaram ent&atilde;o: &ldquo;Quem &eacute;s, afinal? Temos de levar uma resposta &agrave;queles que nos enviaram. Que dizes de ti mesmo?&rdquo;
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            23Jo&atilde;o declarou: &ldquo;Eu sou a voz que grita no deserto: &lsquo;Aplainai o caminho do Senhor&rsquo;&rdquo; &mdash; conforme disse o profeta Isa&iacute;as. 24Ora, os que tinham sido enviados pertenciam aos fariseus 25e perguntaram: &ldquo;Por que ent&atilde;o andas batizando, se n&atilde;o &eacute;s o Messias, nem Elias, nem o Profeta?&rdquo;
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            26Jo&atilde;o respondeu: &ldquo;Eu batizo com &aacute;gua; mas no meio de v&oacute;s est&aacute; aquele que v&oacute;s n&atilde;o conheceis, 27e que vem depois de mim. Eu n&atilde;o mere&ccedil;o desamarrar a correia de suas sand&aacute;lias&rdquo;. 28Isso aconteceu em Bet&acirc;nia al&eacute;m do Jord&atilde;o, onde Jo&atilde;o estava batizando.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            29Jo&atilde;o viu Jesus aproximar-se dele e disse: &ldquo;Eis o Cordeiro de Deus, que tira o pecado do mundo. 30Dele &eacute; que eu disse: Depois de mim vem um homem que passou &agrave; minha frente, porque existia antes de mim. 31Tamb&eacute;m eu n&atilde;o o conhecia, mas se eu vim batizar com &aacute;gua, foi para que ele fosse manifestado a Israel&rdquo;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            32E Jo&atilde;o deu testemunho, dizendo: &ldquo;Eu vi o Esp&iacute;rito descer, como uma pomba do c&eacute;u, e permanecer sobre ele. 33Tamb&eacute;m eu n&atilde;o o conhecia, mas aquele que me enviou a batizar com &aacute;gua me disse: &lsquo;Aquele sobre quem vires o Esp&iacute;rito descer e permanecer, este &eacute; quem batiza com o Esp&iacute;rito Santo&rsquo;. 34Eu vi e dou testemunho: Este &eacute; o Filho de Deus!&rdquo;
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            35Jo&atilde;o estava de novo com dois de seus disc&iacute;pulos 36e, vendo Jesus passar, disse: &ldquo;Eis o Cordeiro de Deus!&rdquo; 37Ouvindo essas palavras, os dois disc&iacute;pulos seguiram Jesus. 38Voltando-se para eles e vendo que o estavam seguindo, Jesus perguntou: &ldquo;Que estais procurando?&rdquo; Eles disseram: &ldquo;Rabi (que quer dizer: Mestre), onde moras?&rdquo; 39Jesus respondeu: &ldquo;Vinde ver&rdquo;. Foram pois ver onde ele morava e, nesse dia, permaneceram com ele. Era por volta das quatro da tarde. 40Andr&eacute;, irm&atilde;o de Sim&atilde;o Pedro, era um dos dois que ouviram as palavras de Jo&atilde;o e seguiram Jesus. 41Ele foi logo encontrar seu irm&atilde;o Sim&atilde;o e lhe disse: &ldquo;Encontramos o Messias (que quer dizer: Cristo)&rdquo;. 42Ent&atilde;o Andr&eacute; conduziu Sim&atilde;o a Jesus. Jesus olhou bem para ele e disse: &ldquo;Tu &eacute;s Sim&atilde;o, filho de Jo&atilde;o; tu ser&aacute;s chamado Cefas&rdquo; (que quer dizer: Pedra).
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            43Jesus decidiu partir para a Galileia. Encontrou Filipe e disse: &ldquo;Segue-me&rdquo;. 44Filipe era de Betsaida, cidade de Andr&eacute; e de Pedro. 45Filipe encontrou-se com Natanael e lhe disse: &ldquo;Encontramos aquele de quem Mois&eacute;s escreveu na Lei, e tamb&eacute;m os profetas: Jesus de Nazar&eacute;, o filho de Jos&eacute;&rdquo;. 46Natanael disse: &ldquo;De Nazar&eacute; pode sair coisa boa?&rdquo; Filipe respondeu: &ldquo;Vem ver!&rdquo; 47Jesus viu Natanael que vinha para ele e comentou: &ldquo;A&iacute; vem um israelita de verdade, um homem sem falsidade&rdquo;. 48Natanael perguntou: &ldquo;De onde me conheces?&rdquo; Jesus respondeu: &ldquo;Antes que Filipe te chamasse, enquanto estavas debaixo da figueira, eu te vi&rdquo;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            49Natanael respondeu: &ldquo;Rabi, tu &eacute;s o Filho de Deus, tu &eacute;s o Rei de Israel&rdquo;. 50Jesus disse: &ldquo;Tu cr&ecirc;s porque te disse: Eu te vi debaixo da figueira? Coisas maiores que esta ver&aacute;s!&rdquo; 51E Jesus continuou: &ldquo;Em verdade, em verdade, eu vos digo: Vereis o c&eacute;u aberto e os anjos de Deus subindo e descendo sobre o Filho do Homem&rdquo;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c4">
            CAP&Iacute;TULO 2
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            1houve um casamento em Can&aacute; da Galileia. A m&atilde;e de Jesus estava presente. 2Tamb&eacute;m Jesus e seus disc&iacute;pulos tinham sido convidados para o casamento. 3Como o vinho veio a faltar, a m&atilde;e de Jesus lhe disse: &ldquo;Eles n&atilde;o t&ecirc;m mais vinho&rdquo;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            4Jesus respondeu-lhe: &ldquo;Mulher, por que dizes isto a mim? Minha hora ainda n&atilde;o chegou&rdquo;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            5Sua m&atilde;e disse aos que estavam servindo: &ldquo;Fazei o que ele vos disser!&rdquo;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            6Estavam seis talhas de pedra colocadas a&iacute; para a purifica&ccedil;&atilde;o que os judeus costumam fazer. Em cada uma delas cabiam mais ou menos cem litros.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            7Jesus disse aos que estavam servindo: &ldquo;Enchei as talhas de &aacute;gua!&rdquo;. Encheram-nas at&eacute; a boca. 8Jesus disse: &ldquo;Agora tirai e levai ao mestre-sala!&rdquo;. E eles levaram. 9O mestre-sala experimentou a &aacute;gua, que se tinha transformado em vinho. Ele n&atilde;o sabia de onde vinha, mas os que estavam servindo sabiam, pois eram eles que tinham tirado a &aacute;gua.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            10O mestre-sala chamou ent&atilde;o o noivo e lhe disse: &ldquo;Todo mundo serve primeiro o vinho melhor e, quando os convidados j&aacute; est&atilde;o embriagados, serve o vinho menos bom. Mas tu guardaste o vinho bom at&eacute; agora!&rdquo;
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            11Este foi o in&iacute;cio dos sinais de Jesus. Ele o realizou em Can&aacute; da Galileia e manifestou a sua gl&oacute;ria, e seus disc&iacute;pulos creram nele.12Depois disso, desceram a Cafarnaum, Ele, sua m&atilde;e, seus irm&atilde;os e seus disc&iacute;pulos, e ali ficaram apenas alguns dias.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            13Estava pr&oacute;xima a P&aacute;scoa dos judeus e Jesus subiu a Jerusal&eacute;m. 14No Templo, encontrou os vendedores de bois, ovelhas e pombas e os cambistas que estavam a&iacute; sentados. 15Fez ent&atilde;o um chicote de cordas e expulsou todos do Templo, junto com as ovelhas e os bois; espalhou as moedas e derrubou as mesas dos cambistas. 16E disse aos que vendiam pombas: &quot;Tirai isto daqui! N&atilde;o fa&ccedil;ais da casa de meu Pai uma casa de com&eacute;rcio!&quot; 17Seus disc&iacute;pulos lembraram-se, mais tarde, que a Escritura diz: &quot;O zelo por tua casa me consumir&aacute;&quot;. 18Ent&atilde;o os judeus perguntaram a Jesus: &quot;Que sinal nos mostras para agir assim?&quot; 19Ele respondeu: &quot;Destru&iacute;, este Templo, e em tr&ecirc;s dias o levantarei&quot;. 20Os judeus disseram: &quot;Quarenta e seis anos foram precisos para a constru&ccedil;&atilde;o deste santu&aacute;rio e tu o levantar&aacute;s em tr&ecirc;s dias?&quot; 21Mas Jesus estava falando do Templo do seu corpo. 22Quando Jesus ressuscitou, os disc&iacute;pulos lembraram-se do que ele tinha dito e acreditaram na Escritura e na palavra dele.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            23Jesus estava em Jerusal&eacute;m durante a festa da P&aacute;scoa. Vendo os sinais que realizava, muitos creram no seu nome. 24Mas Jesus n&atilde;o lhes dava cr&eacute;dito, pois ele conhecia a todos; 25e n&atilde;o precisava do testemunho de ningu&eacute;m acerca do ser humano, porque ele conhecia o homem por dentro.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c4">
            CAP&Iacute;TULO 3
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            1Havia um chefe judaico, membro do grupo dos fariseus, chamado Nicodemos, 2que foi ter com Jesus, de noite, e lhe disse: &ldquo;Rabi, sabemos que vieste como mestre da parte de Deus. De fato, ningu&eacute;m pode realizar os sinais que tu fazes, a n&atilde;o ser que Deus esteja com ele&rdquo;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            3Jesus respondeu: &ldquo;Em verdade, em verdade, te digo, se algu&eacute;m n&atilde;o nasce do alto, n&atilde;o pode ver o Reino de Deus&rdquo;. 4Nicodemos disse: &ldquo;Como &eacute; que algu&eacute;m pode nascer, se j&aacute; &eacute; velho? Poder&aacute; entrar outra vez no ventre de sua m&atilde;e?&rdquo;
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            5Jesus respondeu: &ldquo;Em verdade, em verdade, te digo, se algu&eacute;m n&atilde;o nasce da &aacute;gua e do Esp&iacute;rito, n&atilde;o pode entrar no Reino de Deus. 6Quem nasce da carne &eacute; carne; quem nasce do Esp&iacute;rito &eacute; esp&iacute;rito. 7N&atilde;o te admires por eu haver dito: V&oacute;s deveis nascer do alto. 8O vento sopra onde quer e tu podes ouvir o seu ru&iacute;do, mas n&atilde;o sabes de onde vem, nem para onde vai. Assim acontece a todo aquele que nasceu do Esp&iacute;rito&rdquo;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            9Nicodemos perguntou: &ldquo;Como &eacute; que isso pode acontecer?&rdquo; 10Respondeu-lhe Jesus: &ldquo;Tu &eacute;s mestre em Israel, mas n&atilde;o sabes estas coisas? 11Em verdade, em verdade, te digo, n&oacute;s falamos daquilo que sabemos e damos testemunho daquilo que temos visto, mas v&oacute;s n&atilde;o aceitais o nosso testemunho. 12Se n&atilde;o acreditais, quando vos falo das coisas da terra, como acreditareis se vos falar das coisas do c&eacute;u? 13E ningu&eacute;m subiu ao c&eacute;u, a n&atilde;o ser aquele que desceu do c&eacute;u, o Filho do Homem. 14Do mesmo modo como Mois&eacute;s levantou a serpente no deserto, assim &eacute; necess&aacute;rio que o Filho do Homem seja levantado, 15para que todos os que nele crerem tenham a vida eterna&rdquo;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            16Deus amou tanto o mundo, que deu o seu Filho unig&ecirc;nito, para que n&atilde;o morra todo o que nele crer, mas tenha a vida eterna. 17De fato, Deus n&atilde;o enviou o seu Filho ao mundo para condenar o mundo, mas para que o mundo seja salvo por ele. 18Quem nele cr&ecirc; n&atilde;o &eacute; condenado, mas quem n&atilde;o cr&ecirc; j&aacute; est&aacute; condenado, porque n&atilde;o acreditou no nome do Filho unig&ecirc;nito.
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            19Ora, o julgamento &eacute; este: a luz veio ao mundo, mas os homens preferiram as trevas &agrave; luz, porque suas a&ccedil;&otilde;es eram m&aacute;s. 20Quem pratica o mal odeia a luz e n&atilde;o se aproxima da luz, para que suas a&ccedil;&otilde;es n&atilde;o sejam denunciadas. 21Mas quem age conforme a verdade aproxima-se da luz, para que se manifeste que suas a&ccedil;&otilde;es s&atilde;o realizadas em Deus.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            22Jesus foi com seus disc&iacute;pulos para a regi&atilde;o da Judeia. Permaneceu a&iacute; com eles e batizava. 23Tamb&eacute;m Jo&atilde;o estava batizando, em Enon, perto de Salim, onde havia muita &aacute;gua. A&iacute; chegavam as pessoas e eram batizadas.
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            24Jo&atilde;o ainda n&atilde;o tinha sido posto no c&aacute;rcere. 25Alguns disc&iacute;pulos de Jo&atilde;o estavam discutindo com um judeu a respeito da purifica&ccedil;&atilde;o. 26Foram a Jo&atilde;o e disseram: &ldquo;Rabi, aquele que estava contigo al&eacute;m do Jord&atilde;o e do qual tu deste testemunho, agora est&aacute; batizando e todos v&atilde;o a ele&rdquo;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            27Jo&atilde;o respondeu: &ldquo;Ningu&eacute;m pode receber alguma coisa, se n&atilde;o lhe for dada do c&eacute;u. 28V&oacute;s mesmos sois testemunhas daquilo que eu disse: &lsquo;Eu n&atilde;o sou o Messias, mas fui enviado na frente dele&rsquo;. 29&Eacute; o noivo que recebe a noiva, mas o amigo, que est&aacute; presente e o escuta, enche-se de alegria ao ouvir a voz do noivo. Esta &eacute; a minha alegria, e ela &eacute; completa. 30&Eacute; necess&aacute;rio que ele cres&ccedil;a e eu diminua&rdquo;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            31&ldquo;Aquele que vem do alto est&aacute; acima de todos. O que &eacute; da terra, pertence &agrave; terra e fala das coisas da terra. Aquele que vem do c&eacute;u est&aacute; acima de todos. 32D&aacute; testemunho daquilo que viu e ouviu, mas ningu&eacute;m aceita o seu testemunho. 33Quem aceita o seu testemunho atesta que Deus &eacute; verdadeiro. 34De fato, aquele que Deus enviou fala as palavras de Deus, porque Deus lhe d&aacute; o esp&iacute;rito sem medida.
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            35O Pai ama o Filho e entregou tudo em sua m&atilde;o. 36Aquele que acredita no Filho possui a vida eterna. Aquele, por&eacute;m, que rejeita o Filho n&atilde;o ver&aacute; a vida, pois a ira de Deus permanece sobre ele&rdquo;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c4">
            CAP&Iacute;TULO 4
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            5Jesus chegou a uma cidade da Samaria, chamada Sicar, perto do terreno que Jac&oacute; tinha dado ao seu filho Jos&eacute;. 6Era a&iacute; que ficava o po&ccedil;o de Jac&oacute;. Cansado da viagem, Jesus sentou-se junto ao po&ccedil;o. Era por volta de meio-dia. 7Chegou uma mulher de Samaria para tirar &aacute;gua. Jesus lhe disse: &ldquo;D&aacute;-me de beber&rdquo;.
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            8Os disc&iacute;pulos tinham ido &agrave; cidade para comprar alimentos. 9A mulher samaritana disse ent&atilde;o a Jesus: &ldquo;Como &eacute; que tu, sendo judeu, pedes de beber a mim, que sou uma mulher samaritana?&rdquo; De fato, os judeus n&atilde;o se d&atilde;o com os samaritanos.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            10Respondeu-lhe Jesus: &ldquo;Se tu conhecesses o dom de Deus e quem &eacute; que te pede: &lsquo;D&aacute;-me de beber&rsquo;, tu mesma lhe pedirias a ele, e ele te daria &aacute;gua viva&rdquo;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            11A mulher disse a Jesus: &ldquo;Senhor, nem sequer tens balde e o po&ccedil;o &eacute; fundo. De onde vais tirar &aacute;gua viva? 12Por acaso, &eacute;s maior que nosso pai Jac&oacute;, que nos deu o po&ccedil;o e que dele bebeu, como tamb&eacute;m seus filhos e seus animais?&rdquo;
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            13Respondeu Jesus: &ldquo;Todo aquele que bebe desta &aacute;gua ter&aacute; sede de novo. 14Mas quem beber da &aacute;gua que eu lhe darei, esse nunca mais ter&aacute; sede. E a &aacute;gua que eu lhe der se tornar&aacute; nele uma fonte de &aacute;gua que jorra para a vida eterna&rdquo;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            15A mulher disse a Jesus: &ldquo;Senhor, d&aacute;-me dessa &aacute;gua, para que eu n&atilde;o tenha mais sede e nem tenha de vir aqui para tir&aacute;-la&rdquo;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            ***16-19***
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            19b&ldquo;Senhor, vejo que &eacute;s um profeta!&rdquo; 20Os nossos pais adoraram neste monte, mas v&oacute;s dizeis que em Jerusal&eacute;m &eacute; que se deve adorar&rdquo;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            21Disse-lhe Jesus: &ldquo;Acredita-me, mulher: est&aacute; chegando a hora em que nem neste monte, nem em Jerusal&eacute;m adorareis o Pai. 22V&oacute;s adorais o que n&atilde;o conheceis. N&oacute;s adoramos o que conhecemos, pois a salva&ccedil;&atilde;o vem dos judeus.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            23Mas est&aacute; chegando a hora, e &eacute; agora, em que os verdadeiros adoradores adorar&atilde;o o Pai em esp&iacute;rito e verdade. De fato, estes s&atilde;o os adoradores que o Pai procura. 24Deus &eacute; esp&iacute;rito, e aqueles que o adoram devem ador&aacute;-lo em esp&iacute;rito e verdade&rdquo;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            25A mulher disse a Jesus: &ldquo;Sei que o Messias (que se chama Cristo) vai chegar. Quando ele vier, vai nos fazer conhecer todas as coisas&rdquo;. 26Disse-lhe Jesus: &ldquo;Sou eu, que estou falando contigo&rdquo;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            39aMuitos samaritanos daquela cidade abra&ccedil;aram a f&eacute; em Jesus. 40Por isso, os samaritanos vieram ao encontro de Jesus e pediram que permanecesse com eles. Jesus permaneceu a&iacute; dois dias. 41E muitos outros creram por causa da sua palavra. 42E disseram &agrave; mulher: &ldquo;J&aacute; n&atilde;o cremos por causa das tuas palavras, pois n&oacute;s mesmos ouvimos e sabemos que este &eacute; verdadeiramente o salvador do mundo&rdquo;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            43Jesus partiu da Samaria para Galileia. 44O pr&oacute;prio Jesus tinha declarado que um profeta n&atilde;o &eacute; honrado na sua pr&oacute;pria terra. 45Quando ent&atilde;o chegou &agrave; Galileia, os galileus receberam-no bem, porque tinham visto tudo o que Jesus tinha feito em Jerusal&eacute;m, durante a festa. Pois tamb&eacute;m eles tinham ido &agrave; festa. 46Assim, Jesus voltou para Can&aacute; da Galileia, onde havia transformado &aacute;gua em vinho.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            Havia em Cafarnaum um funcion&aacute;rio do rei que tinha um filho doente. 47Ouviu dizer que Jesus tinha vindo da Judeia para a Galileia. Ele saiu ao seu encontro e pediu-lhe que fosse a Cafarnaum curar seu filho, que estava morrendo. 48Jesus disse-lhe: &ldquo;Se n&atilde;o virdes sinais e prod&iacute;gios, n&atilde;o acreditais&rdquo;. 49O funcion&aacute;rio do rei disse: &ldquo;Senhor, desce, antes que meu filho morra!&rdquo;50Jesus lhe disse: &ldquo;Podes ir, teu filho est&aacute; vivo&rdquo;. O homem acreditou na palavra de Jesus e foi embora.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span>
            51Enquanto descia para Cafarnaum, seus empregados foram ao seu encontro, dizendo que o seu filho estava vivo. 52O funcion&aacute;rio perguntou a que horas o menino tinha melhorado. Eles responderam: &ldquo;A febre desapareceu, ontem, pela uma da tarde&rdquo;. 53O pai verificou que tinha exatamente na mesma hora em que Jesus lhe havia dito: &ldquo;Teu filho est&aacute; vivo&rdquo;. Ent&atilde;o, ele abra&ccedil;ou a f&eacute;, juntamente com toda a sua fam&iacute;lia. 54Esse foi o segundo sinal de Jesus. Realizou-o quando voltou da Judeia para a Galileia.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c4">
            CAP&Iacute;TULO 5
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            1Houve uma festa dos judeus, e Jesus foi a Jerusal&eacute;m. 2Existe em Jerusal&eacute;m, perto da porta das Ovelhas, uma piscina com cinco p&oacute;rticos, chamada Betesda em hebraico. 3Muitos doentes ficavam ali deitados &mdash; cegos, coxos e paral&iacute;ticos.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            4De fato, um anjo descia, de vez em quando, e movimentava a &aacute;gua da piscina, e o primeiro doente que a&iacute; entrasse, depois do borbulhar da &aacute;gua, ficava curado de qualquer doen&ccedil;a que tivesse. 5A&iacute; se encontrava um homem, que estava doente havia trinta e oito anos.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            6Jesus viu o homem deitado e sabendo que estava doente h&aacute; tanto tempo, disse-lhe: &ldquo;Queres ficar curado?&rdquo; 7O doente respondeu: &ldquo;Senhor, n&atilde;o tenho ningu&eacute;m que me leve &agrave; piscina, quando a &aacute;gua &eacute; agitada. Quando estou chegando, outro entra na minha frente&rdquo;. 8Jesus disse: &ldquo;Levanta-te, pega tua cama e anda&rdquo;. 9No mesmo instante, o homem ficou curado, pegou sua cama e come&ccedil;ou a andar. Ora, esse dia era um s&aacute;bado. 10Por isso, os judeus disseram ao homem que tinha sido curado: &ldquo;&Eacute; s&aacute;bado! N&atilde;o te &eacute; permitido carregar tua cama&rdquo;. 11Ele respondeu-lhes: &ldquo;Aquele que me curou disse: &lsquo;Pega tua cama e anda&rsquo;&rdquo;. 12Ent&atilde;o lhe perguntaram: &ldquo;Quem &eacute; que te disse: &lsquo;Pega tua cama e anda&rsquo;?&rdquo; 13O homem que tinha sido curado n&atilde;o sabia quem fora, pois Jesus se tinha afastado da multid&atilde;o que se encontrava naquele lugar.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            14Mais tarde, Jesus encontrou o homem no Templo e lhe disse: &ldquo;Eis que est&aacute;s curado. N&atilde;o voltes a pecar, para que n&atilde;o te aconte&ccedil;a coisa pior&rdquo;. 15Ent&atilde;o o homem saiu e contou aos judeus que tinha sido Jesus quem o havia curado. 16Por isso, os judeus come&ccedil;aram a perseguir Jesus, porque fazia tais coisas em dia de s&aacute;bado.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            17Jesus respondeu aos judeus: &ldquo;Meu Pai trabalha sempre, portanto tamb&eacute;m eu trabalho&rdquo;. 18Ent&atilde;o, os judeus ainda mais procuravam mat&aacute;-lo, porque, al&eacute;m de violar o s&aacute;bado, chamava Deus o seu Pai, fazendo-se, assim, igual a Deus.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            19Tomando a palavra, Jesus disse aos judeus: &ldquo;Em verdade, em verdade vos digo, o Filho n&atilde;o pode fazer nada por si mesmo; ele faz apenas o que v&ecirc; o Pai fazer. O que o Pai faz, o Filho o faz tamb&eacute;m. 20O Pai ama o Filho e lhe mostra tudo o que ele mesmo faz. E lhe mostrar&aacute; obras maiores ainda, de modo que ficareis admirados.
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            21Assim como o Pai ressuscita os mortos e lhes d&aacute; a vida, o Filho tamb&eacute;m d&aacute; a vida a quem ele quer. 22De fato, o Pai n&atilde;o julga ningu&eacute;m, mas ele deu ao Filho o poder de julgar, 23para que todos honrem o Filho, assim como honram o Pai. Quem n&atilde;o honra o Filho, tamb&eacute;m n&atilde;o honra o Pai que o enviou.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            24Em verdade, em verdade, eu vos digo, quem ouve a minha palavra e cr&ecirc; naquele que me enviou, possui a vida eterna. N&atilde;o ser&aacute; condenado, pois j&aacute; passou da morte para a vida. 25Em verdade, em verdade, eu vos digo: est&aacute; chegando a hora, e j&aacute; chegou, em que os mortos ouvir&atilde;o a voz do Filho de Deus e os que a ouvirem viver&atilde;o.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            26Porque, assim como o Pai possui a vida em si mesmo, do mesmo modo concedeu ao Filho possuir a vida em si mesmo. 27Al&eacute;m disso, deu-lhe o poder de julgar, pois ele &eacute; o Filho do Homem. 28N&atilde;o fiqueis admirados com isso, porque vai chegar a hora em que todos os que est&atilde;o nos t&uacute;mulos ouvir&atilde;o a voz do Filho e sair&atilde;o: 29aqueles que fizeram o bem, ressuscitar&atilde;o para a vida; e aqueles que praticaram o mal, para a condena&ccedil;&atilde;o.
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            30Eu n&atilde;o posso fazer nada por mim mesmo. Eu julgo conforme o que escuto, e meu julgamento &eacute; justo, porque n&atilde;o procuro fazer a minha vontade, mas a vontade daquele que me enviou.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            31&ldquo;Se eu der testemunho de mim mesmo, meu testemunho n&atilde;o vale. 32Mas h&aacute; um outro que d&aacute; testemunho de mim, e eu sei que o testemunho que ele d&aacute; de mim &eacute; verdadeiro.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            33V&oacute;s mandastes mensageiros a Jo&atilde;o, e ele deu testemunho da verdade. 34Eu, por&eacute;m, n&atilde;o dependo do testemunho de um ser humano. Mas falo assim para a vossa salva&ccedil;&atilde;o. 35Jo&atilde;o era uma l&acirc;mpada que estava acesa e a brilhar, e v&oacute;s com prazer vos alegrastes por um tempo com sua luz.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            36Mas eu tenho um testemunho maior que o de Jo&atilde;o; as obras que o Pai me concedeu realizar. As obras que eu fa&ccedil;o d&atilde;o testemunho de mim, mostrando que o Pai me enviou. 37E tamb&eacute;m o Pai que me enviou d&aacute; testemunho a meu favor. V&oacute;s nunca ouvistes sua voz, nem vistes sua face, 38e sua palavra n&atilde;o encontrou morada em v&oacute;s, pois n&atilde;o acreditais naquele que ele enviou.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            39V&oacute;s examinais as Escrituras, pensando que nelas possu&iacute;s a vida eterna. No entanto, as Escrituras d&atilde;o testemunho de mim, 40mas n&atilde;o quereis vir a mim para ter a vida eterna! 41Eu n&atilde;o recebo a gl&oacute;ria que vem dos homens. 42Mas eu sei que n&atilde;o tendes em v&oacute;s o amor de Deus. 43Eu vim em nome do meu Pai, e v&oacute;s n&atilde;o me recebeis. Mas, se um outro viesse em seu pr&oacute;prio nome, a este v&oacute;s o receber&iacute;eis.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            44Como podereis acreditar, v&oacute;s que recebeis gl&oacute;ria uns dos outros e n&atilde;o buscais a gl&oacute;ria que vem do &uacute;nico Deus? 45N&atilde;o penseis que eu vos acusarei diante do Pai. H&aacute; algu&eacute;m que vos acusa: Mois&eacute;s, no qual colocais a vossa esperan&ccedil;a. 46Se acre&shy;dit&aacute;sseis em Mois&eacute;s, tamb&eacute;m acreditar&iacute;eis em mim, pois foi a respeito de mim que ele escreveu. 47Mas se n&atilde;o acreditais nos seus escritos, como acreditareis ent&atilde;o nas minhas palavras?&rdquo;
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c4">
            CAP&Iacute;TULO 6
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            1Jesus foi para o outro lado do mar da Galileia, tamb&eacute;m chamado de Tiber&iacute;ades. 2Uma grande multid&atilde;o o seguia, porque via os sinais que ele operava a favor dos doentes. 3Jesus subiu ao monte e sentou-se a&iacute;, com seus disc&iacute;pulos. 4Estava pr&oacute;xima a P&aacute;scoa, a festa dos judeus.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            5Levantando os olhos, e vendo que uma grande multid&atilde;o estava vindo ao seu encontro, Jesus disse a Filipe: &ldquo;Onde vamos comprar p&atilde;o para que eles possam comer?&rdquo; 6Disse isso para p&ocirc;-lo &agrave; prova, pois ele mesmo sabia muito bem o que ia fazer. 7Filipe respondeu: &ldquo;Nem duzentas moedas de prata bastariam para dar um peda&ccedil;o de p&atilde;o a cada um&rdquo;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            8Um dos disc&iacute;pulos, Andr&eacute;, o irm&atilde;o de Sim&atilde;o Pedro, disse: 9&ldquo;Est&aacute; aqui um menino com cinco p&atilde;es de cevada e dois peixes. Mas o que &eacute; isso para tanta gente?&rdquo; 10Jesus disse: &ldquo;Fazei sentar as pessoas&rdquo;. Havia muita relva naquele lugar, e l&aacute; se sentaram, aproximadamente, cinco mil homens.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            11Jesus tomou os p&atilde;es, deu gra&ccedil;as e distribuiu-os aos que estavam sentados, tanto quanto queriam. E fez o mesmo com os peixes. 12Quando todos ficaram satisfeitos, Jesus disse aos disc&iacute;pulos: &ldquo;Recolhei os peda&ccedil;os que sobraram, para que nada se perca!&rdquo;
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            13Recolheram os peda&ccedil;os e encheram doze cestos com as sobras dos cinco p&atilde;es, deixadas pelos que haviam comido. 14Vendo o sinal que Jesus tinha realizado, aqueles homens exclamavam: &ldquo;Este &eacute; verdadeiramente o Profeta, aquele que deve vir ao mundo&rdquo;. 15Mas, quando notou que estavam querendo lev&aacute;-lo para proclam&aacute;-lo rei, Jesus retirou-se de novo, sozinho, para o monte.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            16Ao cair da tarde, os disc&iacute;pulos desceram ao mar. 17Entraram na barca e foram em dire&ccedil;&atilde;o a Cafarnaum, do outro lado do mar. J&aacute; estava escuro, e Jesus ainda n&atilde;o tinha vindo ao encontro deles.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            18Soprava um vento forte e o mar estava agitado. 19Os disc&iacute;pulos tinham remado mais ou menos cinco quil&ocirc;metros, quando enxergaram Jesus, andando sobre as &aacute;guas e aproximando-se da barca. E ficaram com medo.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            20Mas Jesus disse: &ldquo;Sou eu. N&atilde;o tenhais medo&rdquo;. 21Quiseram, ent&atilde;o, recolher Jesus na barca, mas imediatamente a barca chegou &agrave; margem para onde estavam indo.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            22No dia seguinte, a multid&atilde;o que tinha ficado do outro lado do mar constatou que havia s&oacute; uma barca e que Jesus n&atilde;o tinha subido para ela com os disc&iacute;pulos, mas que eles tinham partido sozinhos.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            23Entretanto, tinham chegado outras barcas de Tiber&iacute;ades, perto do lugar onde tinham comido o p&atilde;o depois de o Senhor ter dado gra&ccedil;as. 24Quando a multid&atilde;o viu que Jesus n&atilde;o estava ali, nem os seus disc&iacute;pulos, subiram &agrave;s barcas e foram &agrave; procura de Jesus, em Cafarnaum.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            25Quando o encontraram no outro lado do mar, perguntaram-lhe: &ldquo;Rabi, quando chegaste aqui?&rdquo; 26Jesus respondeu: &ldquo;Em verdade, em verdade, eu vos digo: estais me procurando n&atilde;o porque vistes sinais, mas porque comestes p&atilde;o e ficastes satisfeitos. 27Esfor&ccedil;ai-vos n&atilde;o pelo alimento que se perde, mas pelo alimento que permanece at&eacute; a vida eterna, e que o Filho do homem vos dar&aacute;. Pois este &eacute; quem o Pai marcou com seu selo&rdquo;. 28Ent&atilde;o perguntaram: &ldquo;Que devemos fazer para realizar as obras de Deus?&rdquo; 29Jesus respondeu: &ldquo;A obra de Deus &eacute; que acrediteis naquele que ele enviou&rdquo;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            30Que sinal realizas, para que possamos ver e crer em ti? Que obras fazes? 31Nossos pais comeram o man&aacute; no deserto, como est&aacute; na Escritura: &lsquo;P&atilde;o do c&eacute;u deu-lhes a comer&rsquo;&rdquo;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            32Jesus respondeu: &ldquo;Em verdade, em verdade vos digo, n&atilde;o foi Mois&eacute;s quem vos deu o p&atilde;o que veio do c&eacute;u. &Eacute; meu Pai que vos d&aacute; o verdadeiro p&atilde;o do c&eacute;u. 33Pois o p&atilde;o de Deus &eacute; aquele que desce do c&eacute;u e d&aacute; vida ao mundo&rdquo;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            34Ent&atilde;o pediram: &ldquo;Senhor, d&aacute;-nos sempre desse p&atilde;o&rdquo;. 35Jesus lhes disse: &ldquo;Eu sou o p&atilde;o da vida. Quem vem a mim n&atilde;o ter&aacute; mais fome e quem cr&ecirc; em mim nunca mais ter&aacute; sede. 36Eu, por&eacute;m, vos disse que v&oacute;s me vistes, mas n&atilde;o acreditais. 37Todos os que o Pai me confia vir&atilde;o a mim e, quando vierem, n&atilde;o os afastarei.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            38Pois eu desci do c&eacute;u n&atilde;o para fazer a minha vontade, mas a vontade daquele que me enviou. 39E esta &eacute; a vontade daquele que me enviou: que eu n&atilde;o perca nenhum daqueles que ele me deu, mas os ressuscite no &uacute;ltimo dia. 40Pois esta &eacute; a vontade do meu Pai: que toda pessoa que v&ecirc; o Filho e nele cr&ecirc; tenha a vida eterna. E eu o ressuscitarei no &uacute;ltimo dia&rdquo;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            41os judeus come&ccedil;aram a murmurar a respeito de Jesus, porque havia dito: &ldquo;Eu sou o p&atilde;o que desceu do c&eacute;u&rdquo;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            42Eles comentavam: &ldquo;N&atilde;o &eacute; este Jesus o filho de Jos&eacute;? N&atilde;o conhecemos seu pai e sua m&atilde;e? Como pode ent&atilde;o dizer que desceu do c&eacute;u?&rdquo;
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            43Jesus respondeu: &ldquo;N&atilde;o murmureis entre v&oacute;s. 44Ningu&eacute;m pode vir a mim, se o Pai que me enviou n&atilde;o o atrai. E eu o ressuscitarei no &uacute;ltimo dia. 45Est&aacute; escrito nos profetas: &lsquo;Todos ser&atilde;o disc&iacute;pulos de Deus&rsquo;. Ora, todo aquele que escutou o Pai, e por ele foi instru&iacute;do, vem a mim. 46N&atilde;o que algu&eacute;m j&aacute; tenha visto o Pai. S&oacute; aquele que vem de junto de Deus viu o Pai. 47Em verdade, em verdade vos digo, quem cr&ecirc;, possui a vida eterna.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            48Eu sou o p&atilde;o da vida. 49Os vossos pais comeram o man&aacute; no deserto e, no entanto, morreram. 50Eis aqui o p&atilde;o que desce do c&eacute;u: quem dele comer, nunca morrer&aacute;. 51Eu sou o p&atilde;o vivo descido do c&eacute;u. Quem comer deste p&atilde;o viver&aacute; eternamente. E o p&atilde;o que eu darei &eacute; a minha carne dada para a vida do mundo&rdquo;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            52os judeus discutiam entre si, dizendo: &ldquo;Como &eacute; que ele pode dar a sua carne a comer?&rdquo; 53Ent&atilde;o Jesus disse: &ldquo;Em verdade, em verdade vos digo, se n&atilde;o comerdes a carne do Filho do Homem e n&atilde;o beberdes o seu sangue, n&atilde;o tereis a vida em v&oacute;s. 54Quem come a minha carne e bebe o meu sangue tem vida eterna, e eu o ressuscitarei no &uacute;ltimo dia. 55Porque a minha carne &eacute; verdadeira comida e o meu sangue, verdadeira bebida. 56Quem come a minha carne e bebe o meu sangue permanece em mim e eu nele. 57Como o Pai, que vive, me enviou, e eu vivo por causa do Pai, assim o que me come viver&aacute; por causa de mim. 58Este &eacute; o p&atilde;o que desceu do c&eacute;u. N&atilde;o &eacute; como aquele que os vossos pais comeram. Eles morreram. Aquele que come este p&atilde;o viver&aacute; para sempre&rdquo;. 59Assim falou Jesus, ensinando na sinagoga em Cafarnaum.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            60muitos dos disc&iacute;pulos de Jesus, que o escutaram, disseram: &ldquo;Esta palavra &eacute; dura. Quem consegue escut&aacute;-la?&rdquo;
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            61Sabendo que seus disc&iacute;pulos estavam murmurando por causa disso mesmo, Jesus perguntou: &ldquo;Isto vos escandaliza? 62E quando virdes o Filho do Homem subindo para onde estava antes? 63O Esp&iacute;rito &eacute; que d&aacute; vida, a carne n&atilde;o adianta nada. As palavras que vos falei s&atilde;o esp&iacute;rito e vida. 64Mas entre v&oacute;s h&aacute; alguns que n&atilde;o creem&rdquo;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            Jesus sabia, desde o in&iacute;cio, quem eram os que n&atilde;o tinham f&eacute; e quem havia de entreg&aacute;-lo.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            65E acrescentou: &ldquo;&Eacute; por isso que vos disse: ningu&eacute;m pode vir a mim, a n&atilde;o ser que lhe seja concedido pelo Pai&rdquo;. 66A partir daquele momento, muitos disc&iacute;pulos voltaram atr&aacute;s e n&atilde;o andavam mais com ele. 67Ent&atilde;o, Jesus disse aos doze: &ldquo;V&oacute;s tamb&eacute;m vos quereis ir embora?&rdquo;
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            68Sim&atilde;o Pedro respondeu: &ldquo;A quem iremos, Senhor? Tu tens palavras de vida eterna. 69N&oacute;s cremos firmemente e reconhecemos que tu &eacute;s o Santo de Deus&rdquo;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            ***70-71***
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c4">
            CAP&Iacute;TULO 7
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            1Jesus andava percorrendo a Galileia. Evitava andar pela Judeia, porque os judeus procuravam mat&aacute;-lo. 2Entretanto, aproximava-se a festa judaica das Tendas.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            ***3-9***
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            10Quando seus irm&atilde;os j&aacute; tinham subido, ent&atilde;o tamb&eacute;m ele subiu para a festa, n&atilde;o publicamente mas sim como que &agrave;s escondidas.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            ***11-24***
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            25Alguns habitantes de Jerusal&eacute;m disseram ent&atilde;o: &ldquo;N&atilde;o &eacute; este a quem procuram matar? 26Eis que fala em p&uacute;blico e nada lhe dizem. Ser&aacute; que, na verdade, as autoridades reconheceram que ele &eacute; o Messias? 27Mas este, n&oacute;s sabemos donde &eacute;. O Cristo, quando vier, ningu&eacute;m saber&aacute; donde &eacute;&rdquo;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            28Em alta voz, Jesus ensinava no Templo, dizendo: &ldquo;V&oacute;s me conheceis e sabeis de onde sou; eu n&atilde;o vim por mim mesmo, mas o que me enviou &eacute; fidedigno. A esse, n&atilde;o o conheceis, 29mas eu o conhe&ccedil;o, porque venho da parte dele, e ele foi quem me enviou&rdquo;. 30Ent&atilde;o, queriam prend&ecirc;-lo, mas ningu&eacute;m p&ocirc;s a m&atilde;o nele, porque ainda n&atilde;o tinha chegado a sua hora.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            31&ldquo;Com quem hei de comparar os homens desta gera&ccedil;&atilde;o? Com quem eles se parecem? 32S&atilde;o como crian&ccedil;as que se sentam nas pra&ccedil;as, e se dirigem aos colegas, dizendo: &lsquo;Tocamos flauta para v&oacute;s e n&atilde;o dan&ccedil;astes; fizemos lamenta&ccedil;&otilde;es e n&atilde;o chorastes!&rsquo;
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            33Pois veio Jo&atilde;o Batista, que n&atilde;o comia p&atilde;o nem bebia vinho, e v&oacute;s dissestes: &lsquo;Ele est&aacute; com um dem&ocirc;nio!&rsquo; 34Veio o Filho do Homem, que come e bebe, e v&oacute;s dizeis: &lsquo;Ele &eacute; um comil&atilde;o e beberr&atilde;o, amigo dos publicanos e dos pecadores!&rsquo; 35Mas a sabedoria foi justificada por todos os seus filhos&rdquo;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            ***36***
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            37No &uacute;ltimo dia da festa, o dia mais solene, Jesus, em p&eacute;, proclamou em voz alta: &#39;Se algu&eacute;m tem sede, venha a mim, e beba. 38Aquele que cr&ecirc; em mim, conforme diz a Escritura, rios de &aacute;gua viva jorrar&atilde;o do seu interior.&#39; 39Jesus falava do Esp&iacute;rito, que deviam receber os que tivessem f&eacute; nele; pois ainda n&atilde;o tinha sido dado o Esp&iacute;rito, porque Jesus ainda n&atilde;o tinha sido glorificado.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            40Ao ouvirem as palavras de Jesus, algumas pessoas da multid&atilde;o diziam: &ldquo;Este &eacute;, verdadeiramente, o Profeta&rdquo;. 41Outros diziam: &ldquo;Ele &eacute; o Messias&rdquo;. Mas alguns objetavam: &ldquo;Porventura o Messias vir&aacute; da Galileia? 42N&atilde;o diz a Escritura que o Messias ser&aacute; da descend&ecirc;ncia de Davi e vir&aacute; de Bel&eacute;m, povoado de onde era Davi?&rdquo;
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            43Assim, houve divis&atilde;o no meio do povo por causa de Jesus. 44Alguns queriam prend&ecirc;-lo, mas ningu&eacute;m p&ocirc;s as m&atilde;os nele. 45Ent&atilde;o, os guardas do Templo voltaram para os sumos sacerdotes e os fariseus, e estes lhes perguntaram: &ldquo;Por que n&atilde;o o trouxestes?&rdquo;
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            46Os guardas responderam: &ldquo;Ningu&eacute;m jamais falou como este homem&rdquo;. 47Ent&atilde;o os fariseus disseram-lhes: &ldquo;Tamb&eacute;m v&oacute;s vos deixastes enganar? 48Por acaso algum dos chefes ou dos fariseus acreditou nele? 49Mas esta gente que n&atilde;o conhece a Lei, &eacute; maldita!&rdquo;
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            50Nicodemos, por&eacute;m, um dos fariseus, aquele que se tinha encontrado com Jesus anteriormente, disse: 51&ldquo;Ser&aacute; que a nossa Lei julga algu&eacute;m, antes de o ouvir e saber o que ele fez?&rdquo; 52Eles responderam: &ldquo;Tamb&eacute;m tu &eacute;s galileu, porventura? Vai estudar e ver&aacute;s que da Galileia n&atilde;o surge profeta&rdquo;. 53E cada um voltou para sua casa.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c4">
            CAP&Iacute;TULO 8
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            1Jesus foi para o monte das Oliveiras. 2De madrugada, voltou de novo ao Templo. Todo o povo se reuniu em volta dele. Sentando-se, come&ccedil;ou a ensin&aacute;-los. 3Entretanto, os mestres da Lei e os fariseus trouxeram uma mulher surpreendida em adult&eacute;rio. Levando-a para o meio deles, 4disseram a Jesus: &ldquo;Mestre, esta mulher foi surpreendida em flagrante adult&eacute;rio. 5Mois&eacute;s na Lei mandou apedrejar tais mulheres. Que dizes tu?&rdquo;
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            6Perguntavam isso para experimentar Jesus e para terem motivo de o acusar. Mas Jesus, inclinando-se, come&ccedil;ou a escrever com o dedo no ch&atilde;o. 7Como persistissem em interrog&aacute;-lo, Jesus ergueu-se e disse: &ldquo;Quem dentre v&oacute;s n&atilde;o tiver pecado, seja o primeiro a atirar-lhe uma pedra&rdquo;. 8E tornando a inclinar-se, continuou a escrever no ch&atilde;o.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            9E eles, ouvindo o que Jesus falou, foram saindo um a um, a come&ccedil;ar pelos mais velhos; e Jesus ficou sozinho, com a mulher que estava l&aacute;, no meio, em p&eacute;. 10Ent&atilde;o Jesus se levantou e disse: &ldquo;Mulher, onde est&atilde;o eles? Ningu&eacute;m te condenou?&rdquo; 11Ela respondeu: &ldquo;Ningu&eacute;m, Senhor&rdquo;. Ent&atilde;o Jesus lhe disse: &ldquo;Eu, tamb&eacute;m, n&atilde;o te condeno. Podes ir, e de agora em diante n&atilde;o peques mais&rdquo;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            12Jesus falou: &ldquo;Eu sou a luz do mundo. Quem me segue n&atilde;o caminha nas trevas, mas ter&aacute; a luz da vida&rdquo;. 13Os fariseus ent&atilde;o disseram: &ldquo;O teu testemunho n&atilde;o &eacute; verdadeiro, porque d&aacute;s testemunho de ti mesmo&rdquo;. 14Jesus respondeu: &ldquo;Embora eu d&ecirc; testemunho de mim mesmo, o meu testemunho &eacute; verdadeiro, porque eu sei de onde venho e para onde vou. Mas v&oacute;s n&atilde;o sabeis de onde venho, nem para onde eu vou. 15V&oacute;s julgais segundo a carne; eu n&atilde;o julgo ningu&eacute;m, 16e se eu julgo, o meu julgamento &eacute; verdadeiro, porque eu n&atilde;o estou s&oacute;, mas o Pai que me enviou est&aacute; comigo. 17Na vossa Lei est&aacute; escrito que o testemunho de duas pessoas &eacute; verdadeiro. 18Ora, eu dou testemunho de mim mesmo, e tamb&eacute;m o Pai, que me enviou, d&aacute; testemunho de mim&rdquo;. 19Eles, ent&atilde;o, perguntaram: &ldquo;Onde est&aacute; o teu Pai?&rdquo; Jesus respondeu: &ldquo;V&oacute;s n&atilde;o conheceis nem a mim, nem a meu Pai. Se me conhec&ecirc;sseis, conhecer&iacute;eis tamb&eacute;m o meu Pai&rdquo;. 20Ele falou essas coisas enquanto ensinava no templo, junto &agrave; sala do tesouro. Ningu&eacute;m o prendeu, porque sua hora ainda n&atilde;o tinha chegado. 21&ldquo;Eu parto, e v&oacute;s me procurareis, mas morrereis no vosso pecado. Para onde eu vou, v&oacute;s n&atilde;o podeis ir&rdquo;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            22Os judeus comentavam: &ldquo;Por acaso, vai-se matar? Pois ele diz: &lsquo;Para onde eu vou, v&oacute;s n&atilde;o podeis ir&rsquo;?&rdquo;
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            23Jesus continuou: &ldquo;V&oacute;s sois daqui debaixo, eu sou do alto. V&oacute;s sois deste mundo, eu n&atilde;o sou deste mundo. 24Disse-vos que morrereis nos vossos pecados, porque, se n&atilde;o acreditais que eu sou, morrereis nos vossos pecados&rdquo;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            25Perguntaram-lhe pois: &ldquo;Quem &eacute;s tu, ent&atilde;o?&rdquo; Jesus respondeu: &ldquo;O que vos digo, desde o come&ccedil;o. 26Tenho muitas coisas a dizer a vosso respeito, e a julgar, tamb&eacute;m. Mas aquele que me enviou &eacute; fidedigno, e o que ouvi da parte dele &eacute; o que falo para o mundo&rdquo;.27Eles n&atilde;o compreenderam que lhes estava falando do Pai. 28Por isso, Jesus continuou: &ldquo;Quando tiverdes elevado o Filho do Homem, ent&atilde;o sabereis que eu sou, e que nada fa&ccedil;o por mim mesmo, mas apenas falo aquilo que o Pai me ensinou. 29Aquele que me enviou est&aacute; comigo. Ele n&atilde;o me deixou sozinho, porque sempre fa&ccedil;o o que &eacute; de seu agrado&rdquo;. 30Enquanto Jesus assim falava, muitos acreditaram nele.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            31Jesus disse aos judeus que nele tinham acreditado: &ldquo;Se permanecerdes na minha palavra, sereis verdadeiramente meus disc&iacute;pulos, 32e co&shy;nhecereis a verdade, e a verdade vos libertar&aacute;&rdquo;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            33Responderam eles: &ldquo;Somos descendentes de Abra&atilde;o, e nunca fomos escravos de ningu&eacute;m. Como podes dizer: &lsquo;V&oacute;s vos tornareis livres&rsquo;?&rdquo;
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            34Jesus respondeu: &ldquo;Em verdade, em verdade vos digo, todo aquele que comete pecado &eacute; escravo do pecado. 35O escravo n&atilde;o permanece para sempre numa fam&iacute;lia, mas o filho permanece nela para sempre. 36Se, pois, o Filho vos libertar, sereis verdadeiramente livres. 37Bem sei que sois descendentes de Abra&atilde;o; no entanto, procurais matar-me, porque a minha palavra n&atilde;o &eacute; acolhida por v&oacute;s. 38Eu falo o que vi junto do Pai; e v&oacute;s fazeis o que ouvistes do vosso pai&rdquo;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            39Eles responderam ent&atilde;o: &ldquo;Nosso pai &eacute; Abra&atilde;o&rdquo;. Disse-lhes Jesus: &ldquo;Se sois filhos de Abra&atilde;o, praticai as obras de Abra&atilde;o! 40Mas agora, v&oacute;s procurais matar-me, a mim, que vos falei a verdade que ouvi de Deus. Isto, Abra&atilde;o n&atilde;o o fez. 41V&oacute;s fazeis as obras do vosso pai&rdquo;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            Disseram-lhe, ent&atilde;o: &ldquo;N&oacute;s n&atilde;o nascemos do adult&eacute;rio, temos um s&oacute; pai: Deus&rdquo;. 42Respondeu-lhes Jesus: &ldquo;Se Deus fosse vosso Pai, certamente me amar&iacute;eis, porque de Deus &eacute; que eu sa&iacute;, e vim. N&atilde;o vim por mim mesmo, mas foi ele que me enviou&rdquo;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            ***43-50***
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            51&ldquo;Em verdade, em verdade vos digo: se algu&eacute;m guardar a minha palavra, jamais ver&aacute; a morte&rdquo;. 52Disseram ent&atilde;o os judeus: &ldquo;Agora sabemos que tens um dem&ocirc;nio. Abra&atilde;o morreu e os profetas tamb&eacute;m, e tu dizes: &lsquo;Se algu&eacute;m guardar a minha palavra jamais ver&aacute; a morte&rsquo;. 53Acaso &eacute;s maior do que nosso pai Abra&atilde;o, que morreu, como tamb&eacute;m os profetas? Quem pretendes ser?&rdquo;
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            54Jesus respondeu: &ldquo;Se me glorifico a mim mesmo, minha gl&oacute;ria n&atilde;o vale nada. Quem me glorifica &eacute; o meu Pai, aquele que v&oacute;s dizeis ser o vosso Deus. 55No entanto, n&atilde;o o conheceis. Mas eu o conhe&ccedil;o e, se dissesse que n&atilde;o o conhe&ccedil;o, seria um mentiroso, como v&oacute;s! Mas eu o conhe&ccedil;o e guardo a sua palavra. 56Vosso pai Abra&atilde;o exultou, por ver o meu dia; ele o viu, e alegrou-se&rdquo;. 57Os judeus disseram-lhe ent&atilde;o: &ldquo;Nem sequer cinquenta anos tens, e viste Abra&atilde;o!&rdquo; 58Jesus respondeu: &ldquo;Em verdade, em verdade vos digo, antes que Abra&atilde;o existisse, eu sou&rdquo;. 59Ent&atilde;o eles pegaram em pedras para apedrejar Jesus, mas ele escondeu-se e saiu do Templo.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c4">
            CAP&Iacute;TULO 9
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            1ao passar, Jesus viu um homem cego de nascen&ccedil;a. 6E cuspiu no ch&atilde;o, fez lama com a saliva e colocou-a sobre os olhos do cego. 7E disse-lhe: &ldquo;Vai lavar-te na piscina de Silo&eacute;&rdquo; (que quer dizer: Enviado). O cego foi, lavou-se e voltou enxergando.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            8Os vizinhos e os que costumavam ver o cego &mdash; pois ele era mendigo &mdash; diziam: &ldquo;N&atilde;o &eacute; aquele que ficava pedindo esmola?&rdquo; 9Uns diziam: &ldquo;Sim, &eacute; ele!&rdquo; Outros afirmavam: &ldquo;N&atilde;o &eacute; ele, mas algu&eacute;m parecido com ele&rdquo;. Ele, por&eacute;m, dizia: &ldquo;Sou eu mesmo!&rdquo;
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            ***10-12***
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            13Levaram ent&atilde;o aos fariseus o homem que tinha sido cego. 14Ora, era s&aacute;bado, o dia em que Jesus tinha feito lama e aberto os olhos do cego. 15Novamente, ent&atilde;o, lhe perguntaram os fariseus como tinha recuperado a vista. Respondeu-lhes: &ldquo;Colocou lama sobre os meus olhos, fui lavar-me e agora vejo!&rdquo;
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            16Disseram, ent&atilde;o, alguns dos fariseus: &ldquo;Esse homem n&atilde;o vem de Deus, pois n&atilde;o guarda o s&aacute;bado&rdquo;. Mas outros diziam: &ldquo;Como pode um pecador fazer tais sinais?&rdquo;
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            17E havia diverg&ecirc;ncia entre eles. Perguntaram outra vez ao cego: &ldquo;E tu, que dizes daquele que te abriu os olhos?&rdquo; Respondeu: &ldquo;&Eacute; um profeta&rdquo;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            ***18-33***
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            34Os fariseus disseram-lhe: &ldquo;Tu nasceste todo em pecado e est&aacute;s nos ensinando?&rdquo; E expulsaram-no da comunidade.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            35Jesus soube que o tinham expulsado. Encontrando-o, perguntou-lhe: &ldquo;Acreditas no Filho do Homem?&rdquo; 36Respondeu ele: &ldquo;Quem &eacute;, Senhor, para que eu creia nele?&rdquo; 37Jesus disse: &ldquo;Tu o est&aacute;s vendo; &eacute; aquele que est&aacute; falando contigo&rdquo;. Exclamou ele: 38&ldquo;Eu creio, Senhor!&rdquo; E prostrou-se diante de Jesus.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            ***39-41***
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c5">
            CAP&Iacute;TULO 10
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            1&ldquo;Em verdade, em verdade vos digo, quem n&atilde;o entra no redil das ovelhas pela porta, mas sobe por outro lugar, &eacute; ladr&atilde;o e assaltante. 2Quem entra pela porta &eacute; o pastor das ovelhas. 3A esse o porteiro abre, e as ovelhas escutam a sua voz; ele chama as ovelhas pelo nome e as conduz para fora. 4E, depois de fazer sair todas as que s&atilde;o suas, caminha &agrave; sua frente, e as ovelhas o seguem, porque conhecem a sua voz. 5Mas n&atilde;o seguem um estranho, antes fogem dele, porque n&atilde;o conhecem a voz dos estranhos&rdquo;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            6Jesus contou-lhes esta par&aacute;bola, mas eles n&atilde;o entenderam o que ele queria dizer. 7Ent&atilde;o Jesus continuou: &ldquo;Em verdade, em verdade vos digo, eu sou a porta das ovelhas. 8Todos aqueles que vieram antes de mim s&atilde;o ladr&otilde;es e assaltantes, mas as ovelhas n&atilde;o os escutaram. 9Eu sou a porta. Quem entrar por mim, ser&aacute; salvo; entrar&aacute; e sair&aacute; e encontrar&aacute; pastagem. 10O ladr&atilde;o s&oacute; vem para roubar, matar e destruir. Eu vim para que tenham vida e a tenham em abund&acirc;ncia&rdquo;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            11&ldquo;Eu sou o bom pastor. O bom pastor d&aacute; a vida por suas ovelhas. 12O mercen&aacute;rio, que n&atilde;o &eacute; pastor e n&atilde;o &eacute; dono das ovelhas, v&ecirc; o lobo chegar, abandona as ovelhas e foge, e o lobo as ataca e dispersa. 13Pois ele &eacute; apenas um mercen&aacute;rio e n&atilde;o se importa com as ovelhas.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            14Eu sou o bom pastor. Conhe&ccedil;o as minhas ovelhas, e elas me conhecem, 15assim como o Pai me conhece e eu conhe&ccedil;o o Pai. Eu dou minha vida pelas ovelhas. 16Tenho ainda outras ovelhas que n&atilde;o s&atilde;o deste redil: tamb&eacute;m a elas devo conduzir; escutar&atilde;o a minha voz, e haver&aacute; um s&oacute; rebanho e um s&oacute; pastor.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            17&Eacute; por isso que o Pai me ama, porque dou a minha vida, para depois receb&ecirc;-la novamente. 18Ningu&eacute;m tira a minha vida, eu a dou por mim mesmo; tenho poder de entreg&aacute;-la e tenho poder de receb&ecirc;-la novamente; esta &eacute; a ordem que recebi de meu Pai&rdquo;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            18-20
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            22Celebrava-se, em Jerusal&eacute;m, a festa da Dedica&ccedil;&atilde;o do Templo. Era inverno. 23Jesus passeava pelo Templo, no p&oacute;rtico de Salom&atilde;o. 24Os judeus rodeavam-no e disseram: &ldquo;At&eacute; quando nos deixar&aacute;s em d&uacute;vida? Se tu &eacute;s o Messias, dize-nos abertamente&rdquo;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            25Jesus respondeu: &ldquo;J&aacute; vo-lo disse, mas v&oacute;s n&atilde;o acreditais. As obras que eu fa&ccedil;o em nome do meu Pai d&atilde;o testemunho de mim; 26v&oacute;s, por&eacute;m, n&atilde;o acreditais, porque n&atilde;o sois das minhas ovelhas. 27As minhas ovelhas escutam a minha voz, eu as conhe&ccedil;o e elas me seguem. 28Eu dou-lhes a vida eterna e elas jamais se perder&atilde;o. E ningu&eacute;m vai arranc&aacute;-las de minha m&atilde;o.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            29Meu Pai, que me deu estas ovelhas, &eacute; maior que todos, e ningu&eacute;m pode arrebat&aacute;-las da m&atilde;o do Pai. 30Eu e o Pai somos um&rdquo;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            31Os judeus pegaram pedras para apedrejar Jesus. 32E ele lhes disse: &ldquo;Por ordem do Pai, mostrei-vos muitas obras boas. Por qual delas me quereis apedrejar?&rdquo; 33Os judeus responderam: &ldquo;N&atilde;o queremos te apedrejar por causa das obras boas, mas por causa de blasf&ecirc;mia, porque sendo apenas um homem, tu te fazes Deus!&rdquo; 34Jesus disse: &ldquo;Acaso n&atilde;o est&aacute; escrito na vossa Lei: &lsquo;Eu disse: v&oacute;s sois deuses&rsquo;? 35Ora, ningu&eacute;m pode anular a Escritura: se a Lei chama deuses as pessoas &agrave;s quais se dirigiu a palavra de Deus, 36por que ent&atilde;o me acusais de blasf&ecirc;mia, quando eu digo que sou Filho de Deus, eu a quem o Pai consagrou e enviou ao mundo? 37Se n&atilde;o fa&ccedil;o as obras do meu Pai, n&atilde;o acre&shy;diteis em mim. 38Mas, se eu as fa&ccedil;o, mesmo que n&atilde;o queirais acreditar em mim, acreditai nas minhas obras, para que saibais e reconhe&ccedil;ais que o Pai est&aacute; em mim e eu no Pai&rdquo;. 39Outra vez procuravam prender Jesus, mas ele escapou das m&atilde;os deles. 40Jesus passou para o outro lado do Jord&atilde;o, e foi para o lugar onde, antes, Jo&atilde;o tinha batizado. E permaneceu ali. 41Muitos foram ter com ele, e diziam: &ldquo;Jo&atilde;o n&atilde;o realizou nenhum sinal, mas tudo o que ele disse a respeito deste homem, &eacute; verdade&rdquo;. 42E muitos, ali, acreditaram nele.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c4">
            CAP&Iacute;TULO 11
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            4Ouvindo isto, Jesus disse: &ldquo;Esta doen&ccedil;a n&atilde;o leva &agrave; morte; ela serve para a gl&oacute;ria de Deus, para que o Filho de Deus seja glorificado por ela&rdquo;. 5Jesus era muito amigo de Marta, de sua irm&atilde; Maria e de L&aacute;zaro. 6Quando ouviu que este estava doente, Jesus ficou ainda dois dias no lugar onde se encontrava. 7Ent&atilde;o, disse aos disc&iacute;pulos: &ldquo;Vamos de novo &agrave; Jud&eacute;ia&rdquo;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            17Quando Jesus chegou a Bet&acirc;nia, encontrou L&aacute;zaro sepultado havia quatro dias. 18Bet&acirc;nia ficava a uns tr&ecirc;s quil&ocirc;metros de Jerusal&eacute;m. 19Muitos judeus tinham vindo &agrave; casa de Marta e Maria para as consolar por causa do irm&atilde;o. 20Quando Marta soube que Jesus tinha chegado, foi ao encontro dele. Maria ficou sentada em casa.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            21Ent&atilde;o Marta disse a Jesus: &ldquo;Senhor, se tivesses estado aqui, meu irm&atilde;o n&atilde;o teria morrido. 22Mas mesmo assim, eu sei que o que pedires a Deus, ele te conceder&aacute;&rdquo;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            23Respondeu-lhe Jesus: &ldquo;Teu irm&atilde;o ressuscitar&aacute;&rdquo;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            24Disse Marta: &ldquo;Eu sei que ele ressuscitar&aacute; na ressurrei&ccedil;&atilde;o, no &uacute;ltimo dia&rdquo;. 25Ent&atilde;o Jesus disse: &ldquo;Eu sou a ressurrei&ccedil;&atilde;o e a vida. Quem cr&ecirc; em mim, mesmo que morra, viver&aacute;. 26E todo aquele que vive e cr&ecirc; em mim, n&atilde;o morrer&aacute; jamais. Cr&ecirc;s isto?&rdquo; 27Respondeu ela: &ldquo;Sim, Senhor, eu creio firmemente que tu &eacute;s o Messias, o Filho de Deus, que devia vir ao mundo&rdquo;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            33bJesus ficou profundamente comovido 34e perguntou: &ldquo;Onde o colocastes?&rdquo; Responderam: &ldquo;Vem ver, Senhor&rdquo;. 35E Jesus chorou. 36Ent&atilde;o os judeus disseram: &ldquo;Vede como ele o amava!&rdquo; 37Alguns deles, por&eacute;m, diziam: &ldquo;Este, que abriu os olhos ao cego, n&atilde;o podia tamb&eacute;m ter feito com que L&aacute;zaro n&atilde;o morresse?&rdquo; 38De novo, Jesus ficou interiormente comovido. Chegou ao t&uacute;mulo. Era uma caverna, fechada com uma pedra. 39Disse Jesus: &ldquo;Tirai a pedra!&rdquo; Marta, a irm&atilde; do morto, interveio: &ldquo;Senhor, j&aacute; cheira mal. Est&aacute; morto h&aacute; quatro dias&rdquo;. 40Jesus lhe respondeu: &ldquo;N&atilde;o te disse que, se creres, ver&aacute;s a gl&oacute;ria de Deus?&rdquo; 41Tiraram ent&atilde;o a pedra. Jesus levantou os olhos para o alto e disse: &ldquo;Pai, eu te dou gra&ccedil;as porque me ouviste. 42Eu sei que sempre me escutas. Mas digo isto por causa do povo que me rodeia, para que creia que tu me enviaste&rdquo;. 43Tendo dito isso, exclamou com voz forte: &ldquo;L&aacute;zaro, vem para fora!&rdquo; 44O morto saiu, atado de m&atilde;os e p&eacute;s com os len&ccedil;&oacute;is mortu&aacute;rios e o rosto coberto com um pano. Ent&atilde;o Jesus lhes disse: &ldquo;Desatai-o e deixai-o caminhar!&rdquo; 45Ent&atilde;o, muitos dos judeus que tinham ido &agrave; casa de Maria e viram o que Jesus fizera, creram nele. 46Alguns, por&eacute;m, foram ter com os fariseus e contaram o que Jesus tinha feito. 47Ent&atilde;o os sumos sacerdotes e os fariseus reuniram o Conselho e disseram: &ldquo;Que faremos? Este homem realiza muitos sinais. 48Se deixamos que ele continue assim, todos v&atilde;o acreditar nele, e vir&atilde;o os romanos e destruir&atilde;o o nosso Lugar Santo e a nossa na&ccedil;&atilde;o&rdquo;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            49Um deles, chamado Caif&aacute;s, sumo sacerdote em fun&ccedil;&atilde;o naquele ano, disse: &ldquo;V&oacute;s n&atilde;o enten&shy;deis nada. 50N&atilde;o percebeis que &eacute; melhor um s&oacute; morrer pelo povo do que perecer a na&ccedil;&atilde;o inteira?&rdquo; 51Caif&aacute;s n&atilde;o falou isso por si mesmo. Sendo sumo sacerdote em fun&ccedil;&atilde;o naquele ano, profetizou que Jesus iria morrer pela na&ccedil;&atilde;o. 52E n&atilde;o s&oacute; pela na&ccedil;&atilde;o, mas tamb&eacute;m para reunir os filhos de Deus dispersos. 53A partir desse dia, as autoridades judaicas tomaram a decis&atilde;o de matar Jesus.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            54Por isso, Jesus n&atilde;o andava mais em p&uacute;blico no meio dos judeus. Retirou-se para uma regi&atilde;o perto do deserto, para a cidade chamada Efraim. Ali permaneceu com os seus disc&iacute;pulos. 55A P&aacute;scoa dos judeus estava pr&oacute;xima. Muita gente do campo tinha subido a Jerusal&eacute;m para se purificar antes da P&aacute;scoa. 56Procuravam Jesus e, ao reunirem-se no Templo, comentavam entre si: &ldquo;Que vos parece? Ser&aacute; que ele n&atilde;o vem para a festa?&rdquo;
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            *** 57 ***
        </span>
    </p>
</body>
</html>