@{
    ViewData["Title"] = "Liturgia";
}


<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <style type="text/css">
        ol {
            margin: 0;
            padding: 0
        }

        table td, table th {
            padding: 0
        }

        .c0 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Arial";
            font-style: normal
        }

        .c1 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: left;
            height: 11pt
        }

        .c3 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Arial";
            font-style: normal
        }

        .c2 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c4 {
            background-color: #ffffff;
            max-width: 553pt;
            padding: 15.3pt 29.5pt 15.3pt 29.5pt
        }

        .title {
            padding-top: 0pt;
            color: #000000;
            font-size: 21pt;
            padding-bottom: 0pt;
            font-family: "Trebuchet MS";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .subtitle {
            padding-top: 0pt;
            color: #666666;
            font-size: 13pt;
            padding-bottom: 10pt;
            font-family: "Trebuchet MS";
            line-height: 1.15;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        li {
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }

        p {
            margin: 0;
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }

        h1 {
            padding-top: 10pt;
            color: #000000;
            font-size: 16pt;
            padding-bottom: 0pt;
            font-family: "Trebuchet MS";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h2 {
            padding-top: 10pt;
            color: #000000;
            font-weight: 700;
            font-size: 13pt;
            padding-bottom: 0pt;
            font-family: "Trebuchet MS";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h3 {
            padding-top: 8pt;
            color: #666666;
            font-weight: 700;
            font-size: 12pt;
            padding-bottom: 0pt;
            font-family: "Trebuchet MS";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h4 {
            padding-top: 8pt;
            -webkit-text-decoration-skip: none;
            color: #666666;
            text-decoration: underline;
            font-size: 11pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            page-break-after: avoid;
            text-decoration-skip-ink: none;
            font-family: "Trebuchet MS";
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h5 {
            padding-top: 8pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 0pt;
            font-family: "Trebuchet MS";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h6 {
            padding-top: 8pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 0pt;
            font-family: "Trebuchet MS";
            line-height: 1.15;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: left
        }
    </style>
</head>
<body class="c4 doc-content">
    <p class="c2">
        <span class="c3">
            CAP&Iacute;TULO 1
        </span>
    </p>
    <p class="c1">
        <span class="c3">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            1Muitas pessoas j&aacute; tentaram escrever a hist&oacute;ria dos acontecimentos que se realizaram entre n&oacute;s, 2como nos foram transmitidos por aqueles que, desde o princ&iacute;pio, foram testemunhas oculares e ministros da palavra. 3Assim sendo, ap&oacute;s fazer um estudo cuidadoso de tudo o que aconteceu desde o princ&iacute;pio, tamb&eacute;m eu decidi escrever de modo ordenado para ti, excelent&iacute;ssimo Te&oacute;filo. 4Deste modo, poder&aacute;s verificar a solidez dos ensinamentos que recebeste.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            5Nos dias de Herodes, rei da Judeia, vivia um sacerdote chamado Zacarias, do grupo de Abia. Sua esposa era descendente de Aar&atilde;o e chamava-se Isabel. 6Ambos eram justos diante de Deus e obedeciam fielmente a todos os mandamentos e ordens do Senhor. 7N&atilde;o tinham filhos, porque Isabel era est&eacute;ril, e os dois j&aacute; eram de idade avan&ccedil;ada.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            8Em certa ocasi&atilde;o, Zacarias estava exercendo as fun&ccedil;&otilde;es sacerdotais no Templo, pois era a vez do seu grupo. 9Conforme o costume dos sacerdotes, ele foi sorteado para entrar no Santu&aacute;rio, e fazer a oferta do incenso. 10Toda a assembleia do povo estava do lado de fora rezando, enquanto o incenso estava sendo oferecido.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            11Ent&atilde;o apareceu-lhe o anjo do Senhor, de p&eacute;, &agrave; direita do altar do incenso. 12Ao v&ecirc;-lo, Zacarias ficou perturbado e o temor apoderou-se dele. 13Mas o anjo disse: &ldquo;N&atilde;o tenhas medo, Zacarias, porque Deus ouviu tua s&uacute;plica. Tua esposa, Isabel, vai ter um filho, e tu lhe dar&aacute;s o nome de Jo&atilde;o. 14Tu ficar&aacute;s alegre e feliz, e muita gente se alegrar&aacute; com o nascimento do menino, 15porque ele vai ser grande diante do Senhor. N&atilde;o beber&aacute; vinho nem bebida fermentada e, desde o ventre materno, ficar&aacute; repleto do Esp&iacute;rito Santo. 16Ele reconduzir&aacute; muitos do povo de Israel ao Senhor seu Deus. 17E h&aacute; de caminhar &agrave; frente deles, com o esp&iacute;rito e o poder de Elias, a fim de converter os cora&ccedil;&otilde;es dos pais aos filhos, e os rebeldes &agrave; sabedoria dos justos, preparando para o Senhor um povo bem disposto&rdquo;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            18Ent&atilde;o Zacarias perguntou ao anjo: &ldquo;Como terei certeza disto? Sou velho e minha mulher &eacute; de idade avan&ccedil;ada&rdquo;. 19O anjo respondeu-lhe: &ldquo;Eu sou Gabriel. Estou sempre na presen&ccedil;a de Deus, e fui enviado para dar-te esta boa not&iacute;cia. 20Eis que ficar&aacute;s mudo e n&atilde;o poder&aacute;s falar, at&eacute; o dia em que essas coisas acontecerem, porque n&atilde;o acreditaste nas minhas palavras, que se h&atilde;o de cumprir no tempo certo&rdquo;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            21O povo estava esperando Zacarias, e admirava-se com a demora no Santu&aacute;rio. 22Quando saiu, n&atilde;o podia falar-lhes. E compreenderam que ele tinha tido uma vis&atilde;o no Santu&aacute;rio. Zacarias falava por sinais e continuava mudo.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            23Depois que terminou seus dias de servi&ccedil;o no Santu&aacute;rio, Zacarias voltou para casa. 24Algum tempo depois, sua esposa Isabel ficou gr&aacute;vida, e escondeu-se durante cinco meses. 25Ela dizia: &ldquo;Eis o que o Senhor fez por mim, nos dias em que ele se dignou tirar-me da humilha&ccedil;&atilde;o p&uacute;blica!&rdquo;
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            26O anjo Gabriel foi enviado por Deus a uma cidade da Galileia, chamada Nazar&eacute;, 27a uma virgem, prometida em casamento a um homem chamado Jos&eacute;. Ele era descendente de Davi e o nome da Virgem era Maria. 28O anjo entrou onde ela estava e disse: &ldquo;Alegra-te, cheia de gra&ccedil;a, o Senhor est&aacute; contigo!&rdquo;
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            29Maria ficou perturbada com estas palavras e come&ccedil;ou a pensar qual seria o significado da sauda&ccedil;&atilde;o. 30O anjo, ent&atilde;o, disse-lhe: &ldquo;N&atilde;o tenhas medo, Maria, porque encontraste gra&ccedil;a diante de Deus. 31Eis que conceber&aacute;s e dar&aacute;s &agrave; luz um filho, a quem por&aacute;s o nome de Jesus. 32Ele ser&aacute; grande, ser&aacute; chamado Filho do Alt&iacute;ssimo, e o Senhor Deus lhe dar&aacute; o trono de seu pai Davi. 33Ele reinar&aacute; para sempre sobre os descendentes de Jac&oacute;, e o seu reino n&atilde;o ter&aacute; fim&rdquo;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            34Maria perguntou ao anjo: &ldquo;Como acontecer&aacute; isso, se eu n&atilde;o conhe&ccedil;o homem algum?&rdquo; 35O anjo respondeu: &ldquo;O Esp&iacute;rito vir&aacute; sobre ti, e o poder do Alt&iacute;ssimo te cobrir&aacute; com sua sombra. Por isso, o menino que vai nascer ser&aacute; chamado Santo, Filho de Deus. 36Tamb&eacute;m Isabel, tua parenta, concebeu um filho na velhice. Este j&aacute; &eacute; o sexto m&ecirc;s daquela que era considerada est&eacute;ril, 37porque para Deus nada &eacute; imposs&iacute;vel&rdquo;. 38Maria, ent&atilde;o, disse: &ldquo;Eis aqui a serva do Senhor; fa&ccedil;a-se em mim segundo a tua palavra!&rdquo; E o anjo retirou-se.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            39Maria partiu para a regi&atilde;o montanhosa, dirigindo-se, apressadamente, a uma cidade da Judeia. 40Entrou na casa de Zacarias e cumprimentou Isabel. 41Quando Isabel ouviu a sauda&ccedil;&atilde;o de Maria, a crian&ccedil;a pulou no seu ventre e Isabel ficou cheia do Esp&iacute;rito Santo. 42Com um grande grito, exclamou: &ldquo;Bendita &eacute;s tu entre as mulheres e bendito &eacute; o fruto do teu ventre! 43Como posso merecer que a m&atilde;e do meu Senhor me venha visitar? 44Logo que a tua sauda&ccedil;&atilde;o chegou aos meus ouvidos, a crian&ccedil;a pulou de alegria no meu ventre. 45Bem-aventurada aquela que acreditou, porque ser&aacute; cumprido o que o Senhor lhe prometeu&rdquo;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            46Ent&atilde;o Maria disse: &ldquo;A minha alma engrandece o Senhor, 47e o meu esp&iacute;rito se alegra em Deus, meu Salvador, 48porque olhou para a humildade de sua serva. Doravante todas as gera&ccedil;&otilde;es me chamar&atilde;o bem-aventurada, 49porque o Todo-poderoso fez grandes coisas em meu favor. O seu nome &eacute; santo, 50e sua miseric&oacute;rdia se estende, de gera&ccedil;&atilde;o em gera&ccedil;&atilde;o, a todos os que o respeitam. 51Ele mostrou a for&ccedil;a de seu bra&ccedil;o: dispersou os soberbos de cora&ccedil;&atilde;o. 52Derrubou do trono os poderosos e elevou os humildes. 53Encheu de bens os famintos, e despediu os ricos de m&atilde;os vazias. 54Socorreu Israel, seu servo, lembrando-se de sua miseric&oacute;rdia, 55conforme prometera aos nossos pais, em favor de Abra&atilde;o e de sua descend&ecirc;ncia, para sempre&rdquo;. 56Maria ficou tr&ecirc;s meses com Isabel; depois voltou para casa.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            57Completou-se o tempo da gravidez de Isabel, e ela deu &agrave; luz um filho. 58Os vizinhos e parentes ouviram dizer como o Senhor tinha sido misericordioso para com Isabel, e alegraram-se com ela. 59No oitavo dia, foram circuncidar o menino, e queriam dar-lhe o nome de seu pai, Zacarias. 60A m&atilde;e, por&eacute;m disse: &ldquo;N&atilde;o! Ele vai chamar-se Jo&atilde;o&rdquo;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            61Os outros disseram: &ldquo;N&atilde;o existe nenhum parente teu com esse nome!&rdquo; 62Ent&atilde;o fizeram sinais ao pai, perguntando como ele queria que o menino se chamasse. 63Zacarias pediu uma tabuinha, e escreveu: &ldquo;Jo&atilde;o &eacute; o seu nome&rdquo;. E todos ficaram admirados. 64No mesmo instante, a boca de Za&shy;carias se abriu, sua l&iacute;ngua se soltou, e ele come&ccedil;ou a louvar a Deus. 65Todos os vizinhos ficaram com medo, e a not&iacute;cia espalhou-se por toda a regi&atilde;o montanhosa da Ju&shy;deia. 66E todos os que ouviam a not&iacute;cia ficavam pensando: &ldquo;O que vir&aacute; a ser este menino?&rdquo; De fato, a m&atilde;o do Senhor estava com ele.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            67Zacarias, o pai de Jo&atilde;o, repleto do Esp&iacute;rito Santo, profetizou, dizendo: 68&ldquo;Bendito seja o Senhor, Deus de Israel, porque a seu povo visitou e libertou. 69Fez aparecer para n&oacute;s uma for&ccedil;a de salva&ccedil;&atilde;o na casa de seu servo Davi, 70como tinha prometido desde outrora, pela boca de seus santos profetas, 71para nos salvar dos nossos inimigos e da m&atilde;o de todos os que nos odeiam.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            72Ele usou de miseric&oacute;rdia para com nossos pais, recordando-se de sua santa alian&ccedil;a 73e do juramento que fez a nosso pai Abra&atilde;o, para conceder-nos, 74que, sem temor e libertos das m&atilde;os dos inimigos, n&oacute;s o sirvamos, 75com santidade e justi&ccedil;a, em sua presen&ccedil;a, todos os nossos dias.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            76E tu, Menino, ser&aacute;s chamado profeta do Alt&iacute;ssimo, pois ir&aacute;s adiante do Senhor para preparar-lhe os caminhos, 77anunciando ao seu povo a salva&ccedil;&atilde;o, pelo perd&atilde;o dos seus pecados. 78Gra&ccedil;as &agrave; misericordiosa compaix&atilde;o do nosso Deus, o sol que nasce do alto nos visitar&aacute;, 79para iluminar os que jazem nas trevas e nas sombras da morte, e dirigir nossos passos no caminho da paz&rdquo;. 80E o menino crescia e se fortalecia em esp&iacute;rito. Ele vivia nos lugares desertos, at&eacute; o dia em que se apresentou publicamente a Israel.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c3">
            CAP&Iacute;TULO 2
        </span>
    </p>
    <p class="c1">
        <span class="c3">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            1Aconteceu que, naqueles dias, C&eacute;sar Augusto publicou um decreto, ordenando o recenseamento de toda a terra.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            2Este primeiro recenseamento foi feito quando Quirino era governador da S&iacute;ria. 3Todos iam registrar-se cada um na sua cidade natal.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            4Por ser da fam&iacute;lia e descend&ecirc;ncia de Davi, Jos&eacute; subiu da cidade de Nazar&eacute;, na Galileia, at&eacute; a cidade de Davi, chamada Bel&eacute;m, na Judeia, 5para registrar-se com Maria, sua esposa, que estava gr&aacute;vida.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            6Enquanto estavam em Bel&eacute;m, completaram-se os dias para o parto, 7e Maria deu &agrave; luz o seu filho primog&ecirc;nito. Ela o enfaixou e o colocou na manjedoura, pois n&atilde;o havia lugar para eles na hospedaria.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            8Naquela regi&atilde;o havia pastores que passavam a noite nos campos, tomando conta do seu rebanho.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            9Um anjo do Senhor apareceu aos pastores, a gl&oacute;ria do Senhor os envolveu em luz, e eles ficaram com muito medo. 10O anjo, por&eacute;m, disse aos pastores: &ldquo;N&atilde;o tenhais medo! Eu vos anuncio uma grande alegria, que o ser&aacute; para todo o povo: 11Hoje, na cidade de Davi, nasceu para v&oacute;s um Salvador, que &eacute; o Cristo Senhor. 12Isto vos servir&aacute; de sinal: Encontrareis um rec&eacute;m-nascido envolvido em faixas e deitado numa manjedoura&rdquo;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            13E, de repente, juntou-se ao anjo uma multid&atilde;o da coorte celeste. Cantavam louvores a Deus, dizendo: 14&ldquo;Gl&oacute;ria a Deus no mais alto dos c&eacute;us, e paz na terra aos homens por ele amados&rdquo;. 15 Quando os anjos se afastaram, voltando para o c&eacute;u, os pastores disseram entre si: &lsquo;Vamos a Bel&eacute;m, ver este acontecimento que o Senhor nos revelou.&rsquo;
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            16os pastores foram &agrave;s pressas a Bel&eacute;m e encontraram Maria e Jos&eacute;, e o rec&eacute;m-nascido deitado na manjedoura.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            17Tendo-o visto, contaram o que lhes fora dito sobre o menino. 18E todos os que ouviram os pastores ficaram maravilhados com aquilo que contavam.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            19Quanto a Maria, guardava todos esses fatos e meditava sobre eles em seu cora&ccedil;&atilde;o.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            20Os pastores voltaram, glorificando e louvando a Deus por tudo que tinham visto e ouvido, conforme lhes tinha sido dito. 21Quando se completaram os oito dias para a circuncis&atilde;o do menino, deram-lhe o nome de Jesus, como fora chamado pelo anjo antes de ser concebido.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            22Quando se completaram os dias para a purifica&ccedil;&atilde;o da m&atilde;e e do filho, conforme a lei de Mois&eacute;s, Maria e Jos&eacute; levaram Jesus a Jerusal&eacute;m, a fim de apresent&aacute;-lo ao Senhor. 23Conforme est&aacute; escrito na lei do Senhor: &ldquo;Todo primog&ecirc;nito do sexo masculino deve ser consagrado ao Senhor&rdquo;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            24Foram tamb&eacute;m oferecer o sacrif&iacute;cio &mdash; um par de rolas ou dois pombinhos &mdash; como est&aacute; ordenado na Lei do Senhor. 25Em Jerusal&eacute;m, havia um homem chamado Sime&atilde;o, o qual era justo e piedoso, e esperava a consola&ccedil;&atilde;o do povo de Israel. O Esp&iacute;rito Santo estava com ele 26e lhe havia anunciado que n&atilde;o morreria antes de ver o Messias que vem do Senhor.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            27Movido pelo Esp&iacute;rito, Sime&atilde;o veio ao Templo. Quando os pais trouxeram o menino Jesus para cumprir o que a Lei ordenava, 28Sime&atilde;o tomou o menino nos bra&ccedil;os e bendisse a Deus: 29&ldquo;Agora, Senhor, conforme a tua promessa, podes deixar teu servo partir em paz; 30porque meus olhos viram a tua salva&ccedil;&atilde;o, 31que preparaste diante de todos os povos: 32luz para iluminar as na&ccedil;&otilde;es e gl&oacute;ria do teu povo Israel&rdquo;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            33O pai e a m&atilde;e de Jesus estavam admirados com o que diziam a respeito dele. 34Sime&atilde;o os aben&ccedil;oou e disse a Maria, a m&atilde;e de Jesus: &ldquo;Este menino vai ser causa tanto de queda como de reerguimento para muitos em Israel. Ele ser&aacute; um sinal de contradi&ccedil;&atilde;o. 35Assim ser&atilde;o revelados os pensamentos de muitos cora&ccedil;&otilde;es. Quanto a ti, uma espada te traspassar&aacute; a alma&rdquo;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            36Havia tamb&eacute;m uma pro&shy;fe&shy;tisa, chamada Ana, filha de Fa&shy;nuel, da tribo de Aser. Era de idade muito avan&ccedil;ada; quando jovem, tinha sido casada e vivera sete anos com o marido. 37Depois ficara vi&uacute;va, e agora j&aacute; estava com oitenta e quatro anos. N&atilde;o sa&iacute;a do Templo, dia e noite servindo a Deus com jejuns e ora&ccedil;&otilde;es. 38Ana chegou nesse momento e p&ocirc;s-se a louvar a Deus e a falar do menino a todos os que esperavam a liberta&ccedil;&atilde;o de Jerusal&eacute;m.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            39Depois de cumprirem tudo, conforme a Lei do Senhor, voltaram &agrave; Galileia, para Nazar&eacute;, sua cidade. 40O menino crescia e tornava-se forte, cheio de sabedoria; e a gra&ccedil;a de Deus estava com ele.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            41Os pais de Jesus iam todos os anos a Jerusal&eacute;m, para a festa da P&aacute;scoa. 42Quando ele completou doze anos, subiram para a festa, como de costume. 43Passados os dias da P&aacute;scoa, come&ccedil;aram a viagem de volta, mas o menino Jesus ficou em Jerusal&eacute;m, sem que seus pais o notassem.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            44Pensando que ele estivesse na caravana, caminharam um dia inteiro. Depois come&ccedil;aram a procur&aacute;-lo entre os parentes e conhecidos. 45N&atilde;o o tendo encontrado, voltaram para Jerusal&eacute;m &agrave; sua procura. 46Tr&ecirc;s dias depois, o encontraram no Templo. Estava sentado no meio dos mestres, escutando e fazendo perguntas.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            47Todos os que ouviam o menino estavam maravilhados com sua intelig&ecirc;ncia e suas respostas. 48Ao v&ecirc;-lo, seus pais ficaram muito admirados e sua m&atilde;e lhe disse: &ldquo;Meu filho, por que agiste assim conosco? Olha que teu pai e eu est&aacute;vamos, angustiados, &agrave; tua procura&rdquo;. 49Jesus respondeu: &ldquo;Por que me procur&aacute;veis? N&atilde;o sab&iacute;eis que devo estar na casa de meu Pai?&rdquo; 50Eles, por&eacute;m, n&atilde;o compreenderam as palavras que lhes dissera. 51Jesus desceu ent&atilde;o com seus pais para Nazar&eacute;, e era-lhes obediente. Sua m&atilde;e, por&eacute;m, conservava no cora&ccedil;&atilde;o todas estas coisas.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            52E Jesus crescia em sabedoria, estatura e gra&ccedil;a, diante de Deus e diante dos homens.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c3">
            CAP&Iacute;TULO 3
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
</body>
</html>