@{
    ViewData["Title"] = "Liturgia";
}


<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <style type="text/css">
        ol {
            margin: 0;
            padding: 0
        }

        table td, table th {
            padding: 0
        }

        .c2 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Arial";
            font-style: normal
        }

        .c3 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Arial";
            font-style: normal
        }

        .c0 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c4 {
            background-color: #ffffff;
            max-width: 553pt;
            padding: 15.3pt 29.5pt 15.3pt 29.5pt
        }

        .c1 {
            height: 11pt
        }

        .title {
            padding-top: 0pt;
            color: #000000;
            font-size: 21pt;
            padding-bottom: 0pt;
            font-family: "Trebuchet MS";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .subtitle {
            padding-top: 0pt;
            color: #666666;
            font-size: 13pt;
            padding-bottom: 10pt;
            font-family: "Trebuchet MS";
            line-height: 1.15;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        li {
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }

        p {
            margin: 0;
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }

        h1 {
            padding-top: 10pt;
            color: #000000;
            font-size: 16pt;
            padding-bottom: 0pt;
            font-family: "Trebuchet MS";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h2 {
            padding-top: 10pt;
            color: #000000;
            font-weight: 700;
            font-size: 13pt;
            padding-bottom: 0pt;
            font-family: "Trebuchet MS";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h3 {
            padding-top: 8pt;
            color: #666666;
            font-weight: 700;
            font-size: 12pt;
            padding-bottom: 0pt;
            font-family: "Trebuchet MS";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h4 {
            padding-top: 8pt;
            -webkit-text-decoration-skip: none;
            color: #666666;
            text-decoration: underline;
            font-size: 11pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            page-break-after: avoid;
            text-decoration-skip-ink: none;
            font-family: "Trebuchet MS";
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h5 {
            padding-top: 8pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 0pt;
            font-family: "Trebuchet MS";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h6 {
            padding-top: 8pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 0pt;
            font-family: "Trebuchet MS";
            line-height: 1.15;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: left
        }
    </style>
</head>
<body class="c4 doc-content">
    <p class="c0">
        <span class="c3">
            CAP&Iacute;TULO 7
        </span>
    </p>
    <p class="c0">
        <span class="c2">
            24Jesus saiu e foi para a regi&atilde;o de Tiro e Sid&ocirc;nia. Entrou numa casa e n&atilde;o queria que ningu&eacute;m soubesse onde ele estava. Mas n&atilde;o conseguiu ficar escondido.
        </span>
    </p>
    <p class="c0 c1">
        <span class="c2">
        </span>
    </p>
    <p class="c0">
        <span>
            25Uma mulher, que tinha uma filha com um esp&iacute;rito impuro, ouviu falar de Jesus. Foi at&eacute; ele e caiu a seus p&eacute;s. 26A mulher era pag&atilde;, nascida na Fen&iacute;cia da S&iacute;ria. Ela suplicou a Jesus que expulsasse de sua filha o dem&ocirc;nio. 27Jesus disse: &ldquo;
        </span>
        <span>
            Deixa primeiro que os filhos fiquem saciados
        </span>
        <span>
            , porque n&atilde;o est&aacute; certo tirar o p&atilde;o dos filhos e jog&aacute;-lo aos
        </span>
        <span>
            cachorrinhos
        </span>
        <span class="c2">
            &rdquo;.
        </span>
    </p>
    <p class="c0 c1">
        <span class="c2">
        </span>
    </p>
    <p class="c0">
        <span>
            28A mulher respondeu: &ldquo;
        </span>
        <span>
            &Eacute; verdade, Senhor; mas tamb&eacute;m os cachorrinhos, debaixo da mesa, comem as migalhas que as crian&ccedil;as deixam cair
        </span>
        <span class="c2">
            &rdquo;.
        </span>
    </p>
    <p class="c0 c1">
        <span class="c2">
        </span>
    </p>
    <p class="c0">
        <span class="c2">
            29Ent&atilde;o Jesus disse: &ldquo;Por causa do que acabas de dizer, podes voltar para casa. O dem&ocirc;nio j&aacute; saiu de tua filha&rdquo;. 30Ela voltou para casa e encontrou sua filha deitada na cama, pois o dem&ocirc;nio j&aacute; havia sa&iacute;do dela.
        </span>
    </p>
</body>
</html>