@{
    ViewData["Title"] = "Liturgia";
}


<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <style type="text/css">
        ol {
            margin: 0;
            padding: 0
        }

        table td, table th {
            padding: 0
        }

        .c0 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Arial";
            font-style: normal
        }

        .c3 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Arial";
            font-style: normal
        }

        .c1 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: left;
            height: 11pt
        }

        .c2 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c4 {
            background-color: #ffffff;
            max-width: 553pt;
            padding: 15.3pt 29.5pt 15.3pt 29.5pt
        }

        .title {
            padding-top: 0pt;
            color: #000000;
            font-size: 21pt;
            padding-bottom: 0pt;
            font-family: "Trebuchet MS";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .subtitle {
            padding-top: 0pt;
            color: #666666;
            font-size: 13pt;
            padding-bottom: 10pt;
            font-family: "Trebuchet MS";
            line-height: 1.15;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        li {
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }

        p {
            margin: 0;
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }

        h1 {
            padding-top: 10pt;
            color: #000000;
            font-size: 16pt;
            padding-bottom: 0pt;
            font-family: "Trebuchet MS";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h2 {
            padding-top: 10pt;
            color: #000000;
            font-weight: 700;
            font-size: 13pt;
            padding-bottom: 0pt;
            font-family: "Trebuchet MS";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h3 {
            padding-top: 8pt;
            color: #666666;
            font-weight: 700;
            font-size: 12pt;
            padding-bottom: 0pt;
            font-family: "Trebuchet MS";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h4 {
            padding-top: 8pt;
            -webkit-text-decoration-skip: none;
            color: #666666;
            text-decoration: underline;
            font-size: 11pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            page-break-after: avoid;
            text-decoration-skip-ink: none;
            font-family: "Trebuchet MS";
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h5 {
            padding-top: 8pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 0pt;
            font-family: "Trebuchet MS";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h6 {
            padding-top: 8pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 0pt;
            font-family: "Trebuchet MS";
            line-height: 1.15;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: left
        }
    </style>
</head>
<body class="c4 doc-content">
    <p class="c2">
        <span class="c3">
            PROTO EVANGELHO DE TIAGO
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c3">
            CAP&Iacute;TULO I
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            1. Conforme as mem&oacute;rias das Doze Tribos de Israel, existia um homem riqu&iacute;ssimo chamado Joaquim. Suas oferendas eram sempre em dobro e dizia: &uml;A sobra ofere&ccedil;o para todo o povoado e o que devo ofere&ccedil;o ao Senhor, para expiar os meus pecados e conquistar-Lhe as boas gra&ccedil;as&uml;. 2. Quando chegou a grande festa do Senhor, onde os filhos de Israel oferecem seus donativos, Rubem p&ocirc;s-se diante de Joaquim e disse-lhe: &uml;Como n&atilde;o geraste um rebento em Israel, n&atilde;o te &eacute; l&iacute;cito oferecer donativos&uml;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            3. Ent&atilde;o Joaquim mortificou-se e foi at&eacute; os arquivos de Israel para consultar o censo geneal&oacute;gico para confirmar que teria sido o &uacute;nico no povoado que n&atilde;o tivera descendentes. Examinando os pergaminhos, certificou-se que todos os justos tiveram descendentes. Lembrou-se, ent&atilde;o, que o Senhor dera ao patriarca Abra&atilde;o, em seus &uacute;ltimos anos de vida, um filho: Isaac.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            4. Joaquim ficou muito triste e n&atilde;o voltou para sua mulher, retirando-se para o deserto. L&aacute; armou sua tenda e jejuou por 40 dias e 40 noites. Disse a si pr&oacute;prio: &uml;Daqui n&atilde;o sairei, nem para comer ou beber, at&eacute; que o Senhor meu Deus me visite. Sirvam as minhas ora&ccedil;&otilde;es por comida e bebida&uml;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c3">
            CAP&Iacute;TULO II
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            1. Ana, sua mulher, chorava e lamentava em dor: &uml;Ficarei chorando a minha viuvez e a minha esterilidade&uml;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            2. Quando afinal chegou a grande festa do Senhor, Judite, sua criada, disse-lhe: &uml;At&eacute; quando humilhar&aacute;s a alma? Eis que chegou a grande festa e n&atilde;o podes entristecer-te. Pega este v&eacute;u com selo real que a dona da tecelagem me deu pois n&atilde;o posso us&aacute;-lo j&aacute; que sou simples serva.&uml;
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            3. Disse-lhe Ana: &uml;Afasta-te de mim pois nada fiz. O Senhor me humilhou o suficiente para que eu possa us&aacute;-lo. Acaso algum &iacute;mpio to deu para me fazerdes c&uacute;mplice do pecado?&uml;. Respondeu Judite: &uml;Por que iria eu maldizer-te se o pr&oacute;prio Senhor j&aacute; te amaldi&ccedil;oou a n&atilde;o deixardes descendente em Israel?&uml;
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            4. Mesmo estando profundamente triste, Ana retirou seus trajes de luto, p&ocirc;s o v&eacute;u e os trajes de bodas. &Agrave; hora nona, desceu ao jardim e foi passear. Ent&atilde;o, assentou-se sob a sombra de um loureiro e orou ao Senhor: &uml;&Oacute; Deus dos nossos pais: ouvi-me e bendizei-me como fizeste com o ventre de Sara, que concebeu a Isaac&uml;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c3">
            CAP&Iacute;TULO III
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            1. E olhando para o c&eacute;u, observou um ninho de passarinhos existente no loureiro. Voltou ent&atilde;o a lamentar-se, dizendo: &uml;Ai de mim! Por que nasci? Em que hora fui concebida? Vim ao mundo para ser terra maldita entre os filhos de Israel, pois me injuriam e me expulsam do Templo do Senhor.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            2. Ai de mim! A que posso comparar-me? Certamente n&atilde;o posso me comparar &agrave;s aves do c&eacute;u porque elas fecundam na tua presen&ccedil;a, &oacute; Senhor. Ai de mim! A que posso comparar-me? N&atilde;o posso comparar-me &agrave;s feras da terra porque esses animais irracionais reproduzem-se diante dos teus olhos, &oacute; Senhor.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            3. Ai de mim! A que posso comparar-me? Certamente n&atilde;o posso me comparar sequer a estas &aacute;guas porque tamb&eacute;m elas s&atilde;o f&eacute;rteis perante ti, Senhor. Ai de mim! A que posso comparar-me? N&atilde;o posso ao menos comparar-me &agrave; terra porque ela &eacute; fecunda e produz frutos a seu tempo, bendizendo-te, &oacute; Senhor.&uml;
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c3">
            CAP&Iacute;TULO IV
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            1. Eis que apareceu-lhe um anjo do Senhor e disse-lhe: &uml;Ana, Ana! O Senhor ouviu as tuas preces. Eis que conceber&aacute;s e dar&aacute;s &agrave; luz. Da tua fam&iacute;lia se falar&aacute; por todo o mundo&uml;. Ana respondeu: &uml;Gl&oacute;ria ao Senhor, meu Deus! Se for-me dado menino ou menina, fruto de Sua b&ecirc;n&ccedil;&atilde;o, ofert&aacute;-lo-ei ao Senhor e a Seu servi&ccedil;o estar&aacute; por todos os dias de sua vida&uml;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            2. Ent&atilde;o chegaram dois mensageiros com o seguinte recado para ela: &uml;Joaquim, teu marido, voltou com todo o rebanho, pois um anjo veio at&eacute; ele e disse-lhe: &acute;Joaquim, Joaquim! O Senhor ouviu as tuas preces. Ana, tua mulher, conceber&aacute; em seu ventre&acute;&uml;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            3. Saindo Joaquim, ordenou que seus pastores trouxessem-lhe dez ovelhas imaculadas. Disse ent&atilde;o: &uml;Estas s&atilde;o para o Senhor&uml;. [Mandou trazer-lhe tamb&eacute;m] doze novilhas de leite. E disse: &uml;Estas s&atilde;o para os sacerdotes e o Sin&eacute;drio&uml;. E mandou distribuir cem cabritos para todo o povoado.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            4. Chegando Joaquim com seus rebanhos, Ana, que estava &agrave; porta, o viu; correu e atirou-se em seu pesco&ccedil;o, dizendo-lhe: &uml;Agora percebo que o Senhor me bendisse abundantemente. Eu era vi&uacute;va e deixei-se de s&ecirc;-lo. Era est&eacute;ril e agora conceberei em meu ventre&uml;. Nesse primeiro dia, Joaquim repousou em sua casa.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c3">
            CAP&Iacute;TULO V
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            1. Ao ir, no dia seguinte, oferecer seus bens ao Senhor, disse para consigo mesmo: &uml;Se vir o &eacute;fode do sacerdote, saberei que Deus me ser&aacute; favor&aacute;vel&uml;. Ao oferecer o sacrif&iacute;cio, notou o &eacute;fode do sacerdote, quando este estava pr&oacute;ximo ao altar de Deus. N&atilde;o encontrando qualquer pecado em sua consci&ecirc;ncia, disse: &uml;Agora vi que o Senhor me perdoou todos os pecados&uml;. Joaquim desceu justificado do Templo e voltou para casa.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            2. Cumprindo-se o tempo para Ana, concebeu no nono m&ecirc;s. E perguntou &agrave; parteira: &uml;A quem dei a luz?&uml; Respondeu a parteira: &uml;A uma menina&uml;. Exclamou Ana: &uml;Eis que minha alma foi exaltada!&uml;. E colocou a menina no ber&ccedil;o. Quando cumpriu-se o tempo definido pela Lei, Ana purificou-se e deu de mamar &agrave; menina. E p&ocirc;s-lhe o nome de Maria.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c3">
            CAP&Iacute;TULO VI
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            1. A menina se fortalecia a cada dia que passava. Quando atingiu os seis meses, sua m&atilde;e a colocou no ch&atilde;o para ver se conseguia ficar de p&eacute;. Ela andou sete passos e voltou para o colo de sua m&atilde;e. Pegando-a, disse [Ana]: &uml;Gl&oacute;ria ao Senhor! N&atilde;o andar&aacute;s mais nesse ch&atilde;o at&eacute; que eu te apresente ao Templo do Senhor&uml;. Fazendo um orat&oacute;rio em casa, n&atilde;o permitia que nada de vulgar ou impuro se lhe tocassem nas m&atilde;os [de Maria]. Convocou tamb&eacute;m algumas meninas hebr&eacute;ias, todas virgens, para brincarem com ela.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            2. Completando a menina seu primeiro ano, ofereceu Joaquim um grandioso banquete. Convidou os sacerdotes, os escribas, o Sin&eacute;drio e todo o povo de Israel. Apresentando a menina, os sacerdotes a aben&ccedil;oaram com estas palavras: &uml;&Oacute; Deus de nossos pais: bendiz esta menina e que seu nome seja glorioso e eterno por todas as gera&ccedil;&otilde;es&uml;. O povo todo respondeu: &uml;Am&eacute;m, am&eacute;m, am&eacute;m&uml;. Joaquim tamb&eacute;m apresentou a menina aos pr&iacute;ncipes e [sumos] sacerdotes que a aben&ccedil;oaram assim: &uml;&Oacute; Deus alt&iacute;ssimo: volta teus olhos para esta menina e conceda-lhe uma b&ecirc;n&ccedil;&atilde;o perfeita, n&atilde;o sendo-lhe necess&aacute;ria qualquer outra [b&ecirc;n&ccedil;&atilde;o] no futuro&uml;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            3. Sua m&atilde;e levou-a para o orat&oacute;rio e deu-lhe de mamar. Entoou ent&atilde;o um hino ao Senhor Deus: &uml;Farei um c&acirc;ntico ao Senhor, meu Deus, porque me visitou / Afastou de mim as inj&uacute;rias dos inimigos e me deu um fruto santo que &eacute; &uacute;nico e m&uacute;ltiplo a Seus olhos / Quem levar&aacute; aos filhos de Rubem a not&iacute;cia de que Ana amamentou? / Ouvi! Ouvi, &oacute; Doze Tribos de Israel! Ana est&aacute; amamentando!&uml; E deixando a menina repousar na c&acirc;mara existente no orat&oacute;rio, saiu e passou a servir os convidados; terminada a ceia, [os convidados] sa&iacute;ram alegres e louvando ao Deus de Israel.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c3">
            CAP&Iacute;TULO VII
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            1. Os meses foram passando para a menina e quando ela completou dois anos, Joaquim disse a Ana: &uml;Vamos lev&aacute;-la ao Templo do Senhor para cumprirmos a promessa que fizemos, para que o Senhor n&atilde;o reclame e nossa oferenda se torne inaceit&aacute;vel a seus olhos&uml;. Ana respondeu: &uml;Vamos esperar que ela complete tr&ecirc;s anos, para que n&atilde;o venha sentir saudade de n&oacute;s&uml;. E Joaquim respondeu: &uml;Vamos aguardar&uml;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            2. Quando completou tr&ecirc;s anos, Joaquim disse: &uml;Chame as meninas hebr&eacute;ias, virgens, e que, duas a duas, tomem uma l&acirc;mpada acesa para que a menina [Maria] n&atilde;o olhe para tr&aacute;s e seu cora&ccedil;&atilde;o se prenda por algo fora do Templo de Deus&uml;. E assim foi feito e subiram ao Templo do Senhor. Ent&atilde;o o sacerdote a recebeu, a beijou e aben&ccedil;oou-a. E disse [&agrave; Maria]: &uml;O Senhor engrandeceu o teu nome diante de todas as gera&ccedil;&otilde;es. No final dos tempos, manifestar&aacute; em ti Sua reden&ccedil;&atilde;o aos filhos de Israel&uml;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            3. Ent&atilde;o fez [Maria] sentar-se no terceiro degrau do altar e o Senhor derramou Sua gra&ccedil;a sobre ela. Ela dan&ccedil;ou e cativou toda a casa de Israel.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c3">
            CAP&Iacute;TULO VIII
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            1. Ent&atilde;o seus pais foram embora cheios de admira&ccedil;&atilde;o e louvaram ao Senhor porque a menina n&atilde;o olhou para tr&aacute;s. E Maria passou a ficar no Templo como uma pequena pomba, recebendo seu sustento das m&atilde;os de um anjo.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            2. Entretanto, quando completou doze anos, os sacerdotes se reuniram e disseram: &uml;Maria atingiu os doze anos no Templo. O que devemos fazer para que ela n&atilde;o macule o Santu&aacute;rio?&uml; Ent&atilde;o disseram ao sumo sacerdote: &uml;O altar est&aacute; a tua disposi&ccedil;&atilde;o. Entra e ora por ela pois o que o Senhor te revelar, isso ser&aacute; o que deveremos fazer&uml;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            3. O sumo sacerdote colocou ent&atilde;o o manto com as doze sinetas, adentrou ao santo dos santos e orou por ela. Mas eis que um anjo do Senhor lhe apareceu e disse: &uml;Zacarias, Zacarias! Sai e chama todos os vi&uacute;vos do povoado; que cada um traga um bast&atilde;o e a quem o Senhor mostrar um sinal, este ser&aacute; o seu esposo&uml;. Ent&atilde;o os mensageiros percorreram toda a Jud&eacute;ia e se apresentaram ao soar da trombeta.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c3">
            CAP&Iacute;TULO IX
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            1. Jos&eacute; separou seu bast&atilde;o e se reuniu aos demais [vi&uacute;vos]. Ent&atilde;o cada um pegou seu bast&atilde;o e foram procurar o sumo sacerdote. Este pegou todos os bast&otilde;es e, adentrando ao Templo, p&ocirc;s-se a orar. Ao concluir as ora&ccedil;&otilde;es, pegou os bast&otilde;es e devolveu-os aos seus respectivos donos, mas em nenhum deles manifestou sinal algum. Contudo, quando Jos&eacute; pegou o &uacute;ltimo bast&atilde;o, uma pomba saiu dele e p&ocirc;s-se a sobrevoar-lhe a cabe&ccedil;a. Ent&atilde;o o sacerdote disse: &uml;A ti caber&aacute; receber sob teu teto a Virgem do Senhor&uml;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            2. Mas Jos&eacute; respondeu: &uml;Tenho filhos e j&aacute; estou avan&ccedil;ado na idade; ela, por&eacute;m, ainda &eacute; uma menina. N&atilde;o quero ser zombado pelos filhos de Israel&uml;. Ent&atilde;o argumentou o sacerdote: &uml;Tema ao Senhor, teu Deus, e recorde do que Ele fez com Dat&atilde;, Abiron e Coret: a terra se abriu e eles foram enterrados em virtude de sua rebeli&atilde;o. Tema tamb&eacute;m tu agora, Jos&eacute;, para que o mesmo n&atilde;o aconte&ccedil;a &agrave; tua casa&uml;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            3. Ent&atilde;o ele, cheio de temor, recebeu [Maria] sob seu teto. Depois disse-lhe: &uml;Tomei-te do Templo e deixo-te agora na minha casa, mas prosseguirei as minhas obras. Voltarei em breve, mas o Senhor te proteger&aacute;&uml;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c3">
            CAP&Iacute;TULO X
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            1. Os sacerdotes se reuniram e decidiram fazer um v&eacute;u para o Templo do Senhor. O sacerdote disse: &uml;Chama as mo&ccedil;as imaculadas da Tribo de Davi&uml;. Os ministros sa&iacute;ram e ap&oacute;s procurarem, encontraram sete virgens. Ent&atilde;o o sacerdote recordou-se de Maria e os mensageiros a buscaram.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            2. Depois que foram levadas para dentro do Templo, disse o sacerdote: &uml;Vejamos quem bordar&aacute; o ouro e o amianto, o linho e a seda, o zirc&atilde;o, e o escarlate e a p&uacute;rpura real&uml;. O escarlate e a p&uacute;rpura real couberam a Maria; esta as tomou e levou para sua casa. Nessa &eacute;poca, Zacarias ficou mudo e foi substitu&iacute;do por Samuel at&eacute; que recuperasse a voz. Maria tomou o escarlate em m&atilde;os e p&ocirc;s-se a tec&ecirc;-lo.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c3">
            CAP&Iacute;TULO XI
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            1. Um dia, Maria tomou um c&acirc;ntaro para ench&ecirc;-lo de &aacute;gua. Mas ouviu uma voz que lhe dizia: &uml;Salve, cheia de gra&ccedil;a! O Senhor est&aacute; contigo, bendita &eacute;s entre as mulheres&uml;. Ent&atilde;o ela olhou ao seu redor, &agrave; direita e &agrave; esquerda, para ver de onde provinha aquela voz. Amedrontada, fugiu para sua casa e abandonou ali mesmo a &acirc;nfora. Pegou a p&uacute;rpura, sentou-se e voltou a tec&ecirc;-la.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            2. Por&eacute;m, um anjo de Senhor apareceu &agrave; sua frente e disse: &uml;N&atilde;o temas, &oacute; Maria! Alcan&ccedil;aste gra&ccedil;a diante do Senhor Todo-Poderoso e conceber&aacute;s por Sua gra&ccedil;a&uml;. Ela, ao ouvi-lo, ficou admirada e disse consigo mesma: &uml;Conceberei por gra&ccedil;a do Deus vivo e darei &agrave; luz como as demais mulheres?&uml;
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            3. Respondeu-lhe o anjo: &uml;N&atilde;o, Maria, pois a gra&ccedil;a do Senhor te cobrir&aacute; com Sua sombra e o santo fruto que nascer&aacute; de ti ser&aacute; chamado Filho do Alt&iacute;ssimo. Dever&aacute;s cham&aacute;-lo &acute;Jesus&acute; porque Ele salvar&aacute; seu povo das iniq&uuml;idades.&uml; Ent&atilde;o Maria disse: &uml;Eis aqui a serva do Senhor! Fa&ccedil;a-se em mim conforme a sua palavra&uml;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c3">
            CAP&Iacute;TULO XII
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            1. Terminado o trabalho com a p&uacute;rpura e o escarlate, [Maria] levou-o ao sacerdote, que a aben&ccedil;oou assim: &uml;Maria: o Senhor enalteceu o teu nome! Ser&aacute;s bendita entre todas as gera&ccedil;&otilde;es da terra&uml;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            2. Radiante de alegria, Maria se dirigiu &agrave; casa de sua parente, chamada Isabel, e chamou-a da porta. Ao escut&aacute;-la, Isabel deixou o escarlate e correu para a porta. Abrindo [a porta] e vendo Maria, louvou-a dizendo: &uml;Quem sou para que a m&atilde;e do meu Senhor venha at&eacute; minha casa? O fruto do meu ventre p&ocirc;s-se a pular dentro de mim para bendizer-te&uml;. Como Maria se esquecera das palavras do anjo Gabriel, elevou os olhos ao c&eacute;u e disse: &uml;Quem sou eu, Senhor, para que todas as gera&ccedil;&otilde;es me bendigam?&uml;
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            3. E ficou durante tr&ecirc;s meses na casa de Isabel. Como dia ap&oacute;s dia seu ventre crescia, ficou preocupada e p&ocirc;s-se &agrave; caminho de casa. Ficava escondida dos filhos de Israel e possu&iacute;a dezesseis anos quando estas coisas aconteceram.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c3">
            CAP&Iacute;TULO XIII
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            1. Quando Maria atingiu o sexto m&ecirc;s de gravidez, Jos&eacute; retornou de suas obras e, ao chegar em casa, percebeu que ela estava gr&aacute;vida. Ent&atilde;o bateu em seu pr&oacute;prio rosto e atirou-se no ch&atilde;o, sobre uma manta, chorando amargamente: &uml;Como me apresentarei ao Senhor? Como orarei por esta menina que recebi virgem do Templo do Senhor e que n&atilde;o soube vigiar? Acaso o que ocorreu com Ad&atilde;o ocorreu tamb&eacute;m comigo? Pois enquanto Ad&atilde;o orava veio a serpente e, vendo Eva sozinha, a enganou... Teria o mesmo ocorrido comigo?&uml;
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            2. Ent&atilde;o Jos&eacute; se levantou e chamou Maria. Disse-lhe: &uml;O que fizeste, tu que eras a predileta de Deus? Como tiveste coragem de fazer isso? Esqueceste do teu Deus? Como manchaste a tua alma, tu que foste criada no santo dos santos, recebendo o sustento das m&atilde;os do anjo?&uml;
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            3. Ela chorou amargamente e disse: &uml;Permane&ccedil;o pura pois n&atilde;o conhe&ccedil;o var&atilde;o&uml;. Respondeu Jos&eacute;: &uml;Ent&atilde;o de onde vem o que carregas em teu seio?&uml;. Respondeu Maria: &uml;Juro pelo Senhor, meu Deus, que n&atilde;o sei como isto se sucedeu&uml;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c3">
            CAP&Iacute;TULO XIV
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            1. Ent&atilde;o Jos&eacute; ficou muito preocupado e deixou Maria, pensando o que deveria fazer com ela. Disse para si mesmo: &uml;Se omito o seu erro, estarei contra a Lei do Senhor... Se a denuncio ao povo de Israel e o que lhe aconteceu foi devido &agrave; interven&ccedil;&atilde;o de anjos, estarei condenando uma inocente &agrave; morte. O que farei? Irei mand&aacute;-la embora &agrave;s escondidas...&uml; E logo veio a noite.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            2. Mas um anjo do Senhor apareceu-lhe em sonho e disse-lhe: &uml;N&atilde;o se preocupe com esta menina. O que ela traz em seu ventre &eacute; devido ao Esp&iacute;rito Santo. Ela dar&aacute; &agrave; luz um filho e colocar-lhe-&aacute;s o nome de &acute;Jesus&acute;, porque Ele salvar&aacute; seu povo do pecado&uml;. Levantando-se, Jos&eacute; glorificou ao Deus de Israel por conceder tamanha gra&ccedil;a e continuou com Maria.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c3">
            CAP&Iacute;TULO XV
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            1. Entretanto, An&aacute;s, o escriba, veio at&eacute; sua casa e lhe disse: &uml;Por que deixaste de comparecer &agrave; reuni&atilde;o?&uml; Respondeu Jos&eacute;: &uml;Estava exausto da viagem e resolvi descansar o primeiro dia&uml;. Virando-se, An&aacute;s percebeu a gravidez de Maria.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            2. Ent&atilde;o correu at&eacute; o sacerdote e disse-lhe: &uml;Jos&eacute; cometeu falta grave e tu respondes por ele&uml;. Perguntou o sumo sacerdote: &uml;O que est&aacute;s dizendo?&uml;. Respondeu An&aacute;s: &uml;Ele violou a virgem que recebeu do Templo de Deus e fraudou seu casamento, n&atilde;o declarando-o ao povo de Israel&uml;. Disse o sacerdote: &uml;Est&aacute;s certo de que realmente Jos&eacute; fez isso?&uml; Respondeu An&aacute;s: &uml;Manda a comiss&atilde;o e confirmar&aacute; a gravidez da menina&uml;. Ent&atilde;o os enviados sa&iacute;ram e encontraram [Maria] tal como An&aacute;s dissera. E a levaram ao Tribunal, juntamente com Jos&eacute;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            3. O sacerdote tomou a palavra e disse: &uml;Por que fizeste isso, Maria? Por que manchaste tua alma, esquecendo do Senhor, teu Deus? Tu, que foste criada no santo dos santos e recebias o sustento das m&atilde;os do anjo, que ouviste os hinos e dan&ccedil;aste diante de Deus: por que fizeste isso?&uml; Ela passou a chorar amargamente e disse: &uml;Juro pelo Senhor, meu Deus, que permane&ccedil;o pura diante Dele! N&atilde;o conheci var&atilde;o algum!&uml;
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            4. Ent&atilde;o o sacerdote disse a Jos&eacute;: &uml;Por que fizeste isso?&uml; Respondeu Jos&eacute;: &uml;Juro pelo Senhor, meu Deus, que permane&ccedil;o puro perante ela&uml;. Esbravejou o sacerdote: &uml;N&atilde;o jures em falso! Fala a verdade: fraudaste o teu matrim&ocirc;nio, n&atilde;o declarando-o ao povo de Israel; e n&atilde;o inclinaste tua cabe&ccedil;a sob o bra&ccedil;o forte de Deus, que bendisse a tua descend&ecirc;ncia&uml;. E Jos&eacute; se calou.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c3">
            CAP&Iacute;TULO XVI
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            1. O sacerdote disse [a Jos&eacute;]: &uml;Devolve a virgem que recebeste do Templo de Deus&uml;. Os olhos de Jos&eacute; encheram-se de l&aacute;grimas. O sacerdote disse ainda: &uml;Bebereis da &aacute;gua da prova do Senhor e esta te mostrar&aacute; aos olhos os teus pecados&uml;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            2. E fez Jos&eacute; beber a &aacute;gua e o enviou para a montanha. Por&eacute;m, retornou s&atilde;o e salvo. Fez o mesmo com Maria, enviando-a tamb&eacute;m para a montanha. Tamb&eacute;m ela retornou s&atilde; e salva. Ent&atilde;o a cidade toda se admirou, por n&atilde;o encontrar pecado neles.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            3. Disse o sacerdote: &uml;Visto que o Senhor n&atilde;o indicou o vosso pecado, tamb&eacute;m eu n&atilde;o vos condenarei&uml;. A seguir, os liberou. Jos&eacute; tomou Maria e a levou de volta para sua casa, alegre e louvando a Deus de Israel.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c3">
            CAP&Iacute;TULO XVII
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            1. Chegou, ent&atilde;o, uma ordem do imperador Augusto, obrigando que todos os habitantes de Bel&eacute;m da Jud&eacute;ia participassem do censo. Disse Jos&eacute;: &uml;Posso recensear os meus filhos, mas e esta menina? O que informarei no censo? Que &eacute; minha esposa? &Eacute; vergonhoso. Que &eacute; minha filha? Todos os filhos de Israel sabem que n&atilde;o &eacute;. Fa&ccedil;a-se a vontade do Senhor, pois este &eacute; o seu dia&uml;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            2. Colocou a sela na jumenta e acomodou Maria sobre ela. Um de seus filhos ia conduzindo o animal pelo cabresto enquanto Jos&eacute; simplesmente os acompanhava. Ao chegarem a tr&ecirc;s milhas [de Bel&eacute;m], Jos&eacute; notou que Maria estava triste e disse a si mesmo: &uml;Deve ser porque a gravidez a incomoda&uml;. Olhando novamente, por&eacute;m, viu que ela sorria e disse-lhe: &uml;Maria: o que est&aacute; acontecendo? &Agrave;s vezes te vejo triste, outras sorridente...&uml; Ela respondeu: &uml;Dois povos foram-me apresentados aos olhos: um que chora e se desespera; e outro que se alegra e rejubila&uml;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            3. Atingindo a metade do caminho, Maria disse a Jos&eacute;: &uml;Des&ccedil;a-me porque o fruto de meu ventre anseia por vir &agrave; luz&uml;. Ent&atilde;o [Jos&eacute;] ajudou-a a descer da jumenta e disse-lhe: &uml;Para onde te levarei para esconder a tua nudez, uma vez que nos encontramos em campo aberto?&uml;
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c3">
            CAP&Iacute;TULO XVIII
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            1. Descobrindo uma caverna, conduziu-a para dentro e a deixou com seus filhos enquanto se dirigiu para Bel&eacute;m a fim de buscar uma parteira hebr&eacute;ia.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            2. E eu, Jos&eacute;, andava mas n&atilde;o avan&ccedil;ava; olhei para o espa&ccedil;o e o ar parece-me assombroso; olhei para o c&eacute;u e tudo estava parado, inclusive os p&aacute;ssaros do c&eacute;u; olhei para a terra e vi um vasilhame no ch&atilde;o e uns trabalhadores sentados, como se estivessem comendo j&aacute; que suas m&atilde;os estavam sobre o vasilhame; por&eacute;m, embora parecessem comer, n&atilde;o mastigavam e quem parecia pegar a comida, n&atilde;o a retirava do prato e, ainda, os que pareciam levar os manjares &agrave; boca, n&atilde;o o faziam porque olhavam para o alto. Havia tamb&eacute;m ovelhas sendo capturadas, mas n&atilde;o fugiam e o pastor levantou seu cajado para bater-lhes, por&eacute;m, manteve sua m&atilde;o no ar. Ent&atilde;o olhei para o rio e notei que os cabritos punham seus focinhos nele mas n&atilde;o bebiam da &aacute;gua. Por certo tempo tudo parou.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c3">
            CAP&Iacute;TULO XIX
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            1. Ent&atilde;o a mulher que descia a montanha me perguntou: &uml;Onde vais?&uml; Respondi: &uml;Procuro por uma parteira hebr&eacute;ia&uml;. Ela disse: &uml;Sois de Israel?&uml; Respondi: &uml;Sim&uml;. Ent&atilde;o ela disse: &uml;Quem est&aacute; dando &agrave; luz na caverna?&uml; Disse-lhe: &uml;Minha esposa&uml;. Ela replicou: &uml;Mas n&atilde;o &eacute; tua mulher?&uml; Respondi-lhe: &uml;&Eacute; Maria: aquela que foi criada no Templo do Senhor. De fato, foi-me dada por mulher, mas n&atilde;o o &eacute;, e agora concebe por obra do Esp&iacute;rito Santo&uml;. Disse a parteira: &uml;Isso &eacute; verdade?&uml; Jos&eacute; respondeu: &uml;Vinde e vede&uml;. Ent&atilde;o a parteira foi com ele.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            2. Chegando &agrave; caverna, pararam, pois estava coberta por uma nuvem luminosa. Disse a parteira: &uml;Minha alma foi agraciada pois meus olhos viram coisas incr&iacute;veis e a salva&ccedil;&atilde;o para Israel nasceu!&uml; Ent&atilde;o a nuvem saiu da caverna e de dentro brilhou uma forte luz, de forma que nossos olhos n&atilde;o conseguiam ficar abertos. E [a luz] come&ccedil;ou a diminuir e viu-se que o menino mamava no peito de sua m&atilde;e, Maria. E a parteira gritou: &uml;Hoje &eacute; meu grande dia! Vi com os meus olhos um novo milagre&uml;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            3. E, saindo da gruta, veio ao seu encontro Salom&eacute;. Disse a parteira: &uml;Salom&eacute;, Salom&eacute;! Preciso contar-lhe uma maravilha jamais vista: uma virgem deu &agrave; luz. Como sabes, isso &eacute; imposs&iacute;vel para a natureza humana&uml;. Respondeu-lhe Salom&eacute;: &uml;Pelo Senhor, meu Deus, n&atilde;o acreditarei enquanto n&atilde;o puder tocar os meus dedos em sua natureza para examinar-lhe&uml;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c3">
            CAP&Iacute;TULO XX
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            1. Ent&atilde;o a parteira entrou [na caverna] e disse a Maria: &uml;Prepara-te porque existe uma d&uacute;vida sobre ti entre n&oacute;s&uml;. E Salom&eacute; p&ocirc;s seu dedo na natureza [de Maria] e soltou um grande grito: &uml;Ai de mim! Minha mal&iacute;cia e incredulidade s&atilde;o culpadas! Eis que minha m&atilde;o foi carbonizada e desprendeu-se do meu corpo por tentar ao Deus vivo!&uml;
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            2. E, se ajoelhando diante de Deus, pediu: &uml;&Oacute; Deus de nossos pais: recorda-te de mim, pois sou descendente de Abra&atilde;o, Isaac e Jac&oacute;! N&atilde;o me tornes exemplo para os filhos de Israel! Cura-me para que possa continuar a me dedicar aos pobres, pois bem sabes, Senhor, que curava em teu Nome e recebia diretamente de Ti o meu sal&aacute;rio&uml;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            3. Ent&atilde;o um anjo do c&eacute;u apareceu-lhe e disse: &uml;Salom&eacute;, Salom&eacute;! Deus te ouviu! Toque o menino e ter&aacute;s alegria e prazer&uml;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            4. E Salom&eacute; se aproximou e pegou o menino. E disse: &uml;Adoro-te porque nasceste para ser o Grandioso Rei de Israel&uml;. Sentiu-se, ent&atilde;o, curada e pode sair em paz da caverna. E ouviu-se uma voz que dizia: &uml;Salom&eacute;, Salom&eacute;! N&atilde;o digas a ningu&eacute;m as maravilhas que presenciaste at&eacute; que o menino v&aacute; para Jerusal&eacute;m&uml;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c3">
            CAP&Iacute;TULO XXI
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            1. E Jos&eacute; partiu para a Jud&eacute;ia. Ocorreu ent&atilde;o grande tumulto em Bel&eacute;m pois chegaram um magos dizendo: &uml;Onde est&aacute; o Rei dos judeus rec&eacute;m-nascido, pois vimos sua estrela nascer no Oriente e viemos ador&aacute;-lo&uml;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            2. Ouvindo isto, Herodes ficou perturbado e enviou seus mensageiros aos magos. Convocou os pr&iacute;ncipes e os sacerdotes e fez-lhes a pergunta: &uml;O que est&aacute; escrito sobre o Messias? Onde dever&aacute; nascer?&uml; Eles responderam: &uml;Em Bel&eacute;m da Jud&eacute;ia, conforme as Escrituras&uml;. Dispensou-os e perguntou aos magos: &uml;Que sinal vistes indicando o nascimento desse rei?&uml; Responderam os magos: &uml;Um grande astro brilhou entre as demais estrelas de forma a ocultar-lhes [a luz]. Soubemos, ent&atilde;o, que em Israel havia nascido um rei e viemos para ador&aacute;-lo&uml;. Disse Herodes: &uml;Ide e buscai-o para que tamb&eacute;m eu possa ador&aacute;-lo&uml;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            3. Nesse mesmo instante a estrela que haviam visto no Oriente voltou a brilhar e foram guiados at&eacute; a caverna; [e a estrela] parou sobre a entrada [da caverna]. Ent&atilde;o os magos se aproximaram do menino e de sua m&atilde;e e ofertaram-lhe presentes: ouro, incenso e mirra.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            4. Por&eacute;m, foram advertidos por um anjo para que n&atilde;o retornassem &agrave; Jud&eacute;ia e voltaram para suas terras por outro caminho.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c3">
            CAP&Iacute;TULO XXII
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            1. Quando Herodes percebeu que fora enganado pelos magos, encheu-se de f&uacute;ria e mandou que seus soldados assassinassem todos os meninos com menos de dois anos.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            2. Chegando &agrave; Maria a not&iacute;cia da matan&ccedil;a das crian&ccedil;a, encheu-se de medo e, envolvendo seu filho em panos, colocou-o numa manjedoura.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            3. Quando Isabel ficou sabendo que tamb&eacute;m procuravam sem filho Jo&atilde;o, pegou-o e foi para as montanhas, procurando esconderijo. Como n&atilde;o encontrava nenhum lugar ideal, em solu&ccedil;os orou em alta voz: &uml;&Oacute; Montanha de Deus: recebe em teu seio uma m&atilde;e com seu filho&uml;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            4. Nesse momento, a montanha se abriu para receb&ecirc;-los. Uma grande luz os acompanhou pois um anjo do Senhor foi guard&aacute;-los.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c3">
            CAP&Iacute;TULO XXIII
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            1. Como Herodes continua perseguindo Jos&atilde;o, mandou seus mensageiros interrogarem Zacarias: &uml;Onde escondeste teu filho?&uml; Mas ele respondeu: &uml;Cuido do servi&ccedil;o de Deus e por isso estou sempre no Templo. N&atilde;o sei onde se encontra meu filho&uml;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            2. Os mensageiros informaram o ocorrido a Herodes e ele, furioso, disse para si mesmo: &uml;Provavelmente ser&aacute; seu filho que reinar&aacute; em Israel&uml;. E enviou outro recado [a Zacarias]: &uml;Diga-nos a verdade. Onde se encontra o teu filho? Do contr&aacute;rio, sabes muito bem que o teu sangue est&aacute; sob as minhas m&atilde;os&uml;.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            3. Maz Zacarias respondeu: &uml;Ent&atilde;o serei m&aacute;rtir do Senhor porque te atreves a derramar o meu sangue. Mas a minha alma ser&aacute; recolhida pelo Senhor j&aacute; que uma vida inocente ser&aacute; ceifada no vest&iacute;bulo do santu&aacute;rio&uml;. E Zacarias foi assassinado quando veio a aurora, mas os filhos de Israel n&atilde;o perceberam o crime.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c3">
            CAP&Iacute;TULO XXIV
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            1. Quando os sacerdotes se reuniram &agrave; hora da sauda&ccedil;&atilde;o notaram que Zacarias n&atilde;o veio ao encontro deles para aben&ccedil;o&aacute;-los, como era de costume. Ficaram, por&eacute;m, esperando-o para saud&aacute;-lo na ora&ccedil;&atilde;o e para glorificar o Alt&iacute;ssimo.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            2. Como demorava muito, passaram a ficar amedrontados. Um deles, tomando a iniciativa, entrou e viu sangue j&aacute; coagulado ao lado do altar. Ent&atilde;o ouviu uma voz que dizia: &uml;Zacarias foi morto e seu sangue n&atilde;o dever&aacute; ser limpo at&eacute; que chegue o vingador&uml;. Ao ouvir a voz, encheu-se de medo e saiu para contar aos sacerdotes.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            3. Tomando coragem, estes entraram e testemunharam o ocorrido. Ent&atilde;o os fundamentos do Templo rangeram e rasgaram as vestes de alto a baixo. Por&eacute;m, o corpo [de Zacarias] n&atilde;o foi encontrado, mas apenas o sangue j&aacute; coagulado. Cheios de medo, sa&iacute;ram e contaram a todo povo que Zacarias fora assassinado. E a not&iacute;cia se espalhou por todas as tribos de Israel, que choraram e guardaram luto por tr&ecirc;s dias e tr&ecirc;s noites.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            4. Terminado o tempo [de luto], os sacerdotes se reuniram para decidir quem ocuparia o lugar [de Zacarias]. A sorte caiu sobre Sime&atilde;o, aquele que o Esp&iacute;rito Santo lhe dissera que n&atilde;o provaria a morte at&eacute; que visse o Messias Encarnado.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c3">
            CAP&Iacute;TULO XXV
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            1. E eu, Tiago, escrevi esta narrativa quando surgiu um grande tumulto em Jerusal&eacute;m em virtude da morte de Herodes. Retiro-me para o deserto at&eacute; que cesse o tumulto e glorifico ao Senhor, meu Deus, que me concedeu a gra&ccedil;a e a sabedoria para escrever esta narra&ccedil;&atilde;o.
        </span>
    </p>
    <p class="c1">
        <span class="c0">
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            2. Que a gra&ccedil;a esteja com todos os homens que temem a Nosso Senhor Jesus Cristo, a quem deve ser dada gl&oacute;ria por todos os s&eacute;culos dos s&eacute;culos. Am&eacute;m.
        </span>
    </p>
</body>
</html>