@{
    ViewData["Title"] = "Liturgia";
}


<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <style type="text/css">
        ol {
            margin: 0;
            padding: 0
        }

        table td, table th {
            padding: 0
        }

        .c3 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: left;
            height: 11pt
        }

        .c4 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Arial";
            font-style: normal
        }

        .c0 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Arial";
            font-style: normal
        }

        .c2 {
            padding-top: 12pt;
            padding-bottom: 12pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: justify
        }

        .c1 {
            padding-top: 12pt;
            padding-bottom: 12pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: center
        }

        .c5 {
            background-color: #ffffff;
            max-width: 553pt;
            padding: 15.3pt 29.5pt 15.3pt 29.5pt
        }

        .title {
            padding-top: 0pt;
            color: #000000;
            font-size: 21pt;
            padding-bottom: 0pt;
            font-family: "Trebuchet MS";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .subtitle {
            padding-top: 0pt;
            color: #666666;
            font-size: 13pt;
            padding-bottom: 10pt;
            font-family: "Trebuchet MS";
            line-height: 1.15;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        li {
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }

        p {
            margin: 0;
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }

        h1 {
            padding-top: 10pt;
            color: #000000;
            font-size: 16pt;
            padding-bottom: 0pt;
            font-family: "Trebuchet MS";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h2 {
            padding-top: 10pt;
            color: #000000;
            font-weight: 700;
            font-size: 13pt;
            padding-bottom: 0pt;
            font-family: "Trebuchet MS";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h3 {
            padding-top: 8pt;
            color: #666666;
            font-weight: 700;
            font-size: 12pt;
            padding-bottom: 0pt;
            font-family: "Trebuchet MS";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h4 {
            padding-top: 8pt;
            -webkit-text-decoration-skip: none;
            color: #666666;
            text-decoration: underline;
            font-size: 11pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            page-break-after: avoid;
            text-decoration-skip-ink: none;
            font-family: "Trebuchet MS";
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h5 {
            padding-top: 8pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 0pt;
            font-family: "Trebuchet MS";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h6 {
            padding-top: 8pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 0pt;
            font-family: "Trebuchet MS";
            line-height: 1.15;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: left
        }
    </style>
</head>
<body class="c5 doc-content">
    <p class="c1">
        <span class="c0">
            Evangelho Pseudo-Mateus da inf&acirc;ncia
        </span>
    </p>
    <p class="c1">
        <span class="c0">
            O Livro Sobre a Origem da Aben&ccedil;oada
        </span>
    </p>
    <p class="c1">
        <span class="c0">
            Maria e a lnf&acirc;ncia do Salvador
        </span>
    </p>
    <p class="c1">
        <span class="c0">
            &nbsp;(Ap&oacute;crifo Crist&atilde;o)
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            &nbsp;
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            JOS&Eacute; ESTAVA em Cafarnaum trabalhando; ele era carpinteiro. Ele permaneceu ali por nove meses. Quando voltou para casa, encontrou Maria gr&aacute;vida. Totalmente tomado de ang&uacute;stia, ele clamou tremulo: &quot;Senhor Deus, aceita meu esp&iacute;rito, porque &eacute; melhor que eu morra do que viva&quot;. As virgens que estavam com Maria lhe disseram: &quot;Que dizes, senhor Jos&eacute;? Sabemos que nenhum homem a tocou; sabemos que nela a inoc&ecirc;ncia e a virgindade foram preservadas sem m&aacute;cula. Pois ela tem sido guardada por Deus; ela sempre persiste conosco na ora&ccedil;&atilde;o. Diariamente um anjo do Senhor fala com ela; diariamente ela aceita ali-mento da m&atilde;o de um anjo. Como &eacute; poss&iacute;vel haver pecado nela? Pois se tu queres que te expressemos nossas suspeitas, esta gravidez foi causada por ningu&eacute;m mais que o anjo de Deus&quot;. Jos&eacute;, por&eacute;m, disse: &quot;Estais tentando fazer com que eu acredite que um anjo do Senhor a engravidou? E de fato poss&iacute;vel que algu&eacute;m vestido de anjo do Senhor a tenha enganado&quot;. Depois de dizer isso, ele chorou e disse: &quot;Com que face deverei ir ao Templo de Deus? Com que pretexto devo visitar os sacerdotes de Deus? Que farei?&quot; Depois de dizer isso, ele fez planos para ocult&aacute;-la e repudi&aacute;-la.
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            Ent&atilde;o ele planejou levantar-se &agrave; noite e fugir, para viver escondido; eis que naquela mesma noite, um anjo do Senhor lhe apareceu num sonho e disse: &quot;Jos&eacute;, filho de Dai n&atilde;o tenhas medo de aceitar Maria como tua esposa, porque aquele que est&aacute; em seu ventre &eacute; do Esp&iacute;rito Santo. Ela ter&aacute; um filho que ser&aacute; chamado Jesus; ele salvar&aacute; seu povo de seus pecados&quot;. Jos&eacute; acordou de seu sono, deu gra&ccedil;as a seu Deus, e contou sua vis&atilde;o a Maria e &agrave;s virgens que estavam com ela. E depois de ser confortado por Maria, ele disse: &quot;Eu pequei porque suspeitei de ti&quot;.
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            Aconteceu que depois disto espalhou-se o murm&uacute;rio de que Maria estava gr&aacute;vida. Jos&eacute; foi agarrado pelos emiss&aacute;rios do Templo e levado ao sumo sacerdote que, junto com os sacerdotes, se p&oacute;s a repreend&ecirc;-lo, dizendo: &quot;Como &eacute; que tu foste enganado de tal matrim&ocirc;nio e uma virgem a quem os anjos de Deus alimentaram como uma pomba no Templo, que desejou nunca ver homem algum, que tinha excelente instru&ccedil;&atilde;o na lei de Deus? Se tu mesmo n&atilde;o a tivesses violado, hoje ela permaneceria virgem&quot;. Jos&eacute;, por&eacute;m, fez um juramento, que ele jamais a tocara. Abiathar, o sumo sacerdote, lhe disse: &quot;Como Deus vivo, portanto te farei beber a &aacute;gua da prova do Senhor, e imediatamente ele demonstrar&aacute; teu pecado&quot;.
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            Toda a multid&atilde;o de Israel se reuniu, tantos que era imposs&iacute;vel cont&aacute;-los, e Maria foi conduzida ao Templo do Senhor. Sacerdotes e vizinhos e seus pais clamaram e disseram a Maria: &quot;Confessa teu pecado aos sacerdotes, tu que foste como uma pomba no Templo de Deus e que aceitaste alimento da m&atilde;o de um anjo&quot;. Jos&eacute; tamb&eacute;m foi chamado ao altar e lhe deram a &aacute;gua da prova do Senhor &mdash; que, se um homem faltoso beber e der sete voltas ao redor do altar, Deus far&aacute; seu pecado aparecer no rosto do homem. Quando ent&atilde;o um alegre Jos&eacute; bebeu e deu voltas ao redor do altar, nenhum sinal de pecado foi revelado nele. Ent&atilde;o todos os sacerdotes e ministros e o povo o santificaram, dizendo: &quot;Aben&ccedil;oado &eacute;s tu porque nenhuma culpa foi descoberta em ti&rdquo;. Depois eles chamaram Maria e lhe disseram: &quot;Agora que desculpa podes ter? ou que sinal ele manifestar&aacute; em ti al&eacute;m do que tua gravidez revela em teu ventre? S&oacute; exigiremos de ti que &mdash; porque Jos&eacute; &eacute; inocente com respeito a ti &mdash; tu devas confessar quem &eacute; que te enganou. E melhor que tua confiss&atilde;o te traia do que a ira de Deus d&ecirc; um sinal em teu rosto e te exponha em meio ao povo&quot;.
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            Ent&atilde;o Maria, firme e intr&eacute;pida, disse: &quot;Se existir em mim qualquer m&aacute;cula ou pecado, ou se houve em mim qualquer concupisc&ecirc;ncia ou lasc&iacute;via, que o Senhor me exponha &agrave; vista de todo o povo, para que eu possa ser um exemplo para a corre&ccedil;&atilde;o de todos&quot;. E ela foi confiante at&eacute; o altar de Deus, bebeu a &aacute;gua da prova, deu sete voltas ao redor do altar, e nenhuma falta foi encontrada nela.
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            E enquanto todo o povo se maravilhava e gaguejava, vendo que ela estava gr&aacute;vida e mesmo assim nenhum sinal de culpa aparecera em seu rosto, eles come&ccedil;aram a ficar agitados e a murmurar entre si como as multid&otilde;es fazem. Alguns diziam uma b&ecirc;n&ccedil;&atilde;o, outros por m&aacute; consci&ecirc;ncia a acusavam. Ent&atilde;o, vendo as suspeitas do povo, que eles n&atilde;o foram purgados pela integridade dela, com todos atentos, Maria falou em clara voz: &quot;Como Deus vive, Adonai das hostes, em cuja presen&ccedil;a estou, eu nunca conheci um homem; eu nem mesmo considerei conhecer um homem, porque desde a minha inf&acirc;ncia, por toda a minha vida, tive esta convic&ccedil;&atilde;o. E esta oferenda que fiz a Deus desde a minha inf&acirc;ncia para que continuasse em integridade com aquele que me criou, viver nele somente com quem confabulo, e, enquanto eu viver, permanecer com ele somente, sem m&aacute;cula&quot;.
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            Ent&atilde;o todos a beijaram, pedindo que os perdoasse por suas mal&eacute;ficas suspeitas. E todo o povo e os sacerdotes e todas as virgens, com exulta&ccedil;&atilde;o e louvor, a conduziram at&eacute; sua casa, bradando e dizendo: &quot;Aben&ccedil;oado o nome do Senhor, que revelou tua santidade para todas as multid&otilde;es de Israel.&quot;...
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            [O nascimento de Jesus. A hist&oacute;ria parece ser baseada no Evangelho de Tiago, e traz o exame ginecol&oacute;gico que Salom&eacute; fez em Maria. Este capitulo tamb&eacute;m retoma a narrativa da natividade segundo Lucas.]
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            No terceiro dia depois do nascimento do Senhor, Maria saiu da caverna; ela foi at&eacute; o est&aacute;bulo e colocou a crian&ccedil;a numa manjedoura, e um boi e um burrico o adoraram. Ent&atilde;o aquilo que foi dito atrav&eacute;s do profeta Isa&iacute;as se cumpriu: &quot;O boi conhece seu propriet&aacute;rio e o burrico a manjedoura de seu senhor&quot;. Estes animais, tendo-o no meio deles, o adoravam de cessar. Assim, aquilo que foi falado atrav&eacute;s do profeta Habacuque se cumpriu: &quot;Tu ser&aacute;s conhecido entre os dois animais&quot;. Jos&eacute; e Maria permaneceram ali com a crian&ccedil;a durante tr&ecirc;s dias....505
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            [Ele v&atilde;o a Bel&eacute;m. Jesus &eacute; circuncidado. A apresenta&ccedil;&atilde;o no Templo (ver Lucas 2). A vinda dos Magos. O massacre das crian&ccedil;as judias.]
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            Quando eles chegaram a uma determinada caverna e quiseram descansar nela, Maria desceu da mula de carga e, sentando-se, segurou Jesus no colo. Havia tr&ecirc;s rapazes viajando com Jos&eacute; e uma menina com Maria. E eis que, de repente, muitos drag&otilde;es sa&iacute;ram da caverna. Quando os rapazes viram-nos na frente deles, eles gritaram com grande medo. Ent&atilde;o Jesus desceu do colo de sua m&atilde;e, e ficou de p&eacute; diante dos drag&otilde;es. Eles, por&eacute;m, o adoraram, e, enquanto adoravam, recuaram. Ent&atilde;o aquilo que foi dito atrav&eacute;s do profeta Davi se cumpriu: `Vos drag&otilde;es da terra, louvai o Senhor, v&oacute;s drag&otilde;es e todas as criaturas do abismo&quot;. Ent&atilde;o o menino Jesus caminhou diante deles e lhes ordenou que n&atilde;o machucassem homem algum. Mas Maria e Jos&eacute; estavam com muito medo que o menino pudesse ser machucado pelos drag&otilde;es. Jesus lhes disse: &quot;N&atilde;o tenhais medo, nem me considerai uma crian&ccedil;a; eu sempre fui um homem perfeito e assim sou agora; &eacute; necess&aacute;rio que todos os animais selvagens da floresta sejam mansos diante de mim&quot;.
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            Semelhantemente, le&otilde;es e leopardos o adoraram e os acompanharam no deserto. Para onde quer que Jos&eacute; e Maria fossem, eles os precediam; mostrando o caminho e inclinando suas cabe&ccedil;as, eles adoravam Jesus. No entanto, a primeira vez que Maria viu os le&otilde;es e outros tipos de animais selvagens ao seu redor, ela ficou muito amedrontada. O menino Jesus, com o semblante alegre, olhou para tr&aacute;s e disse: &quot;N&atilde;o tenhas medo, M&atilde;e, eles n&atilde;o vi-eram correndo para c&aacute; para machucar-te e sim eles correm para te obedecer&quot;. Quando ele disse isto, tirou o medo o cora&ccedil;&atilde;o dela. os le&otilde;es viajavam com eles e com os bois e os burricos e os animais de carga que carregavam suas necessidades, e eles n&atilde;o machucaram nenhum deles enquanto Permaneceram. Eram mansos entre as ovelhas e cordeiros que eles trouxeram consigo de Jud&eacute;ia e tinham com eles. Eles viajavam entre os lobos e n&atilde;o estavam amedrontados; n&atilde;o houve dano de um para o outro. Ent&atilde;o aquilo que foi dito pelo profeta se cumpriu: &quot;Lobos ser&atilde;o apascentados com os cordeiros, o le&atilde;o e o boi comer&atilde;o juntos&quot;. Havia dois bois e a carro&ccedil;a, na qual eles carregavam suas necessidades, que os le&otilde;es guiavam em sua jornada.
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            E aconteceu que, no terceiro dia depois de sua partida, Maria estava cansada pelo calor excessivo do sol no deserto e, vendo uma palmeira, disse a Jos&eacute;: &quot;Desejo descansar um pouco debaixo de sua sombra&quot;. Jos&eacute; rapidamente a conduziu at&eacute; a palmeira e a ajudou a descer do animal. Enquanto Maria estava sentada, ela olhou ao topo da palmeira e a viu cheia de frutos. Ela disse a Jos&eacute;: &quot;Desejo, se poss&iacute;vel, comer alguns frutos desta palmeira&quot;. Jos&eacute; lhe disse: &quot;Estou assombrado com que tu dizes, quando v&ecirc;s como &eacute; alta esta palmeira, que penses em comer o fruto dela. Penso mais na &aacute;gua, que j&aacute; nos falta nos sacos de &aacute;gua; agora n&atilde;o temos nada com que nos refrescar nem os animais&quot;.
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            Ent&atilde;o o menino Jesus, que estava descansando com um sorriso no rosto no colo de sua m&atilde;e, disse &agrave; palmeira: &quot;Curva-te, &aacute;rvore, e alimenta minha m&atilde;e com teus frutos&quot;. E imediatamente, &agrave; sua voz, a palmeira curvou sua copa aos p&eacute;s de Maria, e eles colheram os frutos dela com os quais todos se alimentaram. Depois que eles colheram todos os seus frutos, ela continuou curvada, esperando para se erguer ao comando daquele que lhe havia ordenado se curvar. Ent&atilde;o Jesus lhe disse: &quot;Ergue-te, palmeira, e s&ecirc; forte e companheira de minhas &aacute;rvores que est&atilde;o no Para&iacute;so de meu Pai. Abre um curso de &aacute;gua que est&aacute; escondido na terra sob tuas ra&iacute;zes, e dele deixa correr &aacute;guas para satisfazer-nos&quot;. E a palmeira se ergueu imediatamente, e fontes de &aacute;gua, muito clara e fria e doce, come&ccedil;aram a jorrar atrav&eacute;s das ra&iacute;zes. Quando eles viram as fontes de &aacute;gua, se regozijaram com grande j&uacute;bilo, e eles e os animais de carga ficaram todos satisfeitos, e deram gra&ccedil;as a Deus.
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            No dia seguinte eles sa&iacute;ram dali. Ao iniciar a viagem, Jesus se voltou para a palmeira e disse: &quot;Eu te dou o privil&eacute;gio palmeira que um de teus galhos seja carregado por meus anjos e plantado no Para&iacute;so de meu Pai. Eu te confiro esta b&ecirc;n&ccedil;&atilde;o, que todos que ganharem numa luta, lhes ser&aacute; dito: &#39;tu conquistaste a palma da vit&oacute;ria&#39;. Quando ele disso isto, eis que um anjo do Senhor apareceu e ficou acima da palmeira. Ele pegou um de seus galhos e voou para o C&eacute;u com o galho na m&atilde;o. Quando eles viram isto, ca&iacute;ram com suas faces por terra e ficaram como mortos. Jesus falou com eles, dizendo: &quot;Por que o medo se apossou de vossos cora&ccedil;&otilde;es? N&atilde;o sabeis que esta palmeira, que eu mandei levar para o Para&iacute;so, estar&aacute; pronta para todos os santos no lugar das delicias, assim como ela estava pronta para v&oacute;s neste lugar deserto&quot;. Eles ficaram cheios de alegria e se levantaram. Enquanto eles continuavam a viajar, Jos&eacute; disse-lhe: &quot;Senhor, o calor excessivo est&aacute; nos cozinhando; se for de teu agrado, deixa que caminhemos pelo mar, para que possamos viajar, descansando nas cidades ribeirinhas&quot;. Jesus lhe disse: &quot;N&atilde;o tenhas medo, Jos&eacute;, eu encurtarei tua viagem, para que aquilo que tu atravessarias no espa&ccedil;o de trinta dias, terminar&aacute;s em um dia&quot;. Enquanto isto estava sendo dito, eis que eles come&ccedil;aram a ver as montanhas e as cidades do Egito.
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            Rejubilando-se e exultando, eles chegaram &agrave; regi&atilde;o de Herm&oacute;polis, e entraram numa das cidades eg&iacute;pcias chamada Sotinen. Como n&atilde;o conheciam ningu&eacute;m de quem pudessem pedir hospitalidade, foram para o templo que era chamado o &quot;Capit&oacute;lio do Egito&quot;. Haviam sido colocados neste templo trezentos e Sessenta e cinco &iacute;dolos, aos quais, em dias determinados, era dada honra divina em cerim&ocirc;nias sacr&iacute;legas.
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            E ,aconteceu que, quando a aben&ccedil;oad&iacute;ssima Maria, com seu filho, entrou no templo, todos os &iacute;dolos foram jogados ao ch&atilde;o, ficando todos esmagados, convulsos e com suas faces despeda&ccedil;adas. Assim eles revelaram abertamente que eram nada. Ent&atilde;o aquilo que foi dito pelo profeta Isaias se cumpriu: &quot;Eis que o Senhor Vir&aacute; numa nuvem ligeira e entrar&aacute; no Egito, e todos os &iacute;dolos feitos pelos eg&iacute;pcios ser&atilde;o removidos de sua presen&ccedil;a&quot;.
        </span>
    </p>
    <p class="c2">
        <span class="c0">
            Quando isto havia sido anunciado a Afrodosius, o governador da Cidade, ele veio ao templo com seu ex&eacute;rcito inteiro. Quando os sacerdotes do templo viram que Afrodosius se precipitava para o templo com seu ex&eacute;rcito inteiro, eles supuseram que viram sua vingan&ccedil;a sobre aqueles por causa de quem os &iacute;dolos foram derrubados. Ele entrou no templo, e quando viu que todos os &iacute;dolos estavam prostrados sobre suas faces, foi at&eacute; Maria e adorou a crian&ccedil;a que ela carregava em seu seio, e enquanto ele o adorava, disse a seu ex&eacute;rcito inteiro e a seus amigos: &quot;Se ele n&atilde;o fosse o Deus de nossos deuses, nossos deuses certamente n&atilde;o teriam ca&iacute;do diante dele sobre suas faces, nem jazeriam prostrados em sua presen&ccedil;a. Eles assim confessam silenciosamente que ele &eacute; seu Senhor. Se n&oacute;s todos n&atilde;o fizermos por prud&ecirc;ncia aquilo que vemos os nossos deuses fazerem, possivelmente incorreremos em sua indigna&ccedil;&atilde;o e todos seremos destru&iacute;dos, assim como aconteceu com o Fara&oacute;, rei dos eg&iacute;pcios, que n&atilde;o acreditou em tais maravilhas e foi afogado no mar com seu ex&eacute;rcito inteiro&quot;. Ent&atilde;o todas as pessoas daquela cidade acreditaram no Senhor Deus atrav&eacute;s de Jesus Cristo.
        </span>
    </p>
    <p class="c2">
        <span>
            Depois de pouco tempo o anjo disse a Jos&eacute;: &quot;Volta para a terra de Jud&aacute;; aqueles que buscavam a vida do menino est&atilde;o mortos&quot;.
        </span>
        <span class="c4">
            Fim
        </span>
    </p>
    <p class="c1">
        <span class="c0">
            &nbsp;
        </span>
    </p>
    <p class="c3">
        <span class="c0">
        </span>
    </p>
</body>
</html>