
.botao {
	border: none;
	color: white;
	/*padding: 10px 20px;*/
	width: 77px;
	height: 44px;
	text-align: center;
	font-weight: bold;
	/*text-decoration: none;*/
	display: inline-block;
	font-size: 18px;
	margin: 8px 8px;
	/*cursor: default;*/
	border-radius: 8px;
	box-shadow: 0px 4px 0px 0px #626567;
	background-color: #cecece;
	transition: background-color 0.1s, box-shadow 0.1s;
}

	.botao.pressionado {
		/*box-shadow: 0px 2px 0px 0px #696969;*/
		box-shadow: 0 0 10px 3px #ffeb3b;
		transform: translateY(4px);
	}

	.botao.parar {
		background-color: #922B21;
		box-shadow: 0px 4px 0px 0px #7B241C;
	}

		.botao.parar:active {
			background-color: #7B241C;
			box-shadow: 0px 4px 0px 0px #641E16;
			transform: translateY(4px);
		}

	.botao.amarelo {
		background-color: #F1C40F;
		box-shadow: 0px 4px 0px 0px #B7950B;
	}

		.botao.amarelo.pressionado {
			background-color: #B7950B;
			box-shadow: 0px 2px 0px 0px #7D6608;
			transform: translateY(4px);
		}

	.botao.azul {
		background-color: #3498DB;
		box-shadow: 0px 4px 0px 0px #2874A6;
	}

		.botao.azul.pressionado {
			background-color: #2874A6;
			box-shadow: 0px 2px 0px 0px #1B4F72;
			transform: translateY(4px);
		}

	.botao.rosa {
		background-color: #D15591;
		box-shadow: 0px 4px 0px 0px #A92D69;
	}

		.botao.rosa.pressionado {
			background-color: #A92D69;
			box-shadow: 0px 2px 0px 0px #8B0F4B;
			transform: translateY(4px);
		}

	.botao.rosaClaro {
		background-color: #e093bb;
		box-shadow: 0px 4px 0px 0px #D15591;
	}

		.botao.rosaClaro.pressionado {
			background-color: #e27cb1;
			box-shadow: 0px 2px 0px 0px #A92D69;
			transform: translateY(4px);
		}

	.botao.roxo {
		background-color: #8E44AD;
		box-shadow: 0px 4px 0px 0px #6C3483;
	}

		.botao.roxo.pressionado {
			background-color: #6C3483;
			box-shadow: 0px 2px 0px 0px #4A235A;
			transform: translateY(4px);
		}

	.botao.roxoClaro {
		background-color: #BB8FCE;
		box-shadow: 0px 4px 0px 0px #8E44AD;
	}

		.botao.roxoClaro.pressionado {
			background-color: #A569BD;
			box-shadow: 0px 2px 0px 0px #7D3C98;
			transform: translateY(4px);
		}

	.botao.vermelho {
		background-color: #E74C3C;
		box-shadow: 0px 4px 0px 0px #B03A2E;
	}

		.botao.vermelho.pressionado {
			background-color: #B03A2E;
			box-shadow: 0px 2px 0px 0px #78281F;
			transform: translateY(4px);
		}

	.botao.marrom {
		background-color: #F39C12;
		box-shadow: 0px 4px 0px 0px #B9770E;
	}

		.botao.marrom.pressionado {
			background-color: #B9770E;
			box-shadow: 0px 2px 0px 0px #7E5109;
			transform: translateY(4px);
		}

	.botao.marromClaro {
		background-color: #F8C471;
		box-shadow: 0px 4px 0px 0px #F39C12;
	}

		.botao.marromClaro.pressionado {
			background-color: #F5B041;
			box-shadow: 0px 2px 0px 0px #D68910;
			transform: translateY(4px);
		}

	.botao.cinza {
		background-color: #BDC3C7;
		box-shadow: 0px 4px 0px 0px #909497;
	}

		.botao.cinza.pressionado {
			background-color: #909497;
			box-shadow: 0px 2px 0px 0px #626567;
			transform: translateY(4px);
		}

.botao.dedo.selecionado {
	border-bottom: 2px solid #626567;
	box-shadow: 0 0 10px 3px #ffeb3b;
	transform: translateY(4px);
}

.botao.mao.selecionado {
	border-bottom: 2px solid #626567;
	box-shadow: 0 0 10px 3px #ffeb3b;
	transform: translateY(4px);
}

.botao.duasmaos.selecionado {
	border-bottom: 2px solid #626567;
	box-shadow: 0 0 10px 3px #ffeb3b;
	transform: translateY(4px);
}

	.botao.amarelo.selecionadoDrum {
		border-bottom: 2px solid #626567;
		box-shadow: 0 0 10px 3px #ffeb3b;
		transform: translateY(4px);
	}

	.botao.mao.selecionadoDrum {
		border-bottom: 2px solid #626567;
		box-shadow: 0 0 10px 3px #ffeb3b;
		transform: translateY(4px);
	}

	.botao.duasmaos.selecionadoDrum {
		border-bottom: 2px solid #626567;
		box-shadow: 0 0 10px 3px #ffeb3b;
		transform: translateY(4px);
	}

	.botao.dedo.selecionadoDrum {
		background-color: #B7950B;
		box-shadow: 0px 2px 0px 0px #7D6608;
		transform: translateY(4px);
	}

#textoAcordeMenor {
	color: grey;
}

#textoBateria {
	color: grey;
}

#tomSelect {
	width: 62px;
	font-size: 18px;
	font-weight: bold;
	/*text-align-last: center;*/
}

.form-check-input {
	width: 2.5em;
	height: 1.2em;
}

#container {
	font-size: 18px;
	font-weight: bold;
}

.orgao-background {
	background-image: url('../orgao-background.webp');
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
}

	.orgao-background:before {
		content: "";
		display: block;
		position: fixed;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		z-index: -1;
		background-color: rgba(255, 255, 255, 0.9);
	}

.orgao-background-dark {
	background-image: url('../orgao-background.webp');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

	.orgao-background-dark:before {
		content: "";
		display: block;
		position: fixed;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		z-index: -1;
		background-color: rgba(1, 1, 1, 0.8);
	}

.centralizado-no-container {
	width: 270px;
	margin: auto;
	text-align: center;
}

input[type="range"] {
	width: 100%;
	margin-top: 10px;
}

input[type=range][orient=vertical] {
	appearance: slider-vertical;
	width: 8px;
	height: 175px;
	padding: 0 5px;
}

.container {
	display: flex;
	max-width: 840px;
}

.box {
	/*width: 400px;*/
	width: 100%;
	height: 400px;
	margin: 1px;
}

:fullscreen, ::backdrop {
	background-image: url('../orgao-background.webp');
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
}