
<table>
    <tr>
        <td>
            <h1>Liturgia Eucarística</h1>
            <br>
            <span class="TextoMissal">Estando, depois, no meio do altar e voltado para o povo, o sacerdote estende e une as mãos e diz:</span>
            Orai, irmãos e irmãs, para que o meu e o vosso sacrifício seja aceito por Deus Pai todo-poderoso. <br>
            <span class="TextoMissal">O povo se levanta e responde:</span><br>
            <div class="RespostaAssembleia">
                <b>Receba o Senhor por tuas mãos este sacrifício, para glória do seu nome, para nosso bem e de toda a sua santa Igreja.</b>
            </div>
            <br>
            <span class="TextoMissal">Em seguida, abrindo os braços, o sacerdote profere a oração sobre as oferendas; ao terminar, o povo aclama:</span>
            <div class="RespostaAssembleia">
                <b>Amém.</b><br>
            </div>
            <br>
            <h4><i class='icon-asterisk'></i>&nbsp;Oração Eucarística II</h4> <a class="nav-link" asp-area="" asp-controller="Liturgia" asp-action="OracoesEucaristicas">Outras Orações Eucarísticas</a> @* <a href="~/Liturgia/OracoesEucaristicas">Outras orações</a> *@
            <br /><br />
            <span class="TextoMissal">Embora tenha prefácio próprio, esta Oração Eucarística pode ser usada também com outros prefácios, sobretudo aqueles que de maneira sucinta apresentem o mistério da salvação, por exemplo, os prefácios comuns.</span><br>
            <br>
            <span class="TextoMissal">V.</span> O Senhor esteja convosco.<br>
            <span class="TextoMissal">R.</span> <b>Ele está no meio de nós.</b><br>
            <span class="TextoMissal">V.</span> Corações ao alto.<br>
            <span class="TextoMissal">R.</span> <b>O nosso coração está em Deus.</b><br>
            <span class="TextoMissal">V.</span> Demos graças ao Senhor, nosso Deus. <br>
            <span class="TextoMissal">R.</span> <b>É nosso dever e nossa salvação.</b><br>
            <br>
            Na verdade, é digno e justo, é nosso dever e salvação dar-vos graças sempre e em todo lugar, Senhor, Pai santo, por vosso amado Filho, Jesus Cristo.
            <br>
            Ele é a vossa Palavra, pela qual tudo criastes. Ele é o nosso Salvador e Redentor, que se encarnou pelo Espírito Santo e nasceu da Virgem Maria. Ele, para cumprir a vossa vontade e adquirir para vós um povo santo, estendeu os braços na hora da sua paixão, a fim de vencer a morte e manifestar a ressurreição.
            <br>
            Por isso, com os Anjos e todos os Santos, proclamamos vossa glória, cantando <span class="TextoMissal">(</span>dizendo<span class="TextoMissal">)</span> a uma só voz:<br>
            <br>
            <b>Santo, Santo, Santo, Senhor Deus do universo. O céu e a terra proclamam a vossa glória. Hosana nas alturas! Bendito o que vem em nome do Senhor! Hosana nas alturas!</b><br>
            <br>
            <span class="TextoMissal">O sacerdote, de braços abertos, diz:</span><br>
            <span class="TextoMissal">CP</span> Na verdade, ó Pai, vós sois Santo, fonte de toda santidade.<br>
            <br>
            <span class="TextoMissal">Une as mãos e, estendendo-as sobre as oferendas, diz:</span><br>
            <span class="TextoMissal">CC</span> Santificai, pois, estes dons, derramando sobre eles o vosso Espírito, <br>
            <span class="TextoMissal">une as mãos e traça o sinal da cruz, ao mesmo tempo sobre o pão e o cálice, dizendo:</span><br>
            a fim de que se tornem para nós o Corpo e <span class="TextoMissal">✠</span> o Sangue de nosso Senhor Jesus Cristo.<br>
            <span class="TextoMissal">Une as mãos.</span><br>
            <br>
            <div class="RespostaAssembleia">
                <span class="TextoMissal">A assembleia aclama:</span><br>
                <b>Enviai o vosso Espírito Santo!</b><br>
            </div>
            <br>
            <span class="TextoMissal">O relato da instituição da Eucaristia seja proferido de modo claro e audível como requer a sua natureza.</span><br>
            Estando para ser entregue e abraçando livremente a paixão, <br>
            <span class="TextoMissal">toma o pão e, mantendo-o um pouco elevado acima do altar, prossegue:</span><br>
            Jesus tomou o pão, pronunciou a bênção de ação de graças, partiu e o deu a seus discípulos, dizendo: <br>
            <span class="TextoMissal">inclina-se levemente</span><br>
            TOMAI, TODOS, E COMEI: ISTO É O MEU CORPO, QUE SERÁ ENTREGUE POR VÓS. <br>
            <span class="TextoMissal">Mostra ao povo a hóstia consagrada, coloca-a na patena e genuflete em adoração.</span><br>
            <br>
            <span class="TextoMissal">Então prossegue:</span><br>
            Do mesmo modo, no fim da Ceia, <br>
            <span class="TextoMissal">toma o cálice nas mãos e, mantendo-o um pouco elevado acima do altar, prossegue:</span><br>
            ele tomou o cálice em suas mãos e, dando graças novamente, o entregou a seus discípulos, dizendo: <br>
            <span class="TextoMissal">inclina-se levemente</span><br>
            TOMAI, TODOS, E BEBEI: ESTE É O CÁLICE DO MEU SANGUE, O SANGUE DA NOVA E ETERNA ALIANÇA, QUE SERÁ DERRAMADO POR VÓS E POR TODOS PARA REMISSÃO DOS PECADOS. FAZEI ISTO EM MEMÓRIA DE MIM.<br>
            <span class="TextoMissal">Mostra o cálice ao povo, coloca-o sobre o corporal e genuflete em adoração.</span> <br>
            <br>
            <span class="TextoMissal">Em seguida, diz:</span><br>
            Mistério da fé!<br>
            <br>
            <div class="RespostaAssembleia">
                <span class="TextoMissal">A assembleia aclama:</span><br>
                <b>Anunciamos, Senhor, a vossa morte e proclamamos a vossa ressurreição. Vinde, Senhor Jesus!</b><br>
            </div>
            <br>
            <span class="TextoMissal">Ou</span><br>
            Mistério da fé e do amor!<br>
            <br>
            <div class="RespostaAssembleia">
                <span class="TextoMissal">A assembleia aclama:</span><br>
                <b>Todas as vezes que comemos deste pão e bebemos deste cálice, anunciamos, Senhor, a vossa morte, enquanto esperamos a vossa vinda!</b><br>
            </div>
            <br>
            <span class="TextoMissal">Ou</span><br>
            Mistério da fé para a salvação do mundo!<br>
            <br>
            <div class="RespostaAssembleia">
                <span class="TextoMissal">A assembleia aclama:</span><br>
                <b>Salvador do mundo, salvai-nos, vós que nos libertastes pela cruz e ressurreição.</b><br>
            </div>
            <br>
            <span class="TextoMissal">O sacerdote, de braços abertos, diz:</span><br>
            <span class="TextoMissal">CC</span> Celebrando, pois, o memorial da morte e ressurreição do vosso Filho, nós vos oferecemos, ó Pai, o Pão da vida e o Cálice da salvação; e vos agradecemos porque nos tornastes dignos de estar aqui na vossa presença e vos servir.<br>
            <br>
            <div class="RespostaAssembleia">
                <span class="TextoMissal">A assembleia aclama:</span><br>
                <b>Aceitai, ó Senhor, a nossa oferta!</b><br>
            </div>
            <br>
            Suplicantes, vos pedimos que, participando do Corpo e Sangue de Cristo, sejamos reunidos pelo Espírito Santo num só corpo.<br>
            <br>
            <div class="RespostaAssembleia">
                <span class="TextoMissal">A assembleia aclama:</span><br>
                <b>O Espírito nos una num só corpo!</b><br>
            </div>
            <br>
            <span class="TextoMissal">1C</span> Lembrai-vos, ó Pai, da vossa Igreja que se faz presente pelo mundo inteiro; <span class="TextoMissal">★</span> que ela cresça na caridade, em comunhão com o Papa <span class="TextoMissal">N.</span>, com o nosso Bispo <span class="TextoMissal">N.</span>, os bispos do mundo inteiro, os presbíteros, os diáconos e todos os ministros do vosso povo.<br>
            <br>
            <div class="RespostaAssembleia">
                <span class="TextoMissal">A assembleia aclama:</span><br>
                <b>Lembrai-vos, ó Pai, da vossa Igreja!</b><br>
            </div>
            <br>
            <span class="TextoMissal">2C</span> Lembrai-vos também, na vossa misericórdia, dos <span class="TextoMissal">(</span>outros<span class="TextoMissal">)</span> nossos irmãos e irmãs que adormeceram na esperança da ressurreição e de todos os que partiram desta vida; acolhei-os junto a vós na luz da vossa face.<br>
            <br>
            <div class="RespostaAssembleia">
                <span class="TextoMissal">A assembleia aclama:</span><br>
                <b><u>Concedei-lhes, ó Senhor, a luz eterna!</u></b><br>
            </div>
            <br>
            <span class="TextoMissal">3C</span> Enfim, nós vos pedimos, tende piedade de todos nós e dai-nos participar da vida eterna, com a Virgem Maria, Mãe de Deus, São José, seu esposo, os Apóstolos, <span class="TextoMissal">(</span>São <span class="TextoMissal">N.</span>: <span class="TextoMissal">Santo do dia ou padroeiro)</span> e todos os Santos que neste mundo viveram na vossa amizade, a fim de vos louvarmos e glorificarmos<br>
            <span class="TextoMissal">une as mãos</span><br>
            por Jesus Cristo, vosso Filho.<br>
            <br>
            <span class="TextoMissal">Ergue a patena com a hóstia e o cálice, dizendo:</span><br>
            <span class="TextoMissal">CP ou CC</span> Por Cristo, com Cristo, e em Cristo, a vós, Deus Pai todo-poderoso, na unidade do Espírito Santo, toda honra e toda glória, por todos os séculos dos séculos.<br>
            <br>
            <div class="RespostaAssembleia">
                <span class="TextoMissal">A assembleia aclama:</span><br>
                <b>Amém.</b><br>
            </div>
            <br>
            <h4><i class='icon-asterisk'></i>&nbsp;Rito da Comunhão</h4>


            
            <br>
            <span class="TextoMissal">Tendo colocado o cálice e a patena sobre o altar, o sacerdote diz, de mãos unidas:</span><br>
            Obedientes à palavra do Salvador <br>
            e formados por seu divino ensinamento, <br>
            ousamos dizer:<br>
            <br>
            <span class="TextoMissal">O sacerdote abre os braços e prossegue com o povo:</span><br>
            <div class="RespostaAssembleia">
            <br>
            <b>Pai nosso que estais nos céus, <br>
            santificado seja o vosso nome; <br>
            venha a nós o vosso reino, <br>
            seja feita a vossa vontade, <br>
            assim na terra como no céu. <br>
            O pão nosso de cada dia nos dai hoje; <br>
            perdoai-nos as nossas ofensas, <br>
            assim como nós perdoamos <br>
            a quem nos tem ofendido; <br>
            e não nos deixeis cair em tentação, <br>
            mas livrai-nos do mal.</b></div>
            <br>
            <span class="TextoMissal">O sacerdote prossegue sozinho, de braços abertos:</span><br>
            Livrai-nos de todos os males, ó Pai, <br>
            e dai-nos hoje a vossa paz. <br>
            Ajudados pela vossa misericórdia, <br>
            sejamos sempre livres do pecado <br>
            e protegidos de todos os perigos, <br>
            enquanto <u>aguardamos a feliz esperança<br>
            e a vinda do Nosso Salvador, Jesus Cristo.</u><br>
            <span class="TextoMissal">O sacerdote une as mãos.</span><br>
            <br>
            <div class="RespostaAssembleia">
	            <span class="TextoMissal">O povo conclui a oração, aclamando:</span><br>
	            <b>Vosso é o reino, <br>
	            o poder e a glória para sempre.</b><br>
            </div>
            <br>
            <span class="TextoMissal">O sacerdote, de braços abertos, diz em voz alta:</span><br>
            Senhor Jesus Cristo, <br>
            dissestes aos vossos Apóstolos: <br>
            eu vos deixo a paz, eu vos dou a minha paz. <br>
            Não olheis os nossos pecados, <br>
            mas a fé que anima vossa Igreja; <br>
            dai-lhe, segundo o vosso desejo, <br>
            a paz e a unidade.<br>
            <span class="TextoMissal">O sacerdote une as mãos e conclui:</span><br>
            Vós, que sois Deus, com o Pai e o Espírito Santo.<br>
            <br>
            <div class="RespostaAssembleia">
	            <span class="TextoMissal">O povo responde:</span><br>
	            <b>Amém.</b><br>
            </div>
            <br>



            <span class="TextoMissal">O sacerdote, voltado para o povo, estendendo e unindo as mãos, acrescenta:</span><br>
            A paz do Senhor esteja sempre convosco.<br>
            <br>
            <div class="RespostaAssembleia">
	            <span class="TextoMissal">O povo responde:</span><br>
	            <b>O amor de Cristo nos uniu.</b><br>
            </div>
            <br />
            <h4><i class="icon-asterisk"></i>&nbsp;Fração do pão</h4>
            <br>
            <span class="TextoMissal">Em seguida, o sacerdote parte o pão consagrado sobre a patena e coloca um pedaço no cálice, rezando em silêncio:</span><br>
            Esta união do Corpo e do Sangue de Jesus, <br>
            o Cristo e Senhor nosso, que vamos receber, <br>
            nos faça participar da vida eterna.<br>
            <br>
            <span class="TextoMissal">Enquanto isso, canta-se ou recita-se:</span><br>
            <div class="RespostaAssembleia">
	            <b>Cordeiro de Deus, <br>
	            que tirais o pecado do mundo, <br>
	            tende piedade de nós.<br>
	            Cordeiro de Deus, <br>
	            que tirais o pecado do mundo, <br>
	            tende piedade de nós.<br>
	            Cordeiro de Deus, <br>
	            que tirais o pecado do mundo, <br>
	            dai-nos a paz.</b><br>
            </div>
            <br>
            <span class="TextoMissal">Essas palavras podem ser repetidas ainda mais vezes, se a fração do pão se prolongar. Contudo, na última vez se diz:</span> dai-nos a paz<span class="TextoMissal">.</span><br>
            <br>
        </td>
    </tr>
</table>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
