@{
ViewData["Title"] = "Liturgia";
}

<input type="text" id="textInput" placeholder="Digite aqui...">
    <button id="start">Iniciar Microfone</button>
    <button id="stop">Parar Microfone</button>

<div class="container">
<div class="page-header" onclick="ocultar_mostrar('oracao1')">
<h1>Oração Eucarística (01) I ou Cânon Romano <small>Orações Eucarísticas</small>
</h1>
</div>
<div class="row-fluid" id="oracao1">
<svg id="dePe" data-name="De Pé" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 227.13 227.13" width="36px" height="36px">
<defs>
<style>.cls-1 {fill: #9c7b3d;stroke-width: 0px;}</style>
</defs>
<path class="cls-1" d="m113.47,55.81c8.45.09,15.95-7.45,16.02-16.11.08-8.62-7.31-16.26-15.81-16.34-8.45-.08-15.95,7.45-16.05,16.12-.09,8.6,7.31,16.23,15.84,16.32Z"/>
<path class="cls-1" d="m120.75,61.29c-6.38-1.04-12.56-.78-18.71.94-8.84,2.47-15.1,8.21-19.41,16.14-6.34,11.66-7.87,24.25-6.66,37.28.33,3.59,2.53,6.11,5.99,6.95,5.2,1.26,9.63-1.56,9.12-6.89-.14-1.52-.17-3.04-.25-4.56-.34-7.2.39-14.27,2.69-21.13.27-.81.71-1.58,1.07-2.36.27,12.33.38,24.53.24,36.72-.26,23.46-.68,46.91-1.01,70.37-.02,1.1,0,2.25.27,3.31.97,3.86,4.57,6.06,9.11,5.66,4.22-.37,7.58-3.71,7.85-7.87.15-2.22.28-4.45.32-6.68.27-17,.51-34.01.76-51.01,0-.62,0-1.24,0-1.83h2.39c.03.62.07,1.13.08,1.65.35,19,.68,37.99,1.06,56.99.11,5.49,3.99,8.97,9.64,8.77,4.91-.18,7.76-3.67,7.65-9.16-.32-15.77-.61-31.54-.86-47.32-.14-9.15-.13-18.3-.23-27.45-.13-11.08-.3-22.16-.45-33.25,0-.15.07-.31.18-.79.31.54.47.78.59,1.04,3.17,6.52,4,13.53,4.15,20.65.06,3.1-.25,6.21-.3,9.31-.04,2.53,1.18,4.35,3.46,5.42,4.99,2.34,11.04-.92,11.61-6.41,1.24-12.04-.05-23.77-5.28-34.8-5.06-10.68-12.99-17.74-25.07-19.7Z"/>
<path class="cls-1" d="m195.22,0H31.9C14.31,0,0,14.31,0,31.9v163.32c0,17.59,14.31,31.9,31.9,31.9h163.32c17.59,0,31.9-14.31,31.9-31.9V31.9c0-17.59-14.31-31.9-31.9-31.9Zm24.9,195.22c0,13.73-11.17,24.9-24.9,24.9H31.9c-13.73,0-24.9-11.17-24.9-24.9V31.9c0-13.73,11.17-24.9,24.9-24.9h163.32c13.73,0,24.9,11.17,24.9,24.9v163.32Z"/>
</svg>
<svg id="maosPostas" data-name="Mãos postas" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 227.13 227.13" width="36px" height="36px">
<defs>
<style>.cls-1 {fill: #9c7b3d;stroke-width: 0px;}</style>
</defs>
<path class="cls-1" d="m198.45,156.39c-.44-.24-.9-.44-1.36-.63-9.2-3.82-18.41-7.62-27.61-11.44-4.61-1.92-9.23-3.81-13.78-5.87-.79-.36-1.62-1.39-1.78-2.24-1.01-5.32-1.65-10.72-2.76-16.02-3.03-14.46-3.67-29.33-8.81-43.45-4.21-11.56-7.02-23.64-10.55-35.46-2.03-6.8-10.22-9.06-15.25-4.19-1.31,1.27-2.11,3.07-3.15,4.65-.02-.03-.19-.16-.25-.33-1.78-4.59-5.1-7.1-9.22-6.94-4.27.16-7.41,2.95-8.92,7.63-4.48,13.82-7.22,28.18-13,41.6-.16.38-.16.84-.23,1.26-2.81,16.74-5.66,33.47-8.37,50.22-.33,2.02-1.05,3.03-2.96,3.81-13.72,5.63-27.39,11.39-41.07,17.14-2.08.88-2.83,2.26-2.09,3.75.91,1.85,2.41,1.71,4.01,1.04,14.74-6.17,29.48-12.32,44.18-18.6,1.03-.44,2.17-1.8,2.36-2.88,2.59-14.9,5.01-29.82,7.51-44.73.58-3.44.69-7.13,2.09-10.21,5.3-11.61,11.03-23.03,16.63-34.51,1.61-3.3,4.88-3.74,7.49-1.09,1.77,1.81,2.91,1.84,4.68.12,2.86-2.77,5.19-2.36,6.96,1.27,4.72,9.68,9.47,19.35,14.13,29.07,1.22,2.55,2.64,5.16,3.12,7.9,2.8,15.87,5.26,31.8,8.02,47.68,1.36,7.87-.35,5.91,7.19,9.19.2.09,8.34,3.76,9.95,4.43,7.37,3.08,14.78,6.06,22.16,9.09,2.84,1.17,5.64,2.42,8.49,3.56,1.5.6,2.91.37,3.62-1.22.69-1.55.05-2.77-1.4-3.57ZM98.54,48.46c.59-2.03.92-4.21,1.87-6.05.59-1.14,2.02-2.14,3.29-2.56,1.54-.51,3.03.2,3.96,2-4.26.62-7.19,2.82-9.12,6.61Zm20.95-6.5c.58-1.75,1.86-2.23,3.32-2.27,1.82-.06,3.22.84,3.85,2.51.76,2.04,1.26,4.17,1.88,6.27-1.99-3.62-4.7-6.09-9.05-6.51Z"/>
<path class="cls-1" d="m184.02,187.71c-.44-.24-.88-.47-1.32-.7-10.82-5.48-21.64-10.94-32.45-16.44-1.57-.8-3.05-1.75-4.85-2.81-.12-.07-8.07-3.76-8.07-3.76-3.42-1.73-6.29-3.14-9.12-4.61-7.96-4.14-12.03-10.76-12.08-19.68-.1-16.71-.03-33.41-.03-50.12,0-.57-.03-1.15.05-1.71.31-2.43,2.28-4.24,4.59-4.28,2.45-.03,4.48,1.78,4.78,4.3.08.71.04,1.43.04,2.14,0,10,0,19.99,0,29.99,0,2.4.77,3.47,2.48,3.51,1.79.04,2.63-1.08,2.64-3.58,0-10.42.06-20.85-.05-31.27-.02-1.72-.52-3.53-1.23-5.11-1.28-2.85-2.94-5.53-4.35-8.33-3.08-6.11-6.06-12.28-9.21-18.36-.45-.86-1.67-1.9-2.47-1.85-.94.06-1.84,1.19-2.71,1.92-.25.21-.31.63-.47.95-4.24,8.64-8.5,17.27-12.68,25.93-.57,1.19-1.03,2.57-1.04,3.87-.09,10.99-.06,21.99-.06,32.99,0,1.68.75,2.8,2.51,2.82,1.88.02,2.62-1.16,2.61-2.93,0-1.29,0-2.57,0-3.86,0-9.35,0-18.71,0-28.06,0-2.03.8-3.61,2.63-4.55,1.68-.86,3.35-.62,4.86.42,1.72,1.19,1.97,3.01,1.96,4.94-.01,16.42-.05,32.84,0,49.27.03,9.85-4.32,16.81-13.14,21.22-17.86,8.94-35.65,18.01-53.46,27.04-2.69,1.36-3.45,2.68-2.59,4.31.81,1.53,2.29,1.64,4.88.33,18.18-9.21,36.37-18.42,54.55-27.63,4.75-2.41,8.75-6.11,11.43-10.71.12-.21.25-.41.39-.64.23-.36.76-.37.98,0,0,0,0,.02.01.02,3.02,4.91,7.16,9.03,12.31,11.61,15.11,7.58,30.17,15.27,45.25,22.92,3.37,1.71,6.73,3.44,10.12,5.11,1.41.7,2.75.42,3.49-1,.77-1.48.31-2.77-1.2-3.61Zm-70.45-106.66c-2.29-1.02-4.65-2.06-7.18-3.18,2.15-4.49,4.44-9.27,6.95-14.52,2.59,5.22,4.96,9.97,7.22,14.52-2.49,1.13-4.82,2.19-6.99,3.18Z"/>
<path class="cls-1" d="m195.22,0H31.9C14.31,0,0,14.31,0,31.9v163.32c0,17.59,14.31,31.9,31.9,31.9h163.32c17.59,0,31.9-14.31,31.9-31.9V31.9c0-17.59-14.31-31.9-31.9-31.9Zm24.9,195.22c0,13.73-11.17,24.9-24.9,24.9H31.9c-13.73,0-24.9-11.17-24.9-24.9V31.9c0-13.73,11.17-24.9,24.9-24.9h163.32c13.73,0,24.9,11.17,24.9,24.9v163.32Z"/>
</svg>
<br>
<span class="oracoesEucaristicas">℣.</span> O Senhor esteja convosco.<br>
<span class="oracoesEucaristicas">℟.</span>
<b>Ele está no meio de nós.</b>
<br>
<span class="oracoesEucaristicas">℣.</span> Corações ao alto.<br>
<span class="oracoesEucaristicas">℟.</span>
<b>O nosso coração está em Deus.</b>
<br>
<span class="oracoesEucaristicas">℣.</span> Demos graças ao Senhor, nosso Deus. <br>
<span class="oracoesEucaristicas">℟.</span>
<b>É nosso dever e nossa salvação.</b>
<br>
<br>
<span class="oracoesEucaristicas">Segue-se, conforme as rubricas, o prefácio, com a conclusão:</span>
<br>
<b>Santo, Santo, Santo, Senhor Deus do universo. O céu e a terra proclamam a vossa glória. Hosana nas alturas! Bendito o que vem em nome do Senhor! Hosana nas alturas!</b>
<br>
<br>
<svg id="deJoelhos" data-name="De joelhos" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 227.13 227.13" width="36px" height="36px">
<defs>
<style>.cls-1 {fill: #9c7b3d;stroke-width: 0px;}</style>
</defs>
<path class="cls-1" d="m195.22,0H31.9C14.31,0,0,14.31,0,31.9v163.32c0,17.59,14.31,31.9,31.9,31.9h163.32c17.59,0,31.9-14.31,31.9-31.9V31.9c0-17.59-14.31-31.9-31.9-31.9Zm24.9,195.22c0,13.73-11.17,24.9-24.9,24.9H31.9c-13.73,0-24.9-11.17-24.9-24.9V31.9c0-13.73,11.17-24.9,24.9-24.9h163.32c13.73,0,24.9,11.17,24.9,24.9v163.32Z"/>
<path class="cls-1" d="m154.48,82.98h0c-4.03-2.98-9.72-2.12-12.7,1.91l-2.64,3.58c-1.87,1.96-3.47,4.43-5.24,7.11l-3.33,4.51c-5.04-6.6-9.3-12.16-13.54-17.73-4.53-5.97-9.87-10.02-18.03-9.55-9.55.54-15.22,4.51-15.35,13.95-.29,21.73.17,43.48.83,65.21.1,3.13,2.62,6.48,4.73,9.17,3.55,4.56,7.67,8.68,13.76,15.43-9.18,0-15.74-.08-22.3.02-6.51.1-12.11,2.11-11.68,9.81.39,7.08,5.92,8.44,11.97,8.42,13.65-.05,27.31.2,40.95-.1,10.68-.23,15.62-8.45,11.19-18.08-1.35-2.94-2.76-6-4.81-8.44-14.06-16.78-12.51-36.48-11.11-56.44q17.72,14.09,31.15-4.82c2.14-3.02,5.03-5.84,6.45-9.08l1.62-2.2c2.98-4.03,2.12-9.72-1.91-12.7Z"/>
<path class="cls-1" d="m110.34,68.59c10.38,0,18.59-8.17,18.54-18.44-.05-10.6-7.8-18-18.76-17.91-10.69.09-19,8.08-18.87,18.17.12,9.9,8.81,18.17,19.1,18.18Z"/>
</svg>
ou
<svg id="dePe" data-name="De Pé" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 227.13 227.13" width="36px" height="36px">
<defs>
<style>.cls-1 {fill: #9c7b3d;stroke-width: 0px;}</style>
</defs>
<path class="cls-1" d="m113.47,55.81c8.45.09,15.95-7.45,16.02-16.11.08-8.62-7.31-16.26-15.81-16.34-8.45-.08-15.95,7.45-16.05,16.12-.09,8.6,7.31,16.23,15.84,16.32Z"/>
<path class="cls-1" d="m120.75,61.29c-6.38-1.04-12.56-.78-18.71.94-8.84,2.47-15.1,8.21-19.41,16.14-6.34,11.66-7.87,24.25-6.66,37.28.33,3.59,2.53,6.11,5.99,6.95,5.2,1.26,9.63-1.56,9.12-6.89-.14-1.52-.17-3.04-.25-4.56-.34-7.2.39-14.27,2.69-21.13.27-.81.71-1.58,1.07-2.36.27,12.33.38,24.53.24,36.72-.26,23.46-.68,46.91-1.01,70.37-.02,1.1,0,2.25.27,3.31.97,3.86,4.57,6.06,9.11,5.66,4.22-.37,7.58-3.71,7.85-7.87.15-2.22.28-4.45.32-6.68.27-17,.51-34.01.76-51.01,0-.62,0-1.24,0-1.83h2.39c.03.62.07,1.13.08,1.65.35,19,.68,37.99,1.06,56.99.11,5.49,3.99,8.97,9.64,8.77,4.91-.18,7.76-3.67,7.65-9.16-.32-15.77-.61-31.54-.86-47.32-.14-9.15-.13-18.3-.23-27.45-.13-11.08-.3-22.16-.45-33.25,0-.15.07-.31.18-.79.31.54.47.78.59,1.04,3.17,6.52,4,13.53,4.15,20.65.06,3.1-.25,6.21-.3,9.31-.04,2.53,1.18,4.35,3.46,5.42,4.99,2.34,11.04-.92,11.61-6.41,1.24-12.04-.05-23.77-5.28-34.8-5.06-10.68-12.99-17.74-25.07-19.7Z"/>
<path class="cls-1" d="m195.22,0H31.9C14.31,0,0,14.31,0,31.9v163.32c0,17.59,14.31,31.9,31.9,31.9h163.32c17.59,0,31.9-14.31,31.9-31.9V31.9c0-17.59-14.31-31.9-31.9-31.9Zm24.9,195.22c0,13.73-11.17,24.9-24.9,24.9H31.9c-13.73,0-24.9-11.17-24.9-24.9V31.9c0-13.73,11.17-24.9,24.9-24.9h163.32c13.73,0,24.9,11.17,24.9,24.9v163.32Z"/>
</svg>
<br>
<span class="oracoesEucaristicas">O sacerdote, de braços abertos, diz:</span>
<br>
<span class="oracoesEucaristicas">CP</span> Pai de misericórdia, a quem sobem nossos louvores, suplicantes, vos rogamos e pedimos por Jesus Cristo, vosso Filho e Senhor nosso, <br>
<span class="oracoesEucaristicas">une as mãos e traça o sinal da cruz, ao mesmo tempo que sobre o pão e o cálice, dizendo:</span>
<br>
que aceiteis e abençoeis <span class="oracoesEucaristicas">✠</span> estes dons, estas oferendas, este sacrifício puro e santo, <br>
<span class="oracoesEucaristicas">de braços abertos, prossegue:</span>
<br>
que oferecemos, antes de tudo, pela vossa Igreja santa e católica: concedei-lhe paz e proteção, unindo-a num só corpo e governando-a por toda a terra, em comunhão com vosso servo o Papa <span class="oracoesEucaristicas">N.</span>, o nosso Bispo <span class="oracoesEucaristicas">N.</span>, e todos os que guardam a fé católica que receberam dos Apóstolos.<br>
<br>
<div style="padding-left: 5%;">
<span class="oracoesEucaristicas">A assembleia aclama:</span>
<br>
<b>Abençoai nossa oferenda, ó Senhor!</b>
<br>
</div>
<br>
<span class="oracoesEucaristicas">Memento dos vivos</span>
<br>
<span class="oracoesEucaristicas">1C</span> Lembrai-vos, ó Pai, dos vossos filhos e filhas <span class="oracoesEucaristicas">N. N.</span>
<br>
<span class="oracoesEucaristicas">Une as mãos e reza por alguns momentos em silêncio por aqueles que quer recordar. De braços abertos, prossegue:</span>
<br>
e de todos os que circundam este altar, dos quais conheceis a fé e a dedicação ao vosso serviço. <span class="oracoesEucaristicas">★</span>
<br>
<br>
<div id="btn-memento-dos-vivos-missa-com-batismo" onclick="this.style.display='none';document.getElementById('memento-dos-vivos-missa-com-batismo').style.display='block';" style="display:block; cursor: pointer; color: #9C7B3E; border-top: 1px solid #9C7B3E; border-bottom: 1px solid #9C7B3E; padding: 16px; background-color: #00000022; font-size: 80%;" data-cf-modified-f8b7837428028073f0938dd8-="">
Abrir opção "Na Missa com Batismo"
</div>
<div id="memento-dos-vivos-missa-com-batismo" style="display:none; border-top: 1px solid #9C7B3E; border-bottom: 1px solid #9C7B3E; padding: 16px; background-color: #00000022; font-size: 80%;">
<span class="oracoesEucaristicas">Na Missa com Batismo</span>
<br>
<span class="oracoesEucaristicas">1C</span> Lembrai-vos, ó Pai, dos vossos filhos e filhas <span class="oracoesEucaristicas">N. N.</span>
<br>
<span class="oracoesEucaristicas">aqui se menciona os nomes dos padrinhos e das madrinhas</span>
<br>
que conduziram os vossos eleitos à santa graça do Batismo, e de todos que circundam este altar, dos quais conheceis a fé e a dedicação ao vosso serviço. <span class="oracoesEucaristicas">★</span>
<br>
</div>
<br>
<span class="oracoesEucaristicas">★</span> Por eles nós vos oferecemos e também eles vos oferecem este sacrifício de louvor por si e por todos os seus, e elevam a vós as suas preces, Deus eterno, vivo e verdadeiro, para alcançar o perdão de suas faltas, a segurança em suas vidas e a salvação que esperam.<br>
<br>
<div style="padding-left: 5%;">
<span class="oracoesEucaristicas">A assembleia aclama:</span>
<br>
<b>Lembrai-vos, ó Pai, dos vossos filhos!</b>
<br>
</div>
<br>
<span class="oracoesEucaristicas">"Infra actionem"</span>
<br>
<span class="oracoesEucaristicas">2C</span> Em comunhão com toda a Igreja, celebramos em primeiro lugar a memória da Mãe de nosso Deus e Senhor Jesus Cristo, a gloriosa sempre Virgem Maria, <span class="oracoesEucaristicas">★</span>
<br>
<br>
<div id="btn-infra-actionem-comunicantes-proprios" onclick="this.style.display='none';document.getElementById('infra-actionem-comunicantes-proprios').style.display='block';" style="display:block; cursor: pointer; color: #9C7B3E; border-top: 1px solid #9C7B3E; border-bottom: 1px solid #9C7B3E; padding: 16px; background-color: #00000022; font-size: 80%;" data-cf-modified-f8b7837428028073f0938dd8-="">
Abrir opção "Comunicantes próprios": Ⓑ Para os Domingos, No Natal do Senhor e durante a Oitava, Na Epifania do Senhor, Da Vigília Pascal até o 2° Domingo da Páscoa, Na Ascensão do Senhor e Em Pentecostes
</div>
<div id="infra-actionem-comunicantes-proprios" style="display:none; border-top: 1px solid #9C7B3E; border-bottom: 1px solid #9C7B3E; padding: 8px; background-color: #00000022; font-size: 80%;">
COMUNICANTES PRÓPRIOS<br>
<br>
<span class="oracoesEucaristicas">Ⓑ Para os Domingos</span>
<br>
Em comunhão com toda a Igreja, celebramos o glorioso dia em que o Senhor Jesus venceu a morte e nos tornou participantes de sua vida imortal. Veneramos em primeiro lugar a memória da Mãe de nosso Deus e Senhor Jesus Cristo, a gloriosa sempre Virgem Maria, <span class="oracoesEucaristicas">★</span>
<br>
<br>
<span class="oracoesEucaristicas">No Natal do Senhor e durante a Oitava</span>
<br>
Em comunhão com toda a Igreja, celebramos <span class="oracoesEucaristicas">(</span>a noite santíssima<span class="oracoesEucaristicas">)</span> o dia santíssimo em que Maria, intacta em sua virgindade, deu à luz o Salvador do mundo. Veneramos em primeiro lugar a memória da mesma Mãe de nosso Deus e Senhor Jesus Cristo, a gloriosa sempre Virgem Maria, <span class="oracoesEucaristicas">★</span>
<br>
<br>
<span class="oracoesEucaristicas">Na Epifania do Senhor</span>
<br>
Em comunhão com toda a Igreja, celebramos o dia santíssimo em que vosso Filho unigênito, eterno convosco na glória, se manifestou visivelmente em nossa carne. Veneramos em primeiro lugar a memória da Mãe de nosso Deus e Senhor Jesus Cristo, a gloriosa sempre Virgem Maria, <span class="oracoesEucaristicas">★</span>
<br>
<br>
<span class="oracoesEucaristicas">Da Vigília Pascal até o 2° Domingo da Páscoa</span>
<br>
Em comunhão com toda a Igreja, celebramos <span class="oracoesEucaristicas">(</span>a noite santíssima<span class="oracoesEucaristicas">)</span> o dia santíssimo da Ressurreição de nosso Senhor Jesus Cristo segunda a carne. Veneramos em primeiro lugar a memória da Mãe de nosso Deus e Senhor Jesus Cristo, a gloriosa sempre Virgem Maria, <span class="oracoesEucaristicas">★</span>
<br>
<br>
<span class="oracoesEucaristicas">Na Ascensão do Senhor</span>
<br>
Em comunhão com toda a Igreja, celebramos o dia santíssimo em que nosso Senhor, vosso Filho unigênito, elevou à vossa direita na glória a nossa frágil natureza humana. Veneramos em primeiro lugar a memória da Mãe de nosso Deus e Senhor Jesus Cristo, a gloriosa sempre Virgem Maria, <span class="oracoesEucaristicas">★</span>
<br>
<br>
<span class="oracoesEucaristicas">Em Pentecostes</span>
<br>
Em comunhão com toda a Igreja, celebramos o dia santíssimo de Pentecostes em que o Espírito Santo, em línguas de fogo, se manifestou aos Apóstolos. Veneramos em primeiro lugar a memória da Mãe de nosso Deus e Senhor Jesus Cristo, a gloriosa sempre Virgem Maria, <span class="oracoesEucaristicas">★</span>
<br>
</div>
<br>
<span class="oracoesEucaristicas">★</span> a de seu esposo São José, e também a dos Santos Apóstolos e Mártires: Pedro e Paulo, André, <span class="oracoesEucaristicas">(</span>Tiago e João, Tomé, Tiago e Filipe, Bartolomeu e Mateus, Simão e Tadeu, Lino, Cleto, Clemente, Sisto, Cornélio e Cipriano, Lourenço e Crisógono, João e Paulo, Cosme e Damião<span class="oracoesEucaristicas">)</span> e a de todos os vossos Santos. Por seus méritos e preces concedei-nos sem cessar a vossa proteção. <span class="oracoesEucaristicas">(</span>Por Cristo, nosso Senhor. Amém.<span class="oracoesEucaristicas">)</span>
<br>
<br>
<div style="padding-left: 5%;">
<span class="oracoesEucaristicas">A assembleia aclama:</span>
<br>
<b>Em comunhão com vossos Santos vos louvamos!</b>
<br>
</div>
<br>
<span class="oracoesEucaristicas">O sacerdote, com os braços abertos, continua:</span>
<br>
<span class="oracoesEucaristicas">CP</span> Aceitai, ó Pai, com bondade, a oblação dos vossos servos e de toda a vossa família; dai-nos sempre a vossa paz, livrai-nos da condenação eterna e acolhei-nos entre os vossos eleitos. <br>
<span class="oracoesEucaristicas">Une as mãos.</span>
<br>
<span class="oracoesEucaristicas">(</span>Por Cristo, nosso Senhor. Amém.<span class="oracoesEucaristicas">)</span>
<br>
<br>
<div id="btn-oblacao" onclick="this.style.display='none';document.getElementById('oblacao').style.display='block';" style="display:block; cursor: pointer; color: #9C7B3E; border-top: 1px solid #9C7B3E; border-bottom: 1px solid #9C7B3E; padding: 16px; background-color: #00000022; font-size: 80%;" data-cf-modified-f8b7837428028073f0938dd8-="">
Abrir oblações: Da Vigília Pascal até o 2° Domingo da Páscoa, Na Missa com Batismo, Na Missa com Crisma, Ⓑ Na Missa com Primeira Comunhão Eucarística, Ⓑ Na Missa com Unção dos Enfermos e Na Missa com Matrimônio
</div>
<div id="oblacao" style="display:none; border-top: 1px solid #9C7B3E; border-bottom: 1px solid #9C7B3E; padding: 8px; background-color: #00000022; font-size: 80%;">
<span class="oracoesEucaristicas">Da Vigília Pascal até o 2° Domingo da Páscoa</span>
<br>
Aceitai, ó Pai, com bondade, a oblação dos vossos servos e de toda a vossa família; nós a oferecemos também por aqueles que vos dignastes regenerar pela água e pelo Espírito Santo, concedendo-lhes a remissão de todos os pecados. Dai aos nossos dias a vossa paz, livrai-nos da condenação eterna e acolhei-nos entre os vossos eleitos. <br>
<span class="oracoesEucaristicas">Une as mãos.</span>
<br>
<span class="oracoesEucaristicas">(</span>Por Cristo, nosso Senhor. Amém.<span class="oracoesEucaristicas">)</span>
<br>
<br>
<span class="oracoesEucaristicas">Na Missa com Batismo</span>
<br>
Aceitai, ó Pai, com bondade, a oblação dos vossos servos e de toda a vossa família; nós a oferecemos também por aqueles que vos dignastes regenerar pela água e pelo Espírito Santo, concedendo-lhes a remissão de todos os pecados, para que vivam em nosso Senhor Jesus Cristo e tenham seus nomes inscritos no livro da vida. <br>
<span class="oracoesEucaristicas">Une as mãos.</span>
<br>
<span class="oracoesEucaristicas">(</span>Por Cristo, nosso Senhor. Amém.<span class="oracoesEucaristicas">)</span>
<br>
<br>
<span class="oracoesEucaristicas">Na Missa com Crisma</span>
<br>
Aceitai, ó Pai, com bondade, a oblação dos vossos servos e de toda a vossa família; nós a oferecemos também por aqueles que, regenerados pelo Batismo, confirmastes com o dom do Espírito Santo. Nós vos pedimos, Senhor, acolhei benigno a nossa oferta e dignai-vos guardar neles a vossa graça. <br>
<span class="oracoesEucaristicas">Une as mãos.</span>
<br>
<span class="oracoesEucaristicas">(</span>Por Cristo, nosso Senhor. Amém.<span class="oracoesEucaristicas">)</span>
<br>
<br>
<span class="oracoesEucaristicas">Ⓑ Na Missa com Primeira Comunhão Eucarística</span>
<br>
Aceitai, ó Pai, com bondade, a oblação dos vossos servos e de toda a vossa família; nós a oferecemos por vossos filhos e filhas que hoje reunis pela primeira vez à vossa mesa, na participação do Pão da vida e do Cálice da salvação; concedei-lhes crescer sempre em vossa amizade e na comunhão com vossa Igreja.<br>
<span class="oracoesEucaristicas">Une as mãos.</span>
<br>
<span class="oracoesEucaristicas">(</span>Por Cristo, nosso Senhor. Amém.<span class="oracoesEucaristicas">)</span>
<br>
<br>
<span class="oracoesEucaristicas">Ⓑ Na Missa com Unção dos Enfermos</span>
<br>
Aceitai, ó Pai, com bondade, a oblação dos vossos servos e de toda a vossa família; nós a oferecemos também pelos nossos irmãos enfermos que, mediante a santa unção, unem os seus sofrimentos à Páscoa de Cristo; dai-lhes consolação, saúde e paz. <br>
<span class="oracoesEucaristicas">Une as mãos.</span>
<br>
<span class="oracoesEucaristicas">(</span>Por Cristo, nosso Senhor. Amém.<span class="oracoesEucaristicas">)</span>
<br>
<br>
<span class="oracoesEucaristicas">Na Missa com Matrimônio</span>
<br>
Aceitai, ó Pai, com bondade, a oblação de vossos servos, como também dos novos esposos <span class="oracoesEucaristicas">N.</span> e <span class="oracoesEucaristicas">N.</span>, e de toda a vossa família que por eles intercede. E, como lhes destes chegar ao dia do casamento, concedei-lhes também vida longa e feliz <span class="oracoesEucaristicas">(</span>e a alegria dos filhos que desejam<span class="oracoesEucaristicas">)</span>. <br>
<span class="oracoesEucaristicas">Une as mãos.</span>
<br>
<span class="oracoesEucaristicas">(</span>Por Cristo, nosso Senhor. Amém.<span class="oracoesEucaristicas">)</span>
<br>
</div>
<br>
<svg id="deJoelhos" data-name="De joelhos" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 227.13 227.13" width="36px" height="36px">
<defs>
<style>.cls-1 {fill: #9c7b3d;stroke-width: 0px;}</style>
</defs>
<path class="cls-1" d="m195.22,0H31.9C14.31,0,0,14.31,0,31.9v163.32c0,17.59,14.31,31.9,31.9,31.9h163.32c17.59,0,31.9-14.31,31.9-31.9V31.9c0-17.59-14.31-31.9-31.9-31.9Zm24.9,195.22c0,13.73-11.17,24.9-24.9,24.9H31.9c-13.73,0-24.9-11.17-24.9-24.9V31.9c0-13.73,11.17-24.9,24.9-24.9h163.32c13.73,0,24.9,11.17,24.9,24.9v163.32Z"/>
<path class="cls-1" d="m154.48,82.98h0c-4.03-2.98-9.72-2.12-12.7,1.91l-2.64,3.58c-1.87,1.96-3.47,4.43-5.24,7.11l-3.33,4.51c-5.04-6.6-9.3-12.16-13.54-17.73-4.53-5.97-9.87-10.02-18.03-9.55-9.55.54-15.22,4.51-15.35,13.95-.29,21.73.17,43.48.83,65.21.1,3.13,2.62,6.48,4.73,9.17,3.55,4.56,7.67,8.68,13.76,15.43-9.18,0-15.74-.08-22.3.02-6.51.1-12.11,2.11-11.68,9.81.39,7.08,5.92,8.44,11.97,8.42,13.65-.05,27.31.2,40.95-.1,10.68-.23,15.62-8.45,11.19-18.08-1.35-2.94-2.76-6-4.81-8.44-14.06-16.78-12.51-36.48-11.11-56.44q17.72,14.09,31.15-4.82c2.14-3.02,5.03-5.84,6.45-9.08l1.62-2.2c2.98-4.03,2.12-9.72-1.91-12.7Z"/>
<path class="cls-1" d="m110.34,68.59c10.38,0,18.59-8.17,18.54-18.44-.05-10.6-7.8-18-18.76-17.91-10.69.09-19,8.08-18.87,18.17.12,9.9,8.81,18.17,19.1,18.18Z"/>
</svg>
<br>
<span class="oracoesEucaristicas">Estendendo as mãos sobre as oferendas, diz:</span>
<br>
<span class="oracoesEucaristicas">CC</span> Dignai-vos, ó Pai, aceitar, abençoar e santificar estas oferendas; recebei-as como sacrifício espiritual perfeito, a fim de que se tornem para nós o Corpo e o Sangue de vosso amado Filho, nosso Senhor Jesus Cristo.<br>
<span class="oracoesEucaristicas">Une as mãos.</span>
<br>
<br>
<div style="padding-left: 5%;">
<span class="oracoesEucaristicas">A assembleia aclama:</span>
<br>
<b>Enviai o vosso Espírito Santo!</b>
<br>
</div>
<br>
<span class="oracoesEucaristicas">O relato da instituição da Eucaristia seja proferido de modo claro e audível, como requer a sua natureza.</span>
<br>
Na véspera de sua paixão, <br>
<span class="oracoesEucaristicas">toma o pão e, mantendo-o um pouco elevado acima do altar, prossegue:</span>
<br>
ele tomou o pão em suas santas e veneráveis mãos, <br>
<span class="oracoesEucaristicas">eleva os olhos,</span>
<br>
elevou os olhos ao céu, a vós, ó Pai todo-poderoso, pronunciou a bênção de ação de graças, partiu o pão e o deu a seus discípulos, dizendo:<br>
<span class="oracoesEucaristicas">inclina-se levemente</span>
<br>
TOMAI, TODOS, E COMEI: ISTO É O MEU CORPO, QUE SERÁ ENTREGUE POR VÓS. <br>
<span class="oracoesEucaristicas">Mostra ao povo a hóstia consagrada, coloca na patena e genuflete em adoração.</span>
<br>
<br>
<span class="oracoesEucaristicas">Então prossegue:</span>
<br>
Do mesmo modo, no fim da Ceia, <br>
<span class="oracoesEucaristicas">toma o cálice nas mãos e, mantendo-o um pouco elevado acima do altar, prossegue:</span>
<br>
ele tomou este precioso cálice em suas santas e veneráveis mãos, pronunciou novamente a bênção de ação de graças e o deu a seus discípulos, dizendo: <br>
<span class="oracoesEucaristicas">inclina-se levemente</span>
<br>
TOMAI, TODOS, E BEBEI: ESTE É O CÁLICE DO MEU SANGUE, O SANGUE DA NOVA E ETERNA ALIANÇA, QUE SERÁ DERRAMADO POR VÓS E POR TODOS PARA REMISSÃO DOS PECADOS. FAZEI ISTO EM MEMÓRIA DE MIM.<br>
<span class="oracoesEucaristicas">Mostra o cálice ao povo, coloca-o sobre o corporal e genuflete em adoração.</span>
<br>
<br>
<span class="oracoesEucaristicas">Em seguida, diz:</span>
<br>
Mistério da fé!<br>
<br>
<div style="padding-left: 5%;">
<span class="oracoesEucaristicas">A assembleia aclama:</span>
<br>
<b>Anunciamos, Senhor, a vossa morte e proclamamos a vossa ressurreição. Vinde, Senhor Jesus!</b>
<br>
</div>
<br>
<span class="oracoesEucaristicas">Ou</span>
<br>
Mistério da fé e do amor!<br>
<br>
<div style="padding-left: 5%;">
<span class="oracoesEucaristicas">A assembleia aclama:</span>
<br>
<b>Todas as vezes que comemos deste pão e bebemos deste cálice, anunciamos, Senhor, a vossa morte, enquanto esperamos a vossa vinda!</b>
<br>
</div>
<br>
<span class="oracoesEucaristicas">Ou</span>
<br>
Mistério da fé para a salvação do mundo!<br>
<br>
<div style="padding-left: 5%;">
<span class="oracoesEucaristicas">A assembleia aclama:</span>
<br>
<b>Salvador do mundo, salvai-nos, vós que nos libertastes pela cruz e ressurreição.</b>
<br>
</div>
<br>
<svg id="dePe" data-name="De Pé" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 227.13 227.13" width="36px" height="36px">
<defs>
<style>.cls-1 {fill: #9c7b3d;stroke-width: 0px;}</style>
</defs>
<path class="cls-1" d="m113.47,55.81c8.45.09,15.95-7.45,16.02-16.11.08-8.62-7.31-16.26-15.81-16.34-8.45-.08-15.95,7.45-16.05,16.12-.09,8.6,7.31,16.23,15.84,16.32Z"/>
<path class="cls-1" d="m120.75,61.29c-6.38-1.04-12.56-.78-18.71.94-8.84,2.47-15.1,8.21-19.41,16.14-6.34,11.66-7.87,24.25-6.66,37.28.33,3.59,2.53,6.11,5.99,6.95,5.2,1.26,9.63-1.56,9.12-6.89-.14-1.52-.17-3.04-.25-4.56-.34-7.2.39-14.27,2.69-21.13.27-.81.71-1.58,1.07-2.36.27,12.33.38,24.53.24,36.72-.26,23.46-.68,46.91-1.01,70.37-.02,1.1,0,2.25.27,3.31.97,3.86,4.57,6.06,9.11,5.66,4.22-.37,7.58-3.71,7.85-7.87.15-2.22.28-4.45.32-6.68.27-17,.51-34.01.76-51.01,0-.62,0-1.24,0-1.83h2.39c.03.62.07,1.13.08,1.65.35,19,.68,37.99,1.06,56.99.11,5.49,3.99,8.97,9.64,8.77,4.91-.18,7.76-3.67,7.65-9.16-.32-15.77-.61-31.54-.86-47.32-.14-9.15-.13-18.3-.23-27.45-.13-11.08-.3-22.16-.45-33.25,0-.15.07-.31.18-.79.31.54.47.78.59,1.04,3.17,6.52,4,13.53,4.15,20.65.06,3.1-.25,6.21-.3,9.31-.04,2.53,1.18,4.35,3.46,5.42,4.99,2.34,11.04-.92,11.61-6.41,1.24-12.04-.05-23.77-5.28-34.8-5.06-10.68-12.99-17.74-25.07-19.7Z"/>
<path class="cls-1" d="m195.22,0H31.9C14.31,0,0,14.31,0,31.9v163.32c0,17.59,14.31,31.9,31.9,31.9h163.32c17.59,0,31.9-14.31,31.9-31.9V31.9c0-17.59-14.31-31.9-31.9-31.9Zm24.9,195.22c0,13.73-11.17,24.9-24.9,24.9H31.9c-13.73,0-24.9-11.17-24.9-24.9V31.9c0-13.73,11.17-24.9,24.9-24.9h163.32c13.73,0,24.9,11.17,24.9,24.9v163.32Z"/>
</svg>
ou
<svg id="deJoelhos" data-name="De joelhos" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 227.13 227.13" width="36px" height="36px">
<defs>
<style>.cls-1 {fill: #9c7b3d;stroke-width: 0px;}</style>
</defs>
<path class="cls-1" d="m195.22,0H31.9C14.31,0,0,14.31,0,31.9v163.32c0,17.59,14.31,31.9,31.9,31.9h163.32c17.59,0,31.9-14.31,31.9-31.9V31.9c0-17.59-14.31-31.9-31.9-31.9Zm24.9,195.22c0,13.73-11.17,24.9-24.9,24.9H31.9c-13.73,0-24.9-11.17-24.9-24.9V31.9c0-13.73,11.17-24.9,24.9-24.9h163.32c13.73,0,24.9,11.17,24.9,24.9v163.32Z"/>
<path class="cls-1" d="m154.48,82.98h0c-4.03-2.98-9.72-2.12-12.7,1.91l-2.64,3.58c-1.87,1.96-3.47,4.43-5.24,7.11l-3.33,4.51c-5.04-6.6-9.3-12.16-13.54-17.73-4.53-5.97-9.87-10.02-18.03-9.55-9.55.54-15.22,4.51-15.35,13.95-.29,21.73.17,43.48.83,65.21.1,3.13,2.62,6.48,4.73,9.17,3.55,4.56,7.67,8.68,13.76,15.43-9.18,0-15.74-.08-22.3.02-6.51.1-12.11,2.11-11.68,9.81.39,7.08,5.92,8.44,11.97,8.42,13.65-.05,27.31.2,40.95-.1,10.68-.23,15.62-8.45,11.19-18.08-1.35-2.94-2.76-6-4.81-8.44-14.06-16.78-12.51-36.48-11.11-56.44q17.72,14.09,31.15-4.82c2.14-3.02,5.03-5.84,6.45-9.08l1.62-2.2c2.98-4.03,2.12-9.72-1.91-12.7Z"/>
<path class="cls-1" d="m110.34,68.59c10.38,0,18.59-8.17,18.54-18.44-.05-10.6-7.8-18-18.76-17.91-10.69.09-19,8.08-18.87,18.17.12,9.9,8.81,18.17,19.1,18.18Z"/>
</svg>
<br>
<span class="oracoesEucaristicas">O sacerdote, de braços abertos, diz:</span>
<br>
<span class="oracoesEucaristicas">CC</span> Celebrando, pois, a memória da bem-aventurada paixão do vosso Filho, da sua ressurreição dentre os mortos e gloriosa ascensão aos céus, nós, vossos servos, e também vosso povo santo, vos oferecemos, ó Pai, dentre os bens que nos destes, o sacrifício puro, santo e imaculado, Pão santo da vida eterna e Cálice da perpétua salvação.<br>
Recebei, ó Pai, com olhar benigno, esta oferta, como recebestes os dons do justo Abel, o sacrifício de nosso patriarca Abraão e a oblação pura e santa do sumo sacerdote Melquisedeque.<br>
<br>
<div style="padding-left: 5%;">
<span class="oracoesEucaristicas">A assembleia aclama:</span>
<br>
<b>Aceitai, ó Senhor, a nossa oferta!</b>
<br>
</div>
<br>
<span class="oracoesEucaristicas">Une as mãos e, inclinando-se, diz:</span>
<br>
Suplicantes, vos pedimos, ó Deus onipotente, que esta nossa oferenda seja levada à vossa presença, no altar do céu, pelas mãos do vosso santo Anjo, para que todos nós, participando deste altar pela comunhão do santíssimo Corpo e Sangue do vosso Filho, <br>
<span class="oracoesEucaristicas">ergue-se e faz sobre si o sinal da cruz, dizendo:</span>
<br>
sejamos repletos de todas as graças e bênçãos do céu. <br>
<span class="oracoesEucaristicas">Une as mãos.</span>
<br>
<span class="oracoesEucaristicas">(</span>Por Cristo, nosso Senhor. Amém.<span class="oracoesEucaristicas">)</span>
<br>
<br>
<div style="padding-left: 5%;">
<span class="oracoesEucaristicas">A assembleia aclama:</span>
<br>
<b>O Espírito nos una num só corpo!</b>
<br>
</div>
<br>
<span class="oracoesEucaristicas">Memento dos mortos.</span>
<br>
<span class="oracoesEucaristicas">De braços abertos, diz:</span>
<br>
<span class="oracoesEucaristicas">3C</span> Lembrai-vos, ó Pai, dos vossos filhos e filhas <span class="oracoesEucaristicas">N. N.</span> que nos precederam com o sinal da fé e dormem o sono da paz. <br>
<span class="oracoesEucaristicas">Une as mãos e, em silêncio, reza brevemente pelos defuntos que deseja recordar. De braços abertos, prossegue:</span>
<br>
A eles, e a todos os que descansam no Cristo, concedei o repouso, a luz e a paz. <br>
<span class="oracoesEucaristicas">Une as mãos.</span>
<br>
<span class="oracoesEucaristicas">(</span>Por Cristo, nosso Senhor. Amém.<span class="oracoesEucaristicas">)</span>
<br>
<br>
<div style="padding-left: 5%;">
<span class="oracoesEucaristicas">A assembleia aclama:</span>
<br>
<b>
<u>Concedei-lhes, ó Senhor, a luz eterna!</u>
</b>
<br>
</div>
<br>
<span class="oracoesEucaristicas">Bate no peito, dizendo:</span>
<br>
<span class="oracoesEucaristicas">4C</span> E a todos nós pecadores, <br>
<span class="oracoesEucaristicas">e, de braços abertos, prossegue:</span>
<br>
que esperamos na vossa infinita misericórdia, concedei, não por nossos méritos, mas por vossa bondade, o convívio dos Apóstolos e Mártires: João Batista e Estêvão, Matias e Barnabé, <span class="oracoesEucaristicas">(</span>Inácio, Alexandre, Marcelino e Pedro, Felicidade e Perpétua, Águeda e Luzia, Inês, Cecília, Anastácia<span class="oracoesEucaristicas">)</span> e de todos os vossos Santos. <br>
<span class="oracoesEucaristicas">Une as mãos:</span>
<br>
Por Cristo, nosso Senhor.<br>
<br>
<span class="oracoesEucaristicas">E prossegue:</span>
<br>
<span class="oracoesEucaristicas">CP</span> Por ele não cessais de criar, santificar, vivificar, abençoar estes bens e distribuí-los entre nós.<br>
<br>
<span class="oracoesEucaristicas">Ergue a patena com a hóstia e o cálice, dizendo:</span>
<br>
<span class="oracoesEucaristicas">CP ou CC</span> Por Cristo, com Cristo, e em Cristo, a vós, Deus Pai todo-poderoso, na unidade do Espírito Santo, toda honra e toda glória, por todos os séculos dos séculos.<br>
<br>
<div style="padding-left: 5%;">
<span class="oracoesEucaristicas">A assembleia aclama:</span>
<br>
<b>Amém.</b>
<br>
<svg id="dePe" data-name="De Pé" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 227.13 227.13" width="36px" height="36px">
<defs>
<style>.cls-1 {fill: #9c7b3d;stroke-width: 0px;}</style>
</defs>
<path class="cls-1" d="m113.47,55.81c8.45.09,15.95-7.45,16.02-16.11.08-8.62-7.31-16.26-15.81-16.34-8.45-.08-15.95,7.45-16.05,16.12-.09,8.6,7.31,16.23,15.84,16.32Z"/>
<path class="cls-1" d="m120.75,61.29c-6.38-1.04-12.56-.78-18.71.94-8.84,2.47-15.1,8.21-19.41,16.14-6.34,11.66-7.87,24.25-6.66,37.28.33,3.59,2.53,6.11,5.99,6.95,5.2,1.26,9.63-1.56,9.12-6.89-.14-1.52-.17-3.04-.25-4.56-.34-7.2.39-14.27,2.69-21.13.27-.81.71-1.58,1.07-2.36.27,12.33.38,24.53.24,36.72-.26,23.46-.68,46.91-1.01,70.37-.02,1.1,0,2.25.27,3.31.97,3.86,4.57,6.06,9.11,5.66,4.22-.37,7.58-3.71,7.85-7.87.15-2.22.28-4.45.32-6.68.27-17,.51-34.01.76-51.01,0-.62,0-1.24,0-1.83h2.39c.03.62.07,1.13.08,1.65.35,19,.68,37.99,1.06,56.99.11,5.49,3.99,8.97,9.64,8.77,4.91-.18,7.76-3.67,7.65-9.16-.32-15.77-.61-31.54-.86-47.32-.14-9.15-.13-18.3-.23-27.45-.13-11.08-.3-22.16-.45-33.25,0-.15.07-.31.18-.79.31.54.47.78.59,1.04,3.17,6.52,4,13.53,4.15,20.65.06,3.1-.25,6.21-.3,9.31-.04,2.53,1.18,4.35,3.46,5.42,4.99,2.34,11.04-.92,11.61-6.41,1.24-12.04-.05-23.77-5.28-34.8-5.06-10.68-12.99-17.74-25.07-19.7Z"/>
<path class="cls-1" d="m195.22,0H31.9C14.31,0,0,14.31,0,31.9v163.32c0,17.59,14.31,31.9,31.9,31.9h163.32c17.59,0,31.9-14.31,31.9-31.9V31.9c0-17.59-14.31-31.9-31.9-31.9Zm24.9,195.22c0,13.73-11.17,24.9-24.9,24.9H31.9c-13.73,0-24.9-11.17-24.9-24.9V31.9c0-13.73,11.17-24.9,24.9-24.9h163.32c13.73,0,24.9,11.17,24.9,24.9v163.32Z"/>
</svg>
</div>
<br>
<span class="oracoesEucaristicas">Segue-se o Rito da Comunhão.</span>
<br>
<br>                    </div>
</div>


<div class="container">
<div class="page-header" onclick="ocultar_mostrar('oracao2')">
<h1>Oração Eucarística (02) II <small>Orações Eucarísticas</small></h1>
</div>
<div class="row-fluid" id="oracao2">
<span style="color: #9C7B3E; font-size: 90%;">Embora tenha prefácio próprio, esta Oração Eucarística pode ser usada também com outros prefácios, sobretudo aqueles que de maneira sucinta apresentem o mistério da salvação, por exemplo, os prefácios comuns.</span><br>
<br>
<svg id="dePe" data-name="De Pé" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 227.13 227.13" width="36px" height="36px"><defs><style>.cls-1 {fill: #9c7b3d;stroke-width: 0px;}</style></defs><path class="cls-1" d="m113.47,55.81c8.45.09,15.95-7.45,16.02-16.11.08-8.62-7.31-16.26-15.81-16.34-8.45-.08-15.95,7.45-16.05,16.12-.09,8.6,7.31,16.23,15.84,16.32Z"/><path class="cls-1" d="m120.75,61.29c-6.38-1.04-12.56-.78-18.71.94-8.84,2.47-15.1,8.21-19.41,16.14-6.34,11.66-7.87,24.25-6.66,37.28.33,3.59,2.53,6.11,5.99,6.95,5.2,1.26,9.63-1.56,9.12-6.89-.14-1.52-.17-3.04-.25-4.56-.34-7.2.39-14.27,2.69-21.13.27-.81.71-1.58,1.07-2.36.27,12.33.38,24.53.24,36.72-.26,23.46-.68,46.91-1.01,70.37-.02,1.1,0,2.25.27,3.31.97,3.86,4.57,6.06,9.11,5.66,4.22-.37,7.58-3.71,7.85-7.87.15-2.22.28-4.45.32-6.68.27-17,.51-34.01.76-51.01,0-.62,0-1.24,0-1.83h2.39c.03.62.07,1.13.08,1.65.35,19,.68,37.99,1.06,56.99.11,5.49,3.99,8.97,9.64,8.77,4.91-.18,7.76-3.67,7.65-9.16-.32-15.77-.61-31.54-.86-47.32-.14-9.15-.13-18.3-.23-27.45-.13-11.08-.3-22.16-.45-33.25,0-.15.07-.31.18-.79.31.54.47.78.59,1.04,3.17,6.52,4,13.53,4.15,20.65.06,3.1-.25,6.21-.3,9.31-.04,2.53,1.18,4.35,3.46,5.42,4.99,2.34,11.04-.92,11.61-6.41,1.24-12.04-.05-23.77-5.28-34.8-5.06-10.68-12.99-17.74-25.07-19.7Z"/><path class="cls-1" d="m195.22,0H31.9C14.31,0,0,14.31,0,31.9v163.32c0,17.59,14.31,31.9,31.9,31.9h163.32c17.59,0,31.9-14.31,31.9-31.9V31.9c0-17.59-14.31-31.9-31.9-31.9Zm24.9,195.22c0,13.73-11.17,24.9-24.9,24.9H31.9c-13.73,0-24.9-11.17-24.9-24.9V31.9c0-13.73,11.17-24.9,24.9-24.9h163.32c13.73,0,24.9,11.17,24.9,24.9v163.32Z"/></svg>
<svg id="maosPostas" data-name="Mãos postas" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 227.13 227.13" width="36px" height="36px"><defs><style>.cls-1 {fill: #9c7b3d;stroke-width: 0px;}</style></defs><path class="cls-1" d="m198.45,156.39c-.44-.24-.9-.44-1.36-.63-9.2-3.82-18.41-7.62-27.61-11.44-4.61-1.92-9.23-3.81-13.78-5.87-.79-.36-1.62-1.39-1.78-2.24-1.01-5.32-1.65-10.72-2.76-16.02-3.03-14.46-3.67-29.33-8.81-43.45-4.21-11.56-7.02-23.64-10.55-35.46-2.03-6.8-10.22-9.06-15.25-4.19-1.31,1.27-2.11,3.07-3.15,4.65-.02-.03-.19-.16-.25-.33-1.78-4.59-5.1-7.1-9.22-6.94-4.27.16-7.41,2.95-8.92,7.63-4.48,13.82-7.22,28.18-13,41.6-.16.38-.16.84-.23,1.26-2.81,16.74-5.66,33.47-8.37,50.22-.33,2.02-1.05,3.03-2.96,3.81-13.72,5.63-27.39,11.39-41.07,17.14-2.08.88-2.83,2.26-2.09,3.75.91,1.85,2.41,1.71,4.01,1.04,14.74-6.17,29.48-12.32,44.18-18.6,1.03-.44,2.17-1.8,2.36-2.88,2.59-14.9,5.01-29.82,7.51-44.73.58-3.44.69-7.13,2.09-10.21,5.3-11.61,11.03-23.03,16.63-34.51,1.61-3.3,4.88-3.74,7.49-1.09,1.77,1.81,2.91,1.84,4.68.12,2.86-2.77,5.19-2.36,6.96,1.27,4.72,9.68,9.47,19.35,14.13,29.07,1.22,2.55,2.64,5.16,3.12,7.9,2.8,15.87,5.26,31.8,8.02,47.68,1.36,7.87-.35,5.91,7.19,9.19.2.09,8.34,3.76,9.95,4.43,7.37,3.08,14.78,6.06,22.16,9.09,2.84,1.17,5.64,2.42,8.49,3.56,1.5.6,2.91.37,3.62-1.22.69-1.55.05-2.77-1.4-3.57ZM98.54,48.46c.59-2.03.92-4.21,1.87-6.05.59-1.14,2.02-2.14,3.29-2.56,1.54-.51,3.03.2,3.96,2-4.26.62-7.19,2.82-9.12,6.61Zm20.95-6.5c.58-1.75,1.86-2.23,3.32-2.27,1.82-.06,3.22.84,3.85,2.51.76,2.04,1.26,4.17,1.88,6.27-1.99-3.62-4.7-6.09-9.05-6.51Z"></path><path class="cls-1" d="m184.02,187.71c-.44-.24-.88-.47-1.32-.7-10.82-5.48-21.64-10.94-32.45-16.44-1.57-.8-3.05-1.75-4.85-2.81-.12-.07-8.07-3.76-8.07-3.76-3.42-1.73-6.29-3.14-9.12-4.61-7.96-4.14-12.03-10.76-12.08-19.68-.1-16.71-.03-33.41-.03-50.12,0-.57-.03-1.15.05-1.71.31-2.43,2.28-4.24,4.59-4.28,2.45-.03,4.48,1.78,4.78,4.3.08.71.04,1.43.04,2.14,0,10,0,19.99,0,29.99,0,2.4.77,3.47,2.48,3.51,1.79.04,2.63-1.08,2.64-3.58,0-10.42.06-20.85-.05-31.27-.02-1.72-.52-3.53-1.23-5.11-1.28-2.85-2.94-5.53-4.35-8.33-3.08-6.11-6.06-12.28-9.21-18.36-.45-.86-1.67-1.9-2.47-1.85-.94.06-1.84,1.19-2.71,1.92-.25.21-.31.63-.47.95-4.24,8.64-8.5,17.27-12.68,25.93-.57,1.19-1.03,2.57-1.04,3.87-.09,10.99-.06,21.99-.06,32.99,0,1.68.75,2.8,2.51,2.82,1.88.02,2.62-1.16,2.61-2.93,0-1.29,0-2.57,0-3.86,0-9.35,0-18.71,0-28.06,0-2.03.8-3.61,2.63-4.55,1.68-.86,3.35-.62,4.86.42,1.72,1.19,1.97,3.01,1.96,4.94-.01,16.42-.05,32.84,0,49.27.03,9.85-4.32,16.81-13.14,21.22-17.86,8.94-35.65,18.01-53.46,27.04-2.69,1.36-3.45,2.68-2.59,4.31.81,1.53,2.29,1.64,4.88.33,18.18-9.21,36.37-18.42,54.55-27.63,4.75-2.41,8.75-6.11,11.43-10.71.12-.21.25-.41.39-.64.23-.36.76-.37.98,0,0,0,0,.02.01.02,3.02,4.91,7.16,9.03,12.31,11.61,15.11,7.58,30.17,15.27,45.25,22.92,3.37,1.71,6.73,3.44,10.12,5.11,1.41.7,2.75.42,3.49-1,.77-1.48.31-2.77-1.2-3.61Zm-70.45-106.66c-2.29-1.02-4.65-2.06-7.18-3.18,2.15-4.49,4.44-9.27,6.95-14.52,2.59,5.22,4.96,9.97,7.22,14.52-2.49,1.13-4.82,2.19-6.99,3.18Z"></path><path class="cls-1" d="m195.22,0H31.9C14.31,0,0,14.31,0,31.9v163.32c0,17.59,14.31,31.9,31.9,31.9h163.32c17.59,0,31.9-14.31,31.9-31.9V31.9c0-17.59-14.31-31.9-31.9-31.9Zm24.9,195.22c0,13.73-11.17,24.9-24.9,24.9H31.9c-13.73,0-24.9-11.17-24.9-24.9V31.9c0-13.73,11.17-24.9,24.9-24.9h163.32c13.73,0,24.9,11.17,24.9,24.9v163.32Z"></path></svg>
<br>
<span style="color: #9C7B3E; font-size: 90%;">℣.</span> O Senhor esteja convosco.<br>
<span style="color: #9C7B3E; font-size: 90%;">℟.</span> <b>Ele está no meio de nós.</b><br>
<span style="color: #9C7B3E; font-size: 90%;">℣.</span> Corações ao alto.<br>
<span style="color: #9C7B3E; font-size: 90%;">℟.</span> <b>O nosso coração está em Deus.</b><br>
<span style="color: #9C7B3E; font-size: 90%;">℣.</span> Demos graças ao Senhor, nosso Deus. <br>
<span style="color: #9C7B3E; font-size: 90%;">℟.</span> <b>É nosso dever e nossa salvação.</b><br>
<br>
Na verdade, é digno e justo, é nosso dever e salvação dar-vos graças sempre e em todo lugar, Senhor, Pai santo, por vosso amado Filho, Jesus Cristo.<br>
<br>
Ele é a vossa Palavra, pela qual tudo criastes. Ele é o nosso Salvador e Redentor, que se encarnou pelo Espírito Santo e nasceu da Virgem Maria. Ele, para cumprir a vossa vontade e adquirir para vós um povo santo, estendeu os braços na hora da sua paixão, a fim de vencer a morte e manifestar a ressurreição.<br>
<br>
Por isso, com os Anjos e todos os Santos, proclamamos vossa glória, cantando <span style="color: #9C7B3E; font-size: 90%;">(</span>dizendo<span style="color: #9C7B3E; font-size: 90%;">)</span> a uma só voz:<br>
<br>
<b>Santo, Santo, Santo, Senhor Deus do universo. O céu e a terra proclamam a vossa glória. Hosana nas alturas! Bendito o que vem em nome do Senhor! Hosana nas alturas!</b><br>
<br>
<svg id="deJoelhos" data-name="De joelhos" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 227.13 227.13" width="36px" height="36px"><defs><style>.cls-1 {fill: #9c7b3d;stroke-width: 0px;}</style></defs><path class="cls-1" d="m195.22,0H31.9C14.31,0,0,14.31,0,31.9v163.32c0,17.59,14.31,31.9,31.9,31.9h163.32c17.59,0,31.9-14.31,31.9-31.9V31.9c0-17.59-14.31-31.9-31.9-31.9Zm24.9,195.22c0,13.73-11.17,24.9-24.9,24.9H31.9c-13.73,0-24.9-11.17-24.9-24.9V31.9c0-13.73,11.17-24.9,24.9-24.9h163.32c13.73,0,24.9,11.17,24.9,24.9v163.32Z"/><path class="cls-1" d="m154.48,82.98h0c-4.03-2.98-9.72-2.12-12.7,1.91l-2.64,3.58c-1.87,1.96-3.47,4.43-5.24,7.11l-3.33,4.51c-5.04-6.6-9.3-12.16-13.54-17.73-4.53-5.97-9.87-10.02-18.03-9.55-9.55.54-15.22,4.51-15.35,13.95-.29,21.73.17,43.48.83,65.21.1,3.13,2.62,6.48,4.73,9.17,3.55,4.56,7.67,8.68,13.76,15.43-9.18,0-15.74-.08-22.3.02-6.51.1-12.11,2.11-11.68,9.81.39,7.08,5.92,8.44,11.97,8.42,13.65-.05,27.31.2,40.95-.1,10.68-.23,15.62-8.45,11.19-18.08-1.35-2.94-2.76-6-4.81-8.44-14.06-16.78-12.51-36.48-11.11-56.44q17.72,14.09,31.15-4.82c2.14-3.02,5.03-5.84,6.45-9.08l1.62-2.2c2.98-4.03,2.12-9.72-1.91-12.7Z"/><path class="cls-1" d="m110.34,68.59c10.38,0,18.59-8.17,18.54-18.44-.05-10.6-7.8-18-18.76-17.91-10.69.09-19,8.08-18.87,18.17.12,9.9,8.81,18.17,19.1,18.18Z"/></svg>
<br>
<span style="color: #9C7B3E; font-size: 90%;">O sacerdote, de braços abertos, diz:</span><br>
<span style="color: #9C7B3E; font-size: 90%;">CP</span> Na verdade, ó Pai, vós sois Santo, fonte de toda santidade.<br>
<br>
<span style="color: #9C7B3E; font-size: 90%;">Une as mãos e, estendendo-as sobre as oferendas, diz:</span><br>
<span style="color: #9C7B3E; font-size: 90%;">CC</span> Santificai, pois, estes dons, derramando sobre eles o vosso Espírito, <br>
<span style="color: #9C7B3E; font-size: 90%;">une as mãos e traça o sinal da cruz, ao mesmo tempo sobre o pão e o cálice, dizendo:</span><br>
a fim de que se tornem para nós o Corpo e <span style="color: #9C7B3E; font-size: 90%;">✠</span> o Sangue de nosso Senhor Jesus Cristo.<br>
<span style="color: #9C7B3E; font-size: 90%;">Une as mãos.</span><br>
<br>
<div style="padding-left: 5%;">
<span style="color: #9C7B3E; font-size: 90%;">A assembleia aclama:</span><br>
<b>Enviai o vosso Espírito Santo!</b><br>
</div>
<br>
<span style="color: #9C7B3E; font-size: 90%;">O relato da instituição da Eucaristia seja proferido de modo claro e audível como requer a sua natureza.</span><br>
Estando para ser entregue e abraçando livremente a paixão, <br>
<span style="color: #9C7B3E; font-size: 90%;">toma o pão e, mantendo-o um pouco elevado acima do altar, prossegue:</span><br>
Jesus tomou o pão, pronunciou a bênção de ação de graças, partiu e o deu a seus discípulos, dizendo: <br>
<span style="color: #9C7B3E; font-size: 90%;">inclina-se levemente</span><br>
TOMAI, TODOS, E COMEI: ISTO É O MEU CORPO, QUE SERÁ ENTREGUE POR VÓS. <br>
<span style="color: #9C7B3E; font-size: 90%;">Mostra ao povo a hóstia consagrada, coloca-a na patena e genuflete em adoração.</span><br>
<br>
<span style="color: #9C7B3E; font-size: 90%;">Então prossegue:</span><br>
Do mesmo modo, no fim da Ceia, <br>
<span style="color: #9C7B3E; font-size: 90%;">toma o cálice nas mãos e, mantendo-o um pouco elevado acima do altar, prossegue:</span><br>
ele tomou o cálice em suas mãos e, dando graças novamente, o entregou a seus discípulos, dizendo: <br>
<span style="color: #9C7B3E; font-size: 90%;">inclina-se levemente</span><br>
TOMAI, TODOS, E BEBEI: ESTE É O CÁLICE DO MEU SANGUE, O SANGUE DA NOVA E ETERNA ALIANÇA, QUE SERÁ DERRAMADO POR VÓS E POR TODOS PARA REMISSÃO DOS PECADOS. FAZEI ISTO EM MEMÓRIA DE MIM.<br>
<span style="color: #9C7B3E; font-size: 90%;">Mostra o cálice ao povo, coloca-o sobre o corporal e genuflete em adoração.</span> <br>
<br>
<span style="color: #9C7B3E; font-size: 90%;">Em seguida, diz:</span><br>
Mistério da fé!<br>
<br>
<div style="padding-left: 5%;">
<span style="color: #9C7B3E; font-size: 90%;">A assembleia aclama:</span><br>
<b>Anunciamos, Senhor, a vossa morte e proclamamos a vossa ressurreição. Vinde, Senhor Jesus!</b><br>
</div>
<br>
<span style="color: #9C7B3E; font-size: 90%;">Ou</span><br>
Mistério da fé e do amor!<br>
<br>
<div style="padding-left: 5%;">
<span style="color: #9C7B3E; font-size: 90%;">A assembleia aclama:</span><br>
<b>Todas as vezes que comemos deste pão e bebemos deste cálice, anunciamos, Senhor, a vossa morte, enquanto esperamos a vossa vinda!</b><br>
</div>
<br>
<span style="color: #9C7B3E; font-size: 90%;">Ou</span><br>
Mistério da fé para a salvação do mundo!<br>
<br>
<div style="padding-left: 5%;">
<span style="color: #9C7B3E; font-size: 90%;">A assembleia aclama:</span><br>
<b>Salvador do mundo, salvai-nos, vós que nos libertastes pela cruz e ressurreição.</b><br>
</div>
<br>
<svg id="dePe" data-name="De Pé" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 227.13 227.13" width="36px" height="36px"><defs><style>.cls-1 {fill: #9c7b3d;stroke-width: 0px;}</style></defs><path class="cls-1" d="m113.47,55.81c8.45.09,15.95-7.45,16.02-16.11.08-8.62-7.31-16.26-15.81-16.34-8.45-.08-15.95,7.45-16.05,16.12-.09,8.6,7.31,16.23,15.84,16.32Z"/><path class="cls-1" d="m120.75,61.29c-6.38-1.04-12.56-.78-18.71.94-8.84,2.47-15.1,8.21-19.41,16.14-6.34,11.66-7.87,24.25-6.66,37.28.33,3.59,2.53,6.11,5.99,6.95,5.2,1.26,9.63-1.56,9.12-6.89-.14-1.52-.17-3.04-.25-4.56-.34-7.2.39-14.27,2.69-21.13.27-.81.71-1.58,1.07-2.36.27,12.33.38,24.53.24,36.72-.26,23.46-.68,46.91-1.01,70.37-.02,1.1,0,2.25.27,3.31.97,3.86,4.57,6.06,9.11,5.66,4.22-.37,7.58-3.71,7.85-7.87.15-2.22.28-4.45.32-6.68.27-17,.51-34.01.76-51.01,0-.62,0-1.24,0-1.83h2.39c.03.62.07,1.13.08,1.65.35,19,.68,37.99,1.06,56.99.11,5.49,3.99,8.97,9.64,8.77,4.91-.18,7.76-3.67,7.65-9.16-.32-15.77-.61-31.54-.86-47.32-.14-9.15-.13-18.3-.23-27.45-.13-11.08-.3-22.16-.45-33.25,0-.15.07-.31.18-.79.31.54.47.78.59,1.04,3.17,6.52,4,13.53,4.15,20.65.06,3.1-.25,6.21-.3,9.31-.04,2.53,1.18,4.35,3.46,5.42,4.99,2.34,11.04-.92,11.61-6.41,1.24-12.04-.05-23.77-5.28-34.8-5.06-10.68-12.99-17.74-25.07-19.7Z"/><path class="cls-1" d="m195.22,0H31.9C14.31,0,0,14.31,0,31.9v163.32c0,17.59,14.31,31.9,31.9,31.9h163.32c17.59,0,31.9-14.31,31.9-31.9V31.9c0-17.59-14.31-31.9-31.9-31.9Zm24.9,195.22c0,13.73-11.17,24.9-24.9,24.9H31.9c-13.73,0-24.9-11.17-24.9-24.9V31.9c0-13.73,11.17-24.9,24.9-24.9h163.32c13.73,0,24.9,11.17,24.9,24.9v163.32Z"/></svg> ou <svg id="deJoelhos" data-name="De joelhos" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 227.13 227.13" width="36px" height="36px"><defs><style>.cls-1 {fill: #9c7b3d;stroke-width: 0px;}</style></defs><path class="cls-1" d="m195.22,0H31.9C14.31,0,0,14.31,0,31.9v163.32c0,17.59,14.31,31.9,31.9,31.9h163.32c17.59,0,31.9-14.31,31.9-31.9V31.9c0-17.59-14.31-31.9-31.9-31.9Zm24.9,195.22c0,13.73-11.17,24.9-24.9,24.9H31.9c-13.73,0-24.9-11.17-24.9-24.9V31.9c0-13.73,11.17-24.9,24.9-24.9h163.32c13.73,0,24.9,11.17,24.9,24.9v163.32Z"/><path class="cls-1" d="m154.48,82.98h0c-4.03-2.98-9.72-2.12-12.7,1.91l-2.64,3.58c-1.87,1.96-3.47,4.43-5.24,7.11l-3.33,4.51c-5.04-6.6-9.3-12.16-13.54-17.73-4.53-5.97-9.87-10.02-18.03-9.55-9.55.54-15.22,4.51-15.35,13.95-.29,21.73.17,43.48.83,65.21.1,3.13,2.62,6.48,4.73,9.17,3.55,4.56,7.67,8.68,13.76,15.43-9.18,0-15.74-.08-22.3.02-6.51.1-12.11,2.11-11.68,9.81.39,7.08,5.92,8.44,11.97,8.42,13.65-.05,27.31.2,40.95-.1,10.68-.23,15.62-8.45,11.19-18.08-1.35-2.94-2.76-6-4.81-8.44-14.06-16.78-12.51-36.48-11.11-56.44q17.72,14.09,31.15-4.82c2.14-3.02,5.03-5.84,6.45-9.08l1.62-2.2c2.98-4.03,2.12-9.72-1.91-12.7Z"/><path class="cls-1" d="m110.34,68.59c10.38,0,18.59-8.17,18.54-18.44-.05-10.6-7.8-18-18.76-17.91-10.69.09-19,8.08-18.87,18.17.12,9.9,8.81,18.17,19.1,18.18Z"/></svg>
<br>
<span style="color: #9C7B3E; font-size: 90%;">O sacerdote, de braços abertos, diz:</span><br>
<span style="color: #9C7B3E; font-size: 90%;">CC</span> Celebrando, pois, o memorial da morte e ressurreição do vosso Filho, nós vos oferecemos, ó Pai, o Pão da vida e o Cálice da salvação; e vos agradecemos porque nos tornastes dignos de estar aqui na vossa presença e vos servir.<br>
<br>
<div style="padding-left: 5%;">
<span style="color: #9C7B3E; font-size: 90%;">A assembleia aclama:</span><br>
<b>Aceitai, ó Senhor, a nossa oferta!</b><br>
</div>
<br>
Suplicantes, vos pedimos que, participando do Corpo e Sangue de Cristo, sejamos reunidos pelo Espírito Santo num só corpo.<br>
<br>
<div style="padding-left: 5%;">
<span style="color: #9C7B3E; font-size: 90%;">A assembleia aclama:</span><br>
<b>O Espírito nos una num só corpo!</b><br>
</div>
<br>
<span style="color: #9C7B3E; font-size: 90%;">1C</span> Lembrai-vos, ó Pai, da vossa Igreja que se faz presente pelo mundo inteiro; <span style="color: #9C7B3E; font-size: 90%;">★</span> que ela cresça na caridade, em comunhão com o Papa <span style="color: #9C7B3E; font-size: 90%;">N.</span>, com o nosso Bispo <span style="color: #9C7B3E; font-size: 90%;">N.</span>, os bispos do mundo inteiro, os presbíteros, os diáconos e todos os ministros do vosso povo.<br>
<br>
<div style="padding-left: 5%;">
<span style="color: #9C7B3E; font-size: 90%;">A assembleia aclama:</span><br>
<b>Lembrai-vos, ó Pai, da vossa Igreja!</b><br>
</div>
<br>
<div id="btn-oe2-oracao-pela-igreja" onclick="if (!window.__cfRLUnblockHandlers) return false; this.style.display='none';document.getElementById('oe2-oracao-pela-igreja').style.display='block';" style="display: block; cursor: pointer; color: rgb(156, 123, 62); border-top-width: 1px; border-top-style: solid; border-top-color: rgb(156, 123, 62); border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(156, 123, 62); padding: 16px; background-color: rgba(0, 0, 0, 0.133); font-size: 80%;" data-cf-modified-7fc86b3bbb5c2f6719fe97f7-="">
Abrir oração pela Igreja: Ⓑ Domingos, Ⓑ Natal do Senhor e Oitava, Ⓑ Epifania do Senhor, Ⓑ Quinta-feira Santa, na Missa Vespertina da Ceia do Senhor, Ⓑ Da Vigília Pascal até o Segundo Domingo da Páscoa, Ⓑ Ascensão do Senhor e Ⓑ Pentecostes
</div>
<div id="oe2-oracao-pela-igreja" style="display: none; border-top: 1px solid #9C7B3E; border-bottom: 1px solid #9C7B3E; padding: 16px; background-color: #00000022; font-size: 80%;">
<span style="color: #9C7B3E; font-size: 90%;">Ⓑ Domingos (exceto quando houver outro texto próprio, como nos casos abaixo):</span><br>
Lembrai-vos, ó Pai, da vossa Igreja que se faz presente pelo mundo inteiro; e aqui convocada no dia em que Cristo venceu a morte e nos fez participantes de sua vida imortal; <span style="color: #9C7B3E; font-size: 90%;">★</span><br>
<br>
<span style="color: #9C7B3E; font-size: 90%;">Ⓑ Natal do Senhor e Oitava:</span><br>
Lembrai-vos, ó Pai, da vossa Igreja que se faz presente pelo mundo inteiro; e aqui convocada na noite santíssima <span style="color: #9C7B3E; font-size: 90%;">(</span>no dia santíssimo<span style="color: #9C7B3E; font-size: 90%;">)</span> em que a Virgem Maria deu ao mundo o Salvador; <span style="color: #9C7B3E; font-size: 90%;">★</span> <br>
<br>
<span style="color: #9C7B3E; font-size: 90%;">Ⓑ Epifania do Senhor:</span><br>
Lembrai-vos, ó Pai, da vossa Igreja que se faz presente pelo mundo inteiro; e aqui convocada no dia santíssimo no qual o vosso Filho Unigênito, eterno convosco na glória, se manifestou na nossa natureza humana; <span style="color: #9C7B3E; font-size: 90%;">★</span><br>
<br>
<span style="color: #9C7B3E; font-size: 90%;">Ⓑ Quinta-feira Santa, na Missa Vespertina da Ceia do Senhor:</span><br>
Lembrai-vos, ó Pai, da vossa Igreja que se faz presente pelo mundo inteiro; e aqui convocada no dia santíssimo no qual Jesus Cristo, nosso Senhor, foi entregue à morte por nós; <span style="color: #9C7B3E; font-size: 90%;">★</span> <br>
<br>
<span style="color: #9C7B3E; font-size: 90%;">Ⓑ Da Vigília Pascal até o Segundo Domingo da Páscoa:</span><br>
Lembrai-vos, ó Pai, da vossa Igreja que se faz presente pelo mundo inteiro; e aqui convocada na noite santíssima <span style="color: #9C7B3E; font-size: 90%;">(</span>no dia santíssimo<span style="color: #9C7B3E; font-size: 90%;">)</span> da ressurreição de Cristo Senhor dentre os mortos; <span style="color: #9C7B3E; font-size: 90%;">★</span><br>
<br>
<span style="color: #9C7B3E; font-size: 90%;">Ⓑ Ascensão do Senhor:</span><br>
Lembrai-vos, ó Pai, da vossa Igreja que se faz presente pelo mundo inteiro; e aqui convocada no dia glorioso da Ascensão no qual Cristo colocou à direita da vossa glória a nossa frágil natureza humana; <span style="color: #9C7B3E; font-size: 90%;">★</span><br>
<br>
<span style="color: #9C7B3E; font-size: 90%;">Ⓑ Pentecostes:</span><br>
Lembrai-vos, ó Pai, da vossa Igreja que se faz presente pelo mundo inteiro; e aqui convocada no dia santíssimo no qual, pela efusão do vosso Espírito, foi manifestada ao mundo como sacramento de unidade para todos os povos; <span style="color: #9C7B3E; font-size: 90%;">★</span><br>
</div>
<br>
<div id="btn-e2-oracao-pelos-fieis" onclick="if (!window.__cfRLUnblockHandlers) return false; this.style.display='none';document.getElementById('e2-oracao-pelos-fieis').style.display='block';" style="display: block; cursor: pointer; color: rgb(156, 123, 62); border-top-width: 1px; border-top-style: solid; border-top-color: rgb(156, 123, 62); border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(156, 123, 62); padding: 16px; background-color: rgba(0, 0, 0, 0.133); font-size: 80%;" data-cf-modified-7fc86b3bbb5c2f6719fe97f7-="">
Abrir oração pelos fiéis: Na Missa com Batismo (e Crisma), Na Missa com Crisma, Ⓑ Na Missa com Primeira Comunhão Eucarística, Ⓑ Na Missa com Unção dos Enfermos e Na Missa com Matrimônio
</div>
<div id="e2-oracao-pelos-fieis" style="display: none; border-top: 1px solid #9C7B3E; border-bottom: 1px solid #9C7B3E; padding: 16px; background-color: #00000022; font-size: 80%;">
<span style="color: #9C7B3E; font-size: 90%;">Na Missa com Batismo (e Crisma)</span><br>
Lembrai-vos também, ó Pai, dos que hoje pelo Batismo <span style="color: #9C7B3E; font-size: 90%;">(</span>e pela Crisma<span style="color: #9C7B3E; font-size: 90%;">)</span> fizestes membros da vossa família, para que sigam o Cristo, vosso Filho, com todo o coração e grande entusiasmo.<br>
<br>
<div style="padding-left: 5%;">
<span style="color: #9C7B3E; font-size: 90%;">A assembleia aclama:</span><br>
<b>Lembrai-vos, ó Pai, dos vossos filhos!</b><br>
</div>
<br>
<span style="color: #9C7B3E; font-size: 90%;">Na Missa com Crisma</span><br>
Lembrai-vos também, ó Pai, dos vossos filhos e filhas que hoje vos dignastes confirmar com o dom do Espírito Santo, e conservai-os sempre em vossa graça.<br>
<br>
<div style="padding-left: 5%;">
<span style="color: #9C7B3E; font-size: 90%;">A assembleia aclama:</span><br>
<b>Lembrai-vos, ó Pai, dos vossos filhos!</b><br>
</div>
<br>
<span style="color: #9C7B3E; font-size: 90%;">Ⓑ Na Missa com Primeira Comunhão Eucarística</span><br>
Lembrai-vos também, ó Pai, dos vossos filhos e filhas convidados pela primeira vez à vossa mesa, para participar do Pão da vida e do Cálice da salvação; concedei-lhes crescer sempre em vossa amizade e na comunhão com vossa Igreja.<br>
<br>
<div style="padding-left: 5%;">
<span style="color: #9C7B3E; font-size: 90%;">A assembleia aclama:</span><br>
<b>Lembrai-vos, ó Pai, dos vossos filhos!</b><br>
</div>
<br>
<span style="color: #9C7B3E; font-size: 90%;">Ⓑ Na Missa com Unção dos Enfermos</span><br>
Lembrai-vos também, ó Pai, destes vossos filhos e filhas que mediante a santa unção, unem os seus sofrimentos à Páscoa de Cristo; dai-lhes consolação, saúde e paz.<br>
<br>
<div style="padding-left: 5%;">
<span style="color: #9C7B3E; font-size: 90%;">A assembleia aclama:</span><br>
<b>Lembrai-vos, ó Pai, dos vossos filhos!</b><br>
</div>
<br>
<span style="color: #9C7B3E; font-size: 90%;">Na Missa com Matrimônio</span><br>
Lembrai-vos também, ó Pai, destes vossos filhos <span style="color: #9C7B3E; font-size: 90%;">N.</span> e <span style="color: #9C7B3E; font-size: 90%;">N.</span>. Como lhes concedestes a alegria do sacramento do Matrimônio, possam, por vossa graça, viver no amor recíproco e na paz.<br>
<br>
<div style="padding-left: 5%;">
<span style="color: #9C7B3E; font-size: 90%;">A assembleia aclama:</span><br>
<b>Lembrai-vos, ó Pai, dos vossos filhos!</b><br>
</div>
</div>
<br>
<div id="btn-e2-oracao-pelos-fieis-defuntos" onclick="if (!window.__cfRLUnblockHandlers) return false; this.style.display='none';document.getElementById('e2-oracao-pelos-fieis-defuntos').style.display='block';" style="display: block; cursor: pointer; color: rgb(156, 123, 62); border-top-width: 1px; border-top-style: solid; border-top-color: rgb(156, 123, 62); border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(156, 123, 62); padding: 16px; background-color: rgba(0, 0, 0, 0.133); font-size: 80%;" data-cf-modified-7fc86b3bbb5c2f6719fe97f7-="">
Abrir oração pelos fiéis defuntos
</div>
<div id="e2-oracao-pelos-fieis-defuntos" style="display: none; border-top: 1px solid #9C7B3E; border-bottom: 1px solid #9C7B3E; padding: 16px; background-color: #00000022; font-size: 80%;">
<span style="color: #9C7B3E; font-size: 90%;">Nas Missas pelos fiéis defuntos</span><br>
<span style="color: #9C7B3E; font-size: 90%;">2C</span> Lembrai-vos do vosso filho <span style="color: #9C7B3E; font-size: 90%;">(</span>da vossa filha<span style="color: #9C7B3E; font-size: 90%;">)</span> <span style="color: #9C7B3E; font-size: 90%;">N.</span>, que <span style="color: #9C7B3E; font-size: 90%;">(</span>hoje<span style="color: #9C7B3E; font-size: 90%;">)</span> chamastes deste mundo à vossa presença. Tendo sido sepultado<span style="color: #9C7B3E; font-size: 90%;">(</span>a<span style="color: #9C7B3E; font-size: 90%;">)</span> com Cristo em sua morte, no Batismo, participe igualmente da sua ressurreição.<br>
</div>
<br>
<span style="color: #9C7B3E; font-size: 90%;">2C</span> Lembrai-vos também, na vossa misericórdia, dos <span style="color: #9C7B3E; font-size: 90%;">(</span>outros<span style="color: #9C7B3E; font-size: 90%;">)</span> nossos irmãos e irmãs que adormeceram na esperança da ressurreição e de todos os que partiram desta vida; acolhei-os junto a vós na luz da vossa face.<br>
<br>
<div style="padding-left: 5%;">
<span style="color: #9C7B3E; font-size: 90%;">A assembleia aclama:</span><br>
<b><u>Concedei-lhes, ó Senhor, a luz eterna!</u></b><br>
</div>
<br>
<span style="color: #9C7B3E; font-size: 90%;">3C</span> Enfim, nós vos pedimos, tende piedade de todos nós e dai-nos participar da vida eterna, com a Virgem Maria, Mãe de Deus, São José, seu esposo, os Apóstolos, <span style="color: #9C7B3E; font-size: 90%;">(</span>São <span style="color: #9C7B3E; font-size: 90%;">N.</span>: <span style="color: #9C7B3E; font-size: 90%;">Santo do dia ou padroeiro)</span> e todos os Santos que neste mundo viveram na vossa amizade, a fim de vos louvarmos e glorificarmos<br>
<span style="color: #9C7B3E; font-size: 90%;">une as mãos</span><br>
por Jesus Cristo, vosso Filho.<br>
<br>
<span style="color: #9C7B3E; font-size: 90%;">Ergue a patena com a hóstia e o cálice, dizendo:</span><br>
<span style="color: #9C7B3E; font-size: 90%;">CP ou CC</span> Por Cristo, com Cristo, e em Cristo, a vós, Deus Pai todo-poderoso, na unidade do Espírito Santo, toda honra e toda glória, por todos os séculos dos séculos.<br>
<br>
<div style="padding-left: 5%;">
<span style="color: #9C7B3E; font-size: 90%;">A assembleia aclama:</span><br>
<b>Amém.</b><br>
<svg id="dePe" data-name="De Pé" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 227.13 227.13" width="36px" height="36px"><defs><style>.cls-1 {fill: #9c7b3d;stroke-width: 0px;}</style></defs><path class="cls-1" d="m113.47,55.81c8.45.09,15.95-7.45,16.02-16.11.08-8.62-7.31-16.26-15.81-16.34-8.45-.08-15.95,7.45-16.05,16.12-.09,8.6,7.31,16.23,15.84,16.32Z"/><path class="cls-1" d="m120.75,61.29c-6.38-1.04-12.56-.78-18.71.94-8.84,2.47-15.1,8.21-19.41,16.14-6.34,11.66-7.87,24.25-6.66,37.28.33,3.59,2.53,6.11,5.99,6.95,5.2,1.26,9.63-1.56,9.12-6.89-.14-1.52-.17-3.04-.25-4.56-.34-7.2.39-14.27,2.69-21.13.27-.81.71-1.58,1.07-2.36.27,12.33.38,24.53.24,36.72-.26,23.46-.68,46.91-1.01,70.37-.02,1.1,0,2.25.27,3.31.97,3.86,4.57,6.06,9.11,5.66,4.22-.37,7.58-3.71,7.85-7.87.15-2.22.28-4.45.32-6.68.27-17,.51-34.01.76-51.01,0-.62,0-1.24,0-1.83h2.39c.03.62.07,1.13.08,1.65.35,19,.68,37.99,1.06,56.99.11,5.49,3.99,8.97,9.64,8.77,4.91-.18,7.76-3.67,7.65-9.16-.32-15.77-.61-31.54-.86-47.32-.14-9.15-.13-18.3-.23-27.45-.13-11.08-.3-22.16-.45-33.25,0-.15.07-.31.18-.79.31.54.47.78.59,1.04,3.17,6.52,4,13.53,4.15,20.65.06,3.1-.25,6.21-.3,9.31-.04,2.53,1.18,4.35,3.46,5.42,4.99,2.34,11.04-.92,11.61-6.41,1.24-12.04-.05-23.77-5.28-34.8-5.06-10.68-12.99-17.74-25.07-19.7Z"/><path class="cls-1" d="m195.22,0H31.9C14.31,0,0,14.31,0,31.9v163.32c0,17.59,14.31,31.9,31.9,31.9h163.32c17.59,0,31.9-14.31,31.9-31.9V31.9c0-17.59-14.31-31.9-31.9-31.9Zm24.9,195.22c0,13.73-11.17,24.9-24.9,24.9H31.9c-13.73,0-24.9-11.17-24.9-24.9V31.9c0-13.73,11.17-24.9,24.9-24.9h163.32c13.73,0,24.9,11.17,24.9,24.9v163.32Z"/></svg>
</div>
<br>
<span style="color: #9C7B3E; font-size: 90%;">Segue-se o Rito da Comunhão.</span>
<br>
<br>                    </div>


</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    function ocultar_mostrar(elementoId) {
        elemento = document.getElementById(elementoId);
        elemento.style.display = elemento.style.display === 'none' ? '' : 'none';
        elemento.classList.remove('hidden');
    }    

    var recognition = new (window.SpeechRecognition || window.webkitSpeechRecognition || window.mozSpeechRecognition || window.msSpeechRecognition)();
    recognition.lang = 'pt-BR';
    recognition.interimResults = false;
    recognition.maxAlternatives = 5;
    recognition.continuous = true;

    $('#start').click(function() {
        $('#textInput').val('');
        recognition.start();
    });

    $('#stop').click(function() {
        recognition.stop();
    });

    recognition.onresult = function(event) {
        var speechResult = event.results[event.results.length - 1][0].transcript;
        var currentText = $('#textInput').val();
        $('#textInput').val(currentText + ' ' + speechResult);
        $('#textInput').trigger('input');
    };

    $('#textInput').on('input', function() {
        var searchText = $(this).val().toLowerCase();

        if (searchText === '') {
            $('.row-fluid').removeClass('hidden');
        } else {            
            $('.row-fluid').addClass('hidden');

            var bestMatch = '';
            var bestMatchCount = 0;
            var index = -1;

            $('.row-fluid').each(function(elementIndex) {
                var clone = $(this).clone();
                clone.find('span').remove();
                var currentText = clone.text().toLowerCase();
                var matchCount = 0;

                if (currentText.includes(searchText)) {
                    $(this).removeClass('hidden');
                }
                if (index >= 0) {
                    if (!searchText.includes(' ')) {
                        if (currentText.includes(searchText))
                            matchCount++;
                    }
                    else {
                        searchText.split(' ').forEach(function(word) {
                            if (currentText.includes(word))
                                matchCount++;
                        });
                    }

                    if (matchCount >= 0 && matchCount > bestMatchCount) {
                        bestMatchCount = matchCount;
                        index = elementIndex;
                    }
                }
            });

            if (index >= 0)
                $('.row-fluid').eq(index).removeClass('hidden');
        }
    });
</script>