<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" charset="utf-8">

    <link rel="stylesheet" href="~/css/pure-min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />

</head>

<body class="bg-light text-dark orgao-background">
    <div class="container">

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery-3.4.1.slim.js"></script>
    <script src="~/js/bundle.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
