<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" charset="utf-8">

    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />

</head>

<body class="bg-light text-dark orgao-background">
    <div>

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery-3.4.1.slim.js"></script>

    @if (ViewContext.HttpContext.Request.Host.Host.Equals("localhost", StringComparison.OrdinalIgnoreCase))
    {
        <script src="~/js/bateria.js" asp-append-version="true"></script>
        <script src="~/js/soundtouch.js" asp-append-version="true"></script>
        @* <script src="~/js/script2.js" asp-append-version="true"></script> *@
        <script src="~/js/AudioProcessor.js" asp-append-version="true"></script>
        @* <script src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.8.37/Tone.js"></script> *@
        <script src="~/js/bundle.js" asp-append-version="true"></script>
    }
    else
    {
        <script src="~/js/bateria.min.js" asp-append-version="true"></script>
        <script src="~/js/bundle.min.js" asp-append-version="true"></script>
    }

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
