@{
	ViewData["Title"] = "Bateria";
	Layout = "~/Views/Bateria/_Layout.cshtml";
}

<div id="app-message"></div>

<div id="tracker-container">
	<div id="tracker-parent">
		<table id="tracker-table">
		</table>
	</div>
	<div id="tracker-controls">
		<button id="play">Play</button>
		<button id="pause">Pause</button>
		<button id="stop">Stop</button>
		<br>
		<form class="pure-form" id="trackerControls">
			<br>
			<label for="measureLength">Compasso:</label>
			<select name="measureLength" id="measureLength" aria-label="Compasso">
				<option value="3">3/4</option>
				<option selected value="8">4/4</option>
				<option value="6">6/8</option>
			</select>
			<br>
			<label for="bpm">Tempo:</label>
			<input class="base" name="bpm" id="bpm" style="width: 60px;" value="120"> <input id="bpmRange" type="range" max="240" min="20" step="1" value="120">
			<br>
			<div id="options" style="display:none">
				<hr>
				<input class="base" name="detune" id="detune" type="range" max="1200" min="-1200" step="10" value="0"> Detune / Tune<br>
				<hr>
				<input class="base" name="gainEnabled" type="checkbox" id="gainEnabled" value="gain">Enabled gain<br>
				<input class="base" name="attackAmp" id="attackAmp" type="range" max="1" min="0" step="0.1" value="0.5">AttackAmp<br>
				<input class="base" name="sustainAmp" id="sustainAmp" type="range" max="1" min="0" step="0.1" value="0.9"> SustainAmp<br>
				<input class="base" name="decayAmp" id="decayAmp" type="range" max="1" min="0" step="0.1" value="0.9"> DecayAmp<br>
				<input class="base" name="releaseAmp" id="releaseAmp" type="range" max="1" min="0" step="0.1" value="0.9"> ReleaseAmp<br>
				<input class="base" name="attackTime" id="attackTime" type="range" max="1" min="0" step="0.01" value="0.08">Attacktime<br>
				<input class="base" name="decayTime" id="decayTime" type="range" max="1" min="0" step="0.01" value="0.08">DecayTime<br>
				<input class="base" name="sustainTime" id="sustainTime" type="range" max="2" min="0" step="0.1" value="0.1">Sustaintime<br>
				<input class="base" name="releaseTime" id="releaseTime" type="range" max="5" min="0" step="0.1" value="2">Releasetime<br>
				<input class="base" name="adsrInterval" id="adsrInterval" style="width: 60px;" value="0.1">AdsrInterval<br>
				<hr>
				<input class="base" name="delayEnabled" type="checkbox" id="delayEnabled" value="delay"> Enabled delay
				<br>
				<input class="base" name="delay" id="delay" type="range" max="1" min="0" step="0.01" value="0.01"> Delay<br>
				<input class="base" name="filter" id="filter" type="range" max="10000" min="20" step="0.1" value="1000">                Filter<br>
			</div>
		</form>
		
			<hr>
			<form class="pure-form">
				<input type="text" id="filename"><br>
				<button id="save">Save as </button><button id="saveAsJson">Get JSON</button> <br>

				<span id="load-storage"><select id="beat-list"><option value="Select">Select</option></select></span>
				<button id="delete">Delete selected</button>
			</form>
		
	</div>
</div>

<script>

</script>