@{
	ViewData["Title"] = "Bateria";
	Layout = "~/Views/Bateria/_Layout.cshtml";
}

<div id="app-message"></div>

<div id="tracker-container">
	<div id="tracker-parent">
		<table id="tracker-table">
			<tbody>
				<tr class="tracker-row header">
					<td class="tracker-first-cell" data-row-id="header"></td>
					<td class="tracker-cell-header" data-row-id="header" data-col-id="0">1</td>
					<td class="tracker-cell-header" data-row-id="header" data-col-id="1">2</td>
					<td class="tracker-cell-header" data-row-id="header" data-col-id="2">3</td>
					<td class="tracker-cell-header" data-row-id="header" data-col-id="3">4</td>
					<td class="tracker-cell-header" data-row-id="header" data-col-id="4">5</td>
					<td class="tracker-cell-header" data-row-id="header" data-col-id="5">6</td>
					<td class="tracker-cell-header" data-row-id="header" data-col-id="6">7</td>
					<td class="tracker-cell-header" data-row-id="header" data-col-id="7">8</td>
					<td class="tracker-cell-header" data-row-id="header" data-col-id="8">9</td>
					<td class="tracker-cell-header" data-row-id="header" data-col-id="9">10</td>
					<td class="tracker-cell-header" data-row-id="header" data-col-id="10">11</td>
					<td class="tracker-cell-header" data-row-id="header" data-col-id="11">12</td>
					<td class="tracker-cell-header" data-row-id="header" data-col-id="12">13</td>
					<td class="tracker-cell-header" data-row-id="header" data-col-id="13">14</td>
					<td class="tracker-cell-header" data-row-id="header" data-col-id="14">15</td>
					<td class="tracker-cell-header" data-row-id="header" data-col-id="15">16</td>
					<td class="tracker-cell-header" data-row-id="header" data-col-id="16">17</td>
					<td class="tracker-cell-header" data-row-id="header" data-col-id="17">18</td>
					<td class="tracker-cell-header" data-row-id="header" data-col-id="18">19</td>
					<td class="tracker-cell-header" data-row-id="header" data-col-id="19">20</td>
					<td class="tracker-cell-header" data-row-id="header" data-col-id="20">21</td>
					<td class="tracker-cell-header" data-row-id="header" data-col-id="21">22</td>
					<td class="tracker-cell-header" data-row-id="header" data-col-id="22">23</td>
					<td class="tracker-cell-header" data-row-id="header" data-col-id="23">24</td>
					<td class="tracker-cell-header" data-row-id="header" data-col-id="24">25</td>
					<td class="tracker-cell-header" data-row-id="header" data-col-id="25">26</td>
					<td class="tracker-cell-header" data-row-id="header" data-col-id="26">27</td>
					<td class="tracker-cell-header" data-row-id="header" data-col-id="27">28</td>
					<td class="tracker-cell-header" data-row-id="header" data-col-id="28">29</td>
					<td class="tracker-cell-header" data-row-id="header" data-col-id="29">30</td>
					<td class="tracker-cell-header" data-row-id="header" data-col-id="30">31</td>
					<td class="tracker-cell-header" data-row-id="header" data-col-id="31">32</td>
				</tr>
				<tr class="tracker-row" data-id="0">
					<td class="tracker-first-cell" data-row-id="0">crash-01</td>
					<td class="tracker-cell" data-row-id="0" data-col-id="0"></td>
					<td class="tracker-cell" data-row-id="0" data-col-id="1"></td>
					<td class="tracker-cell" data-row-id="0" data-col-id="2"></td>
					<td class="tracker-cell" data-row-id="0" data-col-id="3"></td>
					<td class="tracker-cell" data-row-id="0" data-col-id="4"></td>
					<td class="tracker-cell" data-row-id="0" data-col-id="5"></td>
					<td class="tracker-cell" data-row-id="0" data-col-id="6"></td>
					<td class="tracker-cell" data-row-id="0" data-col-id="7"></td>
					<td class="tracker-cell" data-row-id="0" data-col-id="8"></td>
					<td class="tracker-cell" data-row-id="0" data-col-id="9"></td>
					<td class="tracker-cell" data-row-id="0" data-col-id="10"></td>
					<td class="tracker-cell" data-row-id="0" data-col-id="11"></td>
					<td class="tracker-cell" data-row-id="0" data-col-id="12"></td>
					<td class="tracker-cell" data-row-id="0" data-col-id="13"></td>
					<td class="tracker-cell" data-row-id="0" data-col-id="14"></td>
					<td class="tracker-cell" data-row-id="0" data-col-id="15"></td>
					<td class="tracker-cell" data-row-id="0" data-col-id="16"></td>
					<td class="tracker-cell" data-row-id="0" data-col-id="17"></td>
					<td class="tracker-cell" data-row-id="0" data-col-id="18"></td>
					<td class="tracker-cell" data-row-id="0" data-col-id="19"></td>
					<td class="tracker-cell" data-row-id="0" data-col-id="20"></td>
					<td class="tracker-cell" data-row-id="0" data-col-id="21"></td>
					<td class="tracker-cell" data-row-id="0" data-col-id="22"></td>
					<td class="tracker-cell" data-row-id="0" data-col-id="23"></td>
					<td class="tracker-cell" data-row-id="0" data-col-id="24"></td>
					<td class="tracker-cell" data-row-id="0" data-col-id="25"></td>
					<td class="tracker-cell" data-row-id="0" data-col-id="26"></td>
					<td class="tracker-cell" data-row-id="0" data-col-id="27"></td>
					<td class="tracker-cell" data-row-id="0" data-col-id="28"></td>
					<td class="tracker-cell" data-row-id="0" data-col-id="29"></td>
					<td class="tracker-cell" data-row-id="0" data-col-id="30"></td>
					<td class="tracker-cell" data-row-id="0" data-col-id="31"></td>
				</tr>
				<tr class="tracker-row" data-id="1">
					<td class="tracker-first-cell" data-row-id="1">crash-02</td>
					<td class="tracker-cell" data-row-id="1" data-col-id="0"></td>
					<td class="tracker-cell" data-row-id="1" data-col-id="1"></td>
					<td class="tracker-cell" data-row-id="1" data-col-id="2"></td>
					<td class="tracker-cell" data-row-id="1" data-col-id="3"></td>
					<td class="tracker-cell" data-row-id="1" data-col-id="4"></td>
					<td class="tracker-cell" data-row-id="1" data-col-id="5"></td>
					<td class="tracker-cell" data-row-id="1" data-col-id="6"></td>
					<td class="tracker-cell" data-row-id="1" data-col-id="7"></td>
					<td class="tracker-cell" data-row-id="1" data-col-id="8"></td>
					<td class="tracker-cell" data-row-id="1" data-col-id="9"></td>
					<td class="tracker-cell" data-row-id="1" data-col-id="10"></td>
					<td class="tracker-cell" data-row-id="1" data-col-id="11"></td>
					<td class="tracker-cell" data-row-id="1" data-col-id="12"></td>
					<td class="tracker-cell" data-row-id="1" data-col-id="13"></td>
					<td class="tracker-cell" data-row-id="1" data-col-id="14"></td>
					<td class="tracker-cell" data-row-id="1" data-col-id="15"></td>
					<td class="tracker-cell" data-row-id="1" data-col-id="16"></td>
					<td class="tracker-cell" data-row-id="1" data-col-id="17"></td>
					<td class="tracker-cell" data-row-id="1" data-col-id="18"></td>
					<td class="tracker-cell" data-row-id="1" data-col-id="19"></td>
					<td class="tracker-cell" data-row-id="1" data-col-id="20"></td>
					<td class="tracker-cell" data-row-id="1" data-col-id="21"></td>
					<td class="tracker-cell" data-row-id="1" data-col-id="22"></td>
					<td class="tracker-cell" data-row-id="1" data-col-id="23"></td>
					<td class="tracker-cell" data-row-id="1" data-col-id="24"></td>
					<td class="tracker-cell" data-row-id="1" data-col-id="25"></td>
					<td class="tracker-cell" data-row-id="1" data-col-id="26"></td>
					<td class="tracker-cell" data-row-id="1" data-col-id="27"></td>
					<td class="tracker-cell" data-row-id="1" data-col-id="28"></td>
					<td class="tracker-cell" data-row-id="1" data-col-id="29"></td>
					<td class="tracker-cell" data-row-id="1" data-col-id="30"></td>
					<td class="tracker-cell" data-row-id="1" data-col-id="31"></td>
				</tr>
				<tr class="tracker-row" data-id="2">
					<td class="tracker-first-cell" data-row-id="2">
						hihat-closed
					</td>
					<td class="tracker-cell" data-row-id="2" data-col-id="0"></td>
					<td class="tracker-cell" data-row-id="2" data-col-id="1"></td>
					<td class="tracker-cell" data-row-id="2" data-col-id="2"></td>
					<td class="tracker-cell" data-row-id="2" data-col-id="3"></td>
					<td class="tracker-cell tracker-enabled" data-row-id="2" data-col-id="4"></td>
					<td class="tracker-cell" data-row-id="2" data-col-id="5"></td>
					<td class="tracker-cell" data-row-id="2" data-col-id="6"></td>
					<td class="tracker-cell" data-row-id="2" data-col-id="7"></td>
					<td class="tracker-cell" data-row-id="2" data-col-id="8"></td>
					<td class="tracker-cell" data-row-id="2" data-col-id="9"></td>
					<td class="tracker-cell" data-row-id="2" data-col-id="10"></td>
					<td class="tracker-cell" data-row-id="2" data-col-id="11"></td>
					<td class="tracker-cell" data-row-id="2" data-col-id="12"></td>
					<td class="tracker-cell" data-row-id="2" data-col-id="13"></td>
					<td class="tracker-cell" data-row-id="2" data-col-id="14"></td>
					<td class="tracker-cell" data-row-id="2" data-col-id="15"></td>
					<td class="tracker-cell" data-row-id="2" data-col-id="16"></td>
					<td class="tracker-cell" data-row-id="2" data-col-id="17"></td>
					<td class="tracker-cell" data-row-id="2" data-col-id="18"></td>
					<td class="tracker-cell" data-row-id="2" data-col-id="19"></td>
					<td class="tracker-cell" data-row-id="2" data-col-id="20"></td>
					<td class="tracker-cell" data-row-id="2" data-col-id="21"></td>
					<td class="tracker-cell" data-row-id="2" data-col-id="22"></td>
					<td class="tracker-cell tracker-enabled" data-row-id="2" data-col-id="23"></td>
					<td class="tracker-cell" data-row-id="2" data-col-id="24"></td>
					<td class="tracker-cell" data-row-id="2" data-col-id="25"></td>
					<td class="tracker-cell" data-row-id="2" data-col-id="26"></td>
					<td class="tracker-cell" data-row-id="2" data-col-id="27"></td>
					<td class="tracker-cell" data-row-id="2" data-col-id="28"></td>
					<td class="tracker-cell" data-row-id="2" data-col-id="29"></td>
					<td class="tracker-cell" data-row-id="2" data-col-id="30"></td>
					<td class="tracker-cell" data-row-id="2" data-col-id="31"></td>
				</tr>
				<tr class="tracker-row" data-id="3"><td class="tracker-first-cell" data-row-id="3">hihat-open</td><td class="tracker-cell" data-row-id="3" data-col-id="0"></td><td class="tracker-cell tracker-enabled" data-row-id="3" data-col-id="1"></td><td class="tracker-cell" data-row-id="3" data-col-id="2"></td><td class="tracker-cell" data-row-id="3" data-col-id="3"></td><td class="tracker-cell" data-row-id="3" data-col-id="4"></td><td class="tracker-cell" data-row-id="3" data-col-id="5"></td><td class="tracker-cell tracker-enabled" data-row-id="3" data-col-id="6"></td><td class="tracker-cell" data-row-id="3" data-col-id="7"></td><td class="tracker-cell" data-row-id="3" data-col-id="8"></td><td class="tracker-cell" data-row-id="3" data-col-id="9"></td><td class="tracker-cell" data-row-id="3" data-col-id="10"></td><td class="tracker-cell" data-row-id="3" data-col-id="11"></td><td class="tracker-cell" data-row-id="3" data-col-id="12"></td><td class="tracker-cell" data-row-id="3" data-col-id="13"></td><td class="tracker-cell" data-row-id="3" data-col-id="14"></td><td class="tracker-cell" data-row-id="3" data-col-id="15"></td><td class="tracker-cell" data-row-id="3" data-col-id="16"></td><td class="tracker-cell tracker-enabled" data-row-id="3" data-col-id="17"></td><td class="tracker-cell" data-row-id="3" data-col-id="18"></td><td class="tracker-cell" data-row-id="3" data-col-id="19"></td><td class="tracker-cell" data-row-id="3" data-col-id="20"></td><td class="tracker-cell" data-row-id="3" data-col-id="21"></td><td class="tracker-cell" data-row-id="3" data-col-id="22"></td><td class="tracker-cell" data-row-id="3" data-col-id="23"></td><td class="tracker-cell" data-row-id="3" data-col-id="24"></td><td class="tracker-cell" data-row-id="3" data-col-id="25"></td><td class="tracker-cell" data-row-id="3" data-col-id="26"></td><td class="tracker-cell" data-row-id="3" data-col-id="27"></td><td class="tracker-cell" data-row-id="3" data-col-id="28"></td><td class="tracker-cell" data-row-id="3" data-col-id="29"></td><td class="tracker-cell" data-row-id="3" data-col-id="30"></td><td class="tracker-cell" data-row-id="3" data-col-id="31"></td></tr>
				<tr class="tracker-row" data-id="4"><td class="tracker-first-cell" data-row-id="4">kick-01</td><td class="tracker-cell tracker-enabled" data-row-id="4" data-col-id="0"></td><td class="tracker-cell" data-row-id="4" data-col-id="1"></td><td class="tracker-cell tracker-enabled" data-row-id="4" data-col-id="2"></td><td class="tracker-cell" data-row-id="4" data-col-id="3"></td><td class="tracker-cell" data-row-id="4" data-col-id="4"></td><td class="tracker-cell" data-row-id="4" data-col-id="5"></td><td class="tracker-cell" data-row-id="4" data-col-id="6"></td><td class="tracker-cell" data-row-id="4" data-col-id="7"></td><td class="tracker-cell" data-row-id="4" data-col-id="8"></td><td class="tracker-cell" data-row-id="4" data-col-id="9"></td><td class="tracker-cell" data-row-id="4" data-col-id="10"></td><td class="tracker-cell" data-row-id="4" data-col-id="11"></td><td class="tracker-cell tracker-enabled" data-row-id="4" data-col-id="12"></td><td class="tracker-cell" data-row-id="4" data-col-id="13"></td><td class="tracker-cell tracker-enabled" data-row-id="4" data-col-id="14"></td><td class="tracker-cell" data-row-id="4" data-col-id="15"></td><td class="tracker-cell" data-row-id="4" data-col-id="16"></td><td class="tracker-cell" data-row-id="4" data-col-id="17"></td><td class="tracker-cell" data-row-id="4" data-col-id="18"></td><td class="tracker-cell" data-row-id="4" data-col-id="19"></td><td class="tracker-cell" data-row-id="4" data-col-id="20"></td><td class="tracker-cell tracker-enabled" data-row-id="4" data-col-id="21"></td><td class="tracker-cell" data-row-id="4" data-col-id="22"></td><td class="tracker-cell" data-row-id="4" data-col-id="23"></td><td class="tracker-cell" data-row-id="4" data-col-id="24"></td><td class="tracker-cell tracker-enabled" data-row-id="4" data-col-id="25"></td><td class="tracker-cell" data-row-id="4" data-col-id="26"></td><td class="tracker-cell" data-row-id="4" data-col-id="27"></td><td class="tracker-cell" data-row-id="4" data-col-id="28"></td><td class="tracker-cell" data-row-id="4" data-col-id="29"></td><td class="tracker-cell" data-row-id="4" data-col-id="30"></td><td class="tracker-cell" data-row-id="4" data-col-id="31"></td></tr>
				<tr class="tracker-row" data-id="5"><td class="tracker-first-cell" data-row-id="5">ride-01</td><td class="tracker-cell" data-row-id="5" data-col-id="0"></td><td class="tracker-cell" data-row-id="5" data-col-id="1"></td><td class="tracker-cell" data-row-id="5" data-col-id="2"></td><td class="tracker-cell" data-row-id="5" data-col-id="3"></td><td class="tracker-cell tracker-enabled" data-row-id="5" data-col-id="4"></td><td class="tracker-cell" data-row-id="5" data-col-id="5"></td><td class="tracker-cell" data-row-id="5" data-col-id="6"></td><td class="tracker-cell tracker-enabled" data-row-id="5" data-col-id="7"></td><td class="tracker-cell" data-row-id="5" data-col-id="8"></td><td class="tracker-cell" data-row-id="5" data-col-id="9"></td><td class="tracker-cell" data-row-id="5" data-col-id="10"></td><td class="tracker-cell tracker-enabled" data-row-id="5" data-col-id="11"></td><td class="tracker-cell" data-row-id="5" data-col-id="12"></td><td class="tracker-cell" data-row-id="5" data-col-id="13"></td><td class="tracker-cell" data-row-id="5" data-col-id="14"></td><td class="tracker-cell tracker-enabled" data-row-id="5" data-col-id="15"></td><td class="tracker-cell" data-row-id="5" data-col-id="16"></td><td class="tracker-cell" data-row-id="5" data-col-id="17"></td><td class="tracker-cell" data-row-id="5" data-col-id="18"></td><td class="tracker-cell tracker-enabled" data-row-id="5" data-col-id="19"></td><td class="tracker-cell" data-row-id="5" data-col-id="20"></td><td class="tracker-cell" data-row-id="5" data-col-id="21"></td><td class="tracker-cell" data-row-id="5" data-col-id="22"></td><td class="tracker-cell" data-row-id="5" data-col-id="23"></td><td class="tracker-cell" data-row-id="5" data-col-id="24"></td><td class="tracker-cell" data-row-id="5" data-col-id="25"></td><td class="tracker-cell" data-row-id="5" data-col-id="26"></td><td class="tracker-cell" data-row-id="5" data-col-id="27"></td><td class="tracker-cell" data-row-id="5" data-col-id="28"></td><td class="tracker-cell" data-row-id="5" data-col-id="29"></td><td class="tracker-cell" data-row-id="5" data-col-id="30"></td><td class="tracker-cell" data-row-id="5" data-col-id="31"></td></tr>
				<tr class="tracker-row" data-id="6"><td class="tracker-first-cell" data-row-id="6">ride-02</td><td class="tracker-cell" data-row-id="6" data-col-id="0"></td><td class="tracker-cell" data-row-id="6" data-col-id="1"></td><td class="tracker-cell" data-row-id="6" data-col-id="2"></td><td class="tracker-cell" data-row-id="6" data-col-id="3"></td><td class="tracker-cell" data-row-id="6" data-col-id="4"></td><td class="tracker-cell" data-row-id="6" data-col-id="5"></td><td class="tracker-cell" data-row-id="6" data-col-id="6"></td><td class="tracker-cell" data-row-id="6" data-col-id="7"></td><td class="tracker-cell" data-row-id="6" data-col-id="8"></td><td class="tracker-cell" data-row-id="6" data-col-id="9"></td><td class="tracker-cell" data-row-id="6" data-col-id="10"></td><td class="tracker-cell" data-row-id="6" data-col-id="11"></td><td class="tracker-cell" data-row-id="6" data-col-id="12"></td><td class="tracker-cell" data-row-id="6" data-col-id="13"></td><td class="tracker-cell" data-row-id="6" data-col-id="14"></td><td class="tracker-cell" data-row-id="6" data-col-id="15"></td><td class="tracker-cell" data-row-id="6" data-col-id="16"></td><td class="tracker-cell" data-row-id="6" data-col-id="17"></td><td class="tracker-cell" data-row-id="6" data-col-id="18"></td><td class="tracker-cell" data-row-id="6" data-col-id="19"></td><td class="tracker-cell" data-row-id="6" data-col-id="20"></td><td class="tracker-cell" data-row-id="6" data-col-id="21"></td><td class="tracker-cell" data-row-id="6" data-col-id="22"></td><td class="tracker-cell" data-row-id="6" data-col-id="23"></td><td class="tracker-cell" data-row-id="6" data-col-id="24"></td><td class="tracker-cell" data-row-id="6" data-col-id="25"></td><td class="tracker-cell" data-row-id="6" data-col-id="26"></td><td class="tracker-cell tracker-enabled" data-row-id="6" data-col-id="27"></td><td class="tracker-cell" data-row-id="6" data-col-id="28"></td><td class="tracker-cell" data-row-id="6" data-col-id="29"></td><td class="tracker-cell" data-row-id="6" data-col-id="30"></td><td class="tracker-cell tracker-enabled" data-row-id="6" data-col-id="31"></td></tr>
				<tr class="tracker-row" data-id="7"><td class="tracker-first-cell" data-row-id="7">snare-01</td><td class="tracker-cell" data-row-id="7" data-col-id="0"></td><td class="tracker-cell" data-row-id="7" data-col-id="1"></td><td class="tracker-cell" data-row-id="7" data-col-id="2"></td><td class="tracker-cell" data-row-id="7" data-col-id="3"></td><td class="tracker-cell" data-row-id="7" data-col-id="4"></td><td class="tracker-cell" data-row-id="7" data-col-id="5"></td><td class="tracker-cell" data-row-id="7" data-col-id="6"></td><td class="tracker-cell" data-row-id="7" data-col-id="7"></td><td class="tracker-cell" data-row-id="7" data-col-id="8"></td><td class="tracker-cell tracker-enabled" data-row-id="7" data-col-id="9"></td><td class="tracker-cell" data-row-id="7" data-col-id="10"></td><td class="tracker-cell" data-row-id="7" data-col-id="11"></td><td class="tracker-cell" data-row-id="7" data-col-id="12"></td><td class="tracker-cell" data-row-id="7" data-col-id="13"></td><td class="tracker-cell" data-row-id="7" data-col-id="14"></td><td class="tracker-cell" data-row-id="7" data-col-id="15"></td><td class="tracker-cell" data-row-id="7" data-col-id="16"></td><td class="tracker-cell" data-row-id="7" data-col-id="17"></td><td class="tracker-cell" data-row-id="7" data-col-id="18"></td><td class="tracker-cell" data-row-id="7" data-col-id="19"></td><td class="tracker-cell" data-row-id="7" data-col-id="20"></td><td class="tracker-cell" data-row-id="7" data-col-id="21"></td><td class="tracker-cell" data-row-id="7" data-col-id="22"></td><td class="tracker-cell" data-row-id="7" data-col-id="23"></td><td class="tracker-cell" data-row-id="7" data-col-id="24"></td><td class="tracker-cell" data-row-id="7" data-col-id="25"></td><td class="tracker-cell" data-row-id="7" data-col-id="26"></td><td class="tracker-cell" data-row-id="7" data-col-id="27"></td><td class="tracker-cell" data-row-id="7" data-col-id="28"></td><td class="tracker-cell" data-row-id="7" data-col-id="29"></td><td class="tracker-cell" data-row-id="7" data-col-id="30"></td><td class="tracker-cell" data-row-id="7" data-col-id="31"></td></tr>
				<tr class="tracker-row" data-id="8"><td class="tracker-first-cell" data-row-id="8">snare-02</td><td class="tracker-cell" data-row-id="8" data-col-id="0"></td><td class="tracker-cell" data-row-id="8" data-col-id="1"></td><td class="tracker-cell" data-row-id="8" data-col-id="2"></td><td class="tracker-cell" data-row-id="8" data-col-id="3"></td><td class="tracker-cell" data-row-id="8" data-col-id="4"></td><td class="tracker-cell" data-row-id="8" data-col-id="5"></td><td class="tracker-cell" data-row-id="8" data-col-id="6"></td><td class="tracker-cell" data-row-id="8" data-col-id="7"></td><td class="tracker-cell" data-row-id="8" data-col-id="8"></td><td class="tracker-cell" data-row-id="8" data-col-id="9"></td><td class="tracker-cell" data-row-id="8" data-col-id="10"></td><td class="tracker-cell" data-row-id="8" data-col-id="11"></td><td class="tracker-cell" data-row-id="8" data-col-id="12"></td><td class="tracker-cell" data-row-id="8" data-col-id="13"></td><td class="tracker-cell" data-row-id="8" data-col-id="14"></td><td class="tracker-cell" data-row-id="8" data-col-id="15"></td><td class="tracker-cell" data-row-id="8" data-col-id="16"></td><td class="tracker-cell" data-row-id="8" data-col-id="17"></td><td class="tracker-cell" data-row-id="8" data-col-id="18"></td><td class="tracker-cell" data-row-id="8" data-col-id="19"></td><td class="tracker-cell" data-row-id="8" data-col-id="20"></td><td class="tracker-cell" data-row-id="8" data-col-id="21"></td><td class="tracker-cell" data-row-id="8" data-col-id="22"></td><td class="tracker-cell" data-row-id="8" data-col-id="23"></td><td class="tracker-cell" data-row-id="8" data-col-id="24"></td><td class="tracker-cell" data-row-id="8" data-col-id="25"></td><td class="tracker-cell" data-row-id="8" data-col-id="26"></td><td class="tracker-cell" data-row-id="8" data-col-id="27"></td><td class="tracker-cell" data-row-id="8" data-col-id="28"></td><td class="tracker-cell tracker-enabled" data-row-id="8" data-col-id="29"></td><td class="tracker-cell" data-row-id="8" data-col-id="30"></td><td class="tracker-cell" data-row-id="8" data-col-id="31"></td></tr>
				<tr class="tracker-row" data-id="9"><td class="tracker-first-cell" data-row-id="9">snare-03</td><td class="tracker-cell" data-row-id="9" data-col-id="0"></td><td class="tracker-cell" data-row-id="9" data-col-id="1"></td><td class="tracker-cell" data-row-id="9" data-col-id="2"></td><td class="tracker-cell" data-row-id="9" data-col-id="3"></td><td class="tracker-cell" data-row-id="9" data-col-id="4"></td><td class="tracker-cell" data-row-id="9" data-col-id="5"></td><td class="tracker-cell" data-row-id="9" data-col-id="6"></td><td class="tracker-cell" data-row-id="9" data-col-id="7"></td><td class="tracker-cell" data-row-id="9" data-col-id="8"></td><td class="tracker-cell" data-row-id="9" data-col-id="9"></td><td class="tracker-cell" data-row-id="9" data-col-id="10"></td><td class="tracker-cell" data-row-id="9" data-col-id="11"></td><td class="tracker-cell" data-row-id="9" data-col-id="12"></td><td class="tracker-cell" data-row-id="9" data-col-id="13"></td><td class="tracker-cell" data-row-id="9" data-col-id="14"></td><td class="tracker-cell" data-row-id="9" data-col-id="15"></td><td class="tracker-cell" data-row-id="9" data-col-id="16"></td><td class="tracker-cell" data-row-id="9" data-col-id="17"></td><td class="tracker-cell" data-row-id="9" data-col-id="18"></td><td class="tracker-cell" data-row-id="9" data-col-id="19"></td><td class="tracker-cell" data-row-id="9" data-col-id="20"></td><td class="tracker-cell" data-row-id="9" data-col-id="21"></td><td class="tracker-cell" data-row-id="9" data-col-id="22"></td><td class="tracker-cell" data-row-id="9" data-col-id="23"></td><td class="tracker-cell" data-row-id="9" data-col-id="24"></td><td class="tracker-cell" data-row-id="9" data-col-id="25"></td><td class="tracker-cell" data-row-id="9" data-col-id="26"></td><td class="tracker-cell" data-row-id="9" data-col-id="27"></td><td class="tracker-cell" data-row-id="9" data-col-id="28"></td><td class="tracker-cell" data-row-id="9" data-col-id="29"></td><td class="tracker-cell" data-row-id="9" data-col-id="30"></td><td class="tracker-cell" data-row-id="9" data-col-id="31"></td></tr>
				<tr class="tracker-row" data-id="10"><td class="tracker-first-cell" data-row-id="10">splash-01</td><td class="tracker-cell" data-row-id="10" data-col-id="0"></td><td class="tracker-cell" data-row-id="10" data-col-id="1"></td><td class="tracker-cell" data-row-id="10" data-col-id="2"></td><td class="tracker-cell" data-row-id="10" data-col-id="3"></td><td class="tracker-cell" data-row-id="10" data-col-id="4"></td><td class="tracker-cell" data-row-id="10" data-col-id="5"></td><td class="tracker-cell" data-row-id="10" data-col-id="6"></td><td class="tracker-cell" data-row-id="10" data-col-id="7"></td><td class="tracker-cell" data-row-id="10" data-col-id="8"></td><td class="tracker-cell" data-row-id="10" data-col-id="9"></td><td class="tracker-cell" data-row-id="10" data-col-id="10"></td><td class="tracker-cell" data-row-id="10" data-col-id="11"></td><td class="tracker-cell" data-row-id="10" data-col-id="12"></td><td class="tracker-cell" data-row-id="10" data-col-id="13"></td><td class="tracker-cell" data-row-id="10" data-col-id="14"></td><td class="tracker-cell" data-row-id="10" data-col-id="15"></td><td class="tracker-cell" data-row-id="10" data-col-id="16"></td><td class="tracker-cell" data-row-id="10" data-col-id="17"></td><td class="tracker-cell" data-row-id="10" data-col-id="18"></td><td class="tracker-cell" data-row-id="10" data-col-id="19"></td><td class="tracker-cell" data-row-id="10" data-col-id="20"></td><td class="tracker-cell" data-row-id="10" data-col-id="21"></td><td class="tracker-cell" data-row-id="10" data-col-id="22"></td><td class="tracker-cell" data-row-id="10" data-col-id="23"></td><td class="tracker-cell" data-row-id="10" data-col-id="24"></td><td class="tracker-cell" data-row-id="10" data-col-id="25"></td><td class="tracker-cell" data-row-id="10" data-col-id="26"></td><td class="tracker-cell" data-row-id="10" data-col-id="27"></td><td class="tracker-cell" data-row-id="10" data-col-id="28"></td><td class="tracker-cell" data-row-id="10" data-col-id="29"></td><td class="tracker-cell" data-row-id="10" data-col-id="30"></td><td class="tracker-cell" data-row-id="10" data-col-id="31"></td></tr>
				<tr class="tracker-row" data-id="11"><td class="tracker-first-cell" data-row-id="11">splash-02</td><td class="tracker-cell" data-row-id="11" data-col-id="0"></td><td class="tracker-cell" data-row-id="11" data-col-id="1"></td><td class="tracker-cell" data-row-id="11" data-col-id="2"></td><td class="tracker-cell" data-row-id="11" data-col-id="3"></td><td class="tracker-cell" data-row-id="11" data-col-id="4"></td><td class="tracker-cell" data-row-id="11" data-col-id="5"></td><td class="tracker-cell" data-row-id="11" data-col-id="6"></td><td class="tracker-cell" data-row-id="11" data-col-id="7"></td><td class="tracker-cell" data-row-id="11" data-col-id="8"></td><td class="tracker-cell" data-row-id="11" data-col-id="9"></td><td class="tracker-cell" data-row-id="11" data-col-id="10"></td><td class="tracker-cell" data-row-id="11" data-col-id="11"></td><td class="tracker-cell" data-row-id="11" data-col-id="12"></td><td class="tracker-cell" data-row-id="11" data-col-id="13"></td><td class="tracker-cell" data-row-id="11" data-col-id="14"></td><td class="tracker-cell" data-row-id="11" data-col-id="15"></td><td class="tracker-cell" data-row-id="11" data-col-id="16"></td><td class="tracker-cell" data-row-id="11" data-col-id="17"></td><td class="tracker-cell" data-row-id="11" data-col-id="18"></td><td class="tracker-cell" data-row-id="11" data-col-id="19"></td><td class="tracker-cell" data-row-id="11" data-col-id="20"></td><td class="tracker-cell" data-row-id="11" data-col-id="21"></td><td class="tracker-cell" data-row-id="11" data-col-id="22"></td><td class="tracker-cell" data-row-id="11" data-col-id="23"></td><td class="tracker-cell" data-row-id="11" data-col-id="24"></td><td class="tracker-cell" data-row-id="11" data-col-id="25"></td><td class="tracker-cell" data-row-id="11" data-col-id="26"></td><td class="tracker-cell" data-row-id="11" data-col-id="27"></td><td class="tracker-cell" data-row-id="11" data-col-id="28"></td><td class="tracker-cell" data-row-id="11" data-col-id="29"></td><td class="tracker-cell" data-row-id="11" data-col-id="30"></td><td class="tracker-cell" data-row-id="11" data-col-id="31"></td></tr>
				<tr class="tracker-row" data-id="12"><td class="tracker-first-cell" data-row-id="12">tom-01</td><td class="tracker-cell" data-row-id="12" data-col-id="0"></td><td class="tracker-cell" data-row-id="12" data-col-id="1"></td><td class="tracker-cell" data-row-id="12" data-col-id="2"></td><td class="tracker-cell" data-row-id="12" data-col-id="3"></td><td class="tracker-cell" data-row-id="12" data-col-id="4"></td><td class="tracker-cell" data-row-id="12" data-col-id="5"></td><td class="tracker-cell" data-row-id="12" data-col-id="6"></td><td class="tracker-cell" data-row-id="12" data-col-id="7"></td><td class="tracker-cell" data-row-id="12" data-col-id="8"></td><td class="tracker-cell" data-row-id="12" data-col-id="9"></td><td class="tracker-cell" data-row-id="12" data-col-id="10"></td><td class="tracker-cell" data-row-id="12" data-col-id="11"></td><td class="tracker-cell" data-row-id="12" data-col-id="12"></td><td class="tracker-cell" data-row-id="12" data-col-id="13"></td><td class="tracker-cell" data-row-id="12" data-col-id="14"></td><td class="tracker-cell" data-row-id="12" data-col-id="15"></td><td class="tracker-cell" data-row-id="12" data-col-id="16"></td><td class="tracker-cell" data-row-id="12" data-col-id="17"></td><td class="tracker-cell" data-row-id="12" data-col-id="18"></td><td class="tracker-cell" data-row-id="12" data-col-id="19"></td><td class="tracker-cell" data-row-id="12" data-col-id="20"></td><td class="tracker-cell" data-row-id="12" data-col-id="21"></td><td class="tracker-cell" data-row-id="12" data-col-id="22"></td><td class="tracker-cell tracker-enabled" data-row-id="12" data-col-id="23"></td><td class="tracker-cell" data-row-id="12" data-col-id="24"></td><td class="tracker-cell tracker-enabled" data-row-id="12" data-col-id="25"></td><td class="tracker-cell" data-row-id="12" data-col-id="26"></td><td class="tracker-cell" data-row-id="12" data-col-id="27"></td><td class="tracker-cell" data-row-id="12" data-col-id="28"></td><td class="tracker-cell" data-row-id="12" data-col-id="29"></td><td class="tracker-cell" data-row-id="12" data-col-id="30"></td><td class="tracker-cell" data-row-id="12" data-col-id="31"></td></tr>
				<tr class="tracker-row" data-id="13"><td class="tracker-first-cell" data-row-id="13">tom-02</td><td class="tracker-cell" data-row-id="13" data-col-id="0"></td><td class="tracker-cell" data-row-id="13" data-col-id="1"></td><td class="tracker-cell" data-row-id="13" data-col-id="2"></td><td class="tracker-cell" data-row-id="13" data-col-id="3"></td><td class="tracker-cell" data-row-id="13" data-col-id="4"></td><td class="tracker-cell" data-row-id="13" data-col-id="5"></td><td class="tracker-cell" data-row-id="13" data-col-id="6"></td><td class="tracker-cell" data-row-id="13" data-col-id="7"></td><td class="tracker-cell" data-row-id="13" data-col-id="8"></td><td class="tracker-cell" data-row-id="13" data-col-id="9"></td><td class="tracker-cell" data-row-id="13" data-col-id="10"></td><td class="tracker-cell" data-row-id="13" data-col-id="11"></td><td class="tracker-cell" data-row-id="13" data-col-id="12"></td><td class="tracker-cell" data-row-id="13" data-col-id="13"></td><td class="tracker-cell" data-row-id="13" data-col-id="14"></td><td class="tracker-cell" data-row-id="13" data-col-id="15"></td><td class="tracker-cell" data-row-id="13" data-col-id="16"></td><td class="tracker-cell" data-row-id="13" data-col-id="17"></td><td class="tracker-cell" data-row-id="13" data-col-id="18"></td><td class="tracker-cell" data-row-id="13" data-col-id="19"></td><td class="tracker-cell" data-row-id="13" data-col-id="20"></td><td class="tracker-cell" data-row-id="13" data-col-id="21"></td><td class="tracker-cell" data-row-id="13" data-col-id="22"></td><td class="tracker-cell" data-row-id="13" data-col-id="23"></td><td class="tracker-cell tracker-enabled" data-row-id="13" data-col-id="24"></td><td class="tracker-cell" data-row-id="13" data-col-id="25"></td><td class="tracker-cell" data-row-id="13" data-col-id="26"></td><td class="tracker-cell" data-row-id="13" data-col-id="27"></td><td class="tracker-cell tracker-enabled" data-row-id="13" data-col-id="28"></td><td class="tracker-cell" data-row-id="13" data-col-id="29"></td><td class="tracker-cell" data-row-id="13" data-col-id="30"></td><td class="tracker-cell" data-row-id="13" data-col-id="31"></td></tr>
				<tr class="tracker-row" data-id="14"><td class="tracker-first-cell" data-row-id="14">tom-03</td><td class="tracker-cell" data-row-id="14" data-col-id="0"></td><td class="tracker-cell" data-row-id="14" data-col-id="1"></td><td class="tracker-cell" data-row-id="14" data-col-id="2"></td><td class="tracker-cell" data-row-id="14" data-col-id="3"></td><td class="tracker-cell" data-row-id="14" data-col-id="4"></td><td class="tracker-cell" data-row-id="14" data-col-id="5"></td><td class="tracker-cell" data-row-id="14" data-col-id="6"></td><td class="tracker-cell" data-row-id="14" data-col-id="7"></td><td class="tracker-cell" data-row-id="14" data-col-id="8"></td><td class="tracker-cell" data-row-id="14" data-col-id="9"></td><td class="tracker-cell" data-row-id="14" data-col-id="10"></td><td class="tracker-cell" data-row-id="14" data-col-id="11"></td><td class="tracker-cell" data-row-id="14" data-col-id="12"></td><td class="tracker-cell" data-row-id="14" data-col-id="13"></td><td class="tracker-cell" data-row-id="14" data-col-id="14"></td><td class="tracker-cell" data-row-id="14" data-col-id="15"></td><td class="tracker-cell" data-row-id="14" data-col-id="16"></td><td class="tracker-cell" data-row-id="14" data-col-id="17"></td><td class="tracker-cell" data-row-id="14" data-col-id="18"></td><td class="tracker-cell" data-row-id="14" data-col-id="19"></td><td class="tracker-cell" data-row-id="14" data-col-id="20"></td><td class="tracker-cell" data-row-id="14" data-col-id="21"></td><td class="tracker-cell" data-row-id="14" data-col-id="22"></td><td class="tracker-cell" data-row-id="14" data-col-id="23"></td><td class="tracker-cell" data-row-id="14" data-col-id="24"></td><td class="tracker-cell" data-row-id="14" data-col-id="25"></td><td class="tracker-cell tracker-enabled" data-row-id="14" data-col-id="26"></td><td class="tracker-cell" data-row-id="14" data-col-id="27"></td><td class="tracker-cell" data-row-id="14" data-col-id="28"></td><td class="tracker-cell" data-row-id="14" data-col-id="29"></td><td class="tracker-cell" data-row-id="14" data-col-id="30"></td><td class="tracker-cell" data-row-id="14" data-col-id="31"></td></tr>
			</tbody>
		</table>
	</div>
	<div id="tracker-controls">
		<button id="play">Play</button>
		<button id="pause">Pause</button>
		<button id="stop">Stop</button>
		<br>
		<form class="pure-form" id="trackerControls">
			<br>

			<input class="base" name="measureLength" id="measureLength" style="width: 60px;" value="16">Measure length<br>
			<input class="base" name="bpm" id="bpm" type="range" max="1000" min="20" step="1" value="460">BPM
			<br>
			<div id="options" style="display:none">
				<hr>

				<input class="base" name="detune" id="detune" type="range" max="1200" min="-1200" step="10" value="0"> Detune / Tune<br>

				<hr>

				<input class="base" name="gainEnabled" type="checkbox" id="gainEnabled" value="gain">Enabled gain<br>

				<input class="base" name="attackAmp" id="attackAmp" type="range" max="1" min="0" step="0.1" value="0.5">AttackAmp<br>
				<input class="base" name="sustainAmp" id="sustainAmp" type="range" max="1" min="0" step="0.1" value="0.9"> SustainAmp<br>
				<input class="base" name="decayAmp" id="decayAmp" type="range" max="1" min="0" step="0.1" value="0.9"> DecayAmp<br>
				<input class="base" name="releaseAmp" id="releaseAmp" type="range" max="1" min="0" step="0.1" value="0.9"> ReleaseAmp<br>
				<input class="base" name="attackTime" id="attackTime" type="range" max="1" min="0" step="0.01" value="0.08">Attacktime<br>
				<input class="base" name="decayTime" id="decayTime" type="range" max="1" min="0" step="0.01" value="0.08">DecayTime<br>
				<input class="base" name="sustainTime" id="sustainTime" type="range" max="2" min="0" step="0.1" value="0.1">Sustaintime<br>
				<input class="base" name="releaseTime" id="releaseTime" type="range" max="5" min="0" step="0.1" value="2">Releasetime<br>

				<input class="base" name="adsrInterval" id="adsrInterval" style="width: 60px;" value="0.1">AdsrInterval<br>

				<hr>

				<input class="base" name="delayEnabled" type="checkbox" id="delayEnabled" value="delay"> Enabled delay
				<br>
				<input class="base" name="delay" id="delay" type="range" max="1" min="0" step="0.01" value="0.01"> Delay<br>
				<input class="base" name="filter" id="filter" type="range" max="10000" min="20" step="0.1" value="1000">                Filter<br>
			</div>
		</form>
		<div id="optionssave" style="display:none">
			<hr>
			<form class="pure-form">
				<input type="text" id="filename"><br>
				<button id="save">Save as </button><button id="saveAsJson">Get JSON</button> <br>

				<span id="load-storage"><select id="beat-list"><option value="Select">Select</option></select></span>
				<button id="delete">Delete selected</button>
			</form>
		</div>
	</div>
</div>

<script>
	
</script>