<!DOCTYPE html>
<html lang="pt">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

    <style type="text/css">
        ol {
            margin: 0;
            padding: 0
        }

        table td, table th {
            padding: 0
        }

        .c3 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 12pt;
            font-family: "Arial";
            font-style: normal
        }

        .c1 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 12pt;
            font-family: "Arial";
            font-style: normal
        }

        .c0 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c4 {
            background-color: #ffffff;
            max-width: 612pt;
            padding: 0pt 0pt 0pt 0pt
        }

        .c2 {
            height: 12pt
        }

        .c5 {
            font-weight: 700
        }

        .title {
            padding-top: 0pt;
            color: #000000;
            font-size: 21pt;
            padding-bottom: 0pt;
            font-family: "Trebuchet MS";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .subtitle {
            padding-top: 0pt;
            color: #666666;
            font-size: 13pt;
            padding-bottom: 10pt;
            font-family: "Trebuchet MS";
            line-height: 1.15;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        li {
            color: #000000;
            font-size: 12pt;
            font-family: "Arial"
        }

        p {
            margin: 0;
            color: #000000;
            font-size: 12pt;
            font-family: "Arial"
        }

        h1 {
            padding-top: 10pt;
            color: #000000;
            font-size: 16pt;
            padding-bottom: 0pt;
            font-family: "Trebuchet MS";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h2 {
            padding-top: 10pt;
            color: #000000;
            font-weight: 700;
            font-size: 13pt;
            padding-bottom: 0pt;
            font-family: "Trebuchet MS";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h3 {
            padding-top: 8pt;
            color: #666666;
            font-weight: 700;
            font-size: 12pt;
            padding-bottom: 0pt;
            font-family: "Trebuchet MS";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h4 {
            padding-top: 8pt;
            -webkit-text-decoration-skip: none;
            color: #666666;
            text-decoration: underline;
            font-size: 12pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            page-break-after: avoid;
            text-decoration-skip-ink: none;
            font-family: "Trebuchet MS";
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h5 {
            padding-top: 8pt;
            color: #666666;
            font-size: 12pt;
            padding-bottom: 0pt;
            font-family: "Trebuchet MS";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h6 {
            padding-top: 8pt;
            color: #666666;
            font-size: 12pt;
            padding-bottom: 0pt;
            font-family: "Trebuchet MS";
            line-height: 1.15;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: left
        }</style>
</head>
<body class="c4">
    <p class="c0"><span class="c3">PECADO &Eacute;:</span></p>
    <p class="c0"><span class="c3">SE DELEITAR NAS IDEIAS</span></p>
    <p class="c0"><span class="c3">DIALOGAR COM OS ATAQUES</span></p>
    <p class="c0 c2"><span class="c3"></span></p>
    <p class="c0"><span class="c3">1&ordm; Mandamento</span></p>
    <p class="c0"><span class="c5">Amar a Deus sobre todas as coisas</span></p>
    <p class="c0 c2"><span class="c1"></span></p>
    <p class="c0"><span class="c1">idolatria (colocar algo no lugar de Deus)</span></p>
    <p class="c0"><span class="c1">ate&iacute;smo (n&atilde;o acreditar em Deus)</span></p>
    <p class="c0"><span class="c1">agnosticismo (ter Deus como apenas um ser divino)</span></p>
    <p class="c0"><span class="c1">polite&iacute;smo (acreditar em v&aacute;rios deuses)</span></p>
    <p class="c0"><span class="c1">supersti&ccedil;&atilde;o (religi&atilde;o como uma magia)</span></p>
    <p class="c0"><span class="c1">apostasia (ser contra a religi&atilde;o)</span></p>
    <p class="c0"><span class="c1">irreligi&atilde;o (indiferen&ccedil;a &agrave; religi&atilde;o cat&oacute;lica)</span></p>
    <p class="c0"><span class="c1">heresia (n&atilde;o aceitar os dogmas)</span></p>
    <p class="c0"><span class="c1">cisma (ser contra o papa)</span></p>
    <p class="c0"><span class="c1">simonia (venda dos dons)</span></p>
    <p class="c0"><span class="c1">sacril&eacute;gio (contra as coisas sagradas)</span></p>
    <p class="c0"><span class="c1">profana&ccedil;&atilde;o (zombar de Deus)</span></p>
    <p class="c0"><span class="c1">presun&ccedil;&atilde;o (confian&ccedil;a excessiva)</span></p>
    <p class="c0"><span class="c1">tibieza (falta de ardor)</span></p>
    <p class="c0"><span class="c1">pregui&ccedil;a espiritual</span></p>
    <p class="c0"><span class="c1">desespero (falta de f&eacute;)</span></p>
    <p class="c0"><span class="c1">desesperan&ccedil;a</span></p>
    <p class="c0"><span class="c1">des&acirc;nimo</span></p>
    <p class="c0"><span class="c1">falta de caridade</span></p>
    <p class="c0"><span class="c1">&oacute;dio a Deus</span></p>
    <p class="c0"><span class="c1">indiferen&ccedil;a para com Deus</span></p>
    <p class="c0"><span class="c1">ingratid&atilde;o para com Deus</span></p>
    <p class="c0"><span class="c1">interpreta&ccedil;&atilde;o de press&aacute;gios (adivinhar o futuro)</span></p>
    <p class="c0"><span class="c1">interpreta&ccedil;&atilde;o de sortes</span></p>
    <p class="c0"><span class="c1">magia</span></p>
    <p class="c0"><span class="c1">feiti&ccedil;aria</span></p>
    <p class="c0"><span class="c1">astrologia</span></p>
    <p class="c0"><span class="c1">leitura de m&atilde;os</span></p>
    <p class="c0"><span class="c1">hor&oacute;scopos</span></p>
    <p class="c0"><span class="c1">m&eacute;diuns</span></p>
    <p class="c0"><span class="c1">Duvidar ou negar a miseric&oacute;rdia de Deus</span></p>
    <p class="c0"><span class="c1">promover, incentivar, omitir ou n&atilde;o ensinar sobre esses pecados tamb&eacute;m &eacute; pecado</span></p>
    <p class="c0"><span class="c1">----------------------------------------------</span></p>
    <p class="c0 c2"><span class="c1"></span></p>
    <p class="c0"><span class="c3">2&ordm; Mandamento</span></p>
    <p class="c0"><span class="c5">N&atilde;o tomar seu Santo nome em v&atilde;o</span></p>
    <p class="c0 c2"><span class="c1"></span></p>
    <p class="c0"><span class="c1">desrespeitar o nome de Deus</span></p>
    <p class="c0"><span class="c1">desrespeitar o nome de Jesus Cristo</span></p>
    <p class="c0"><span class="c1">desrespeitar o nome da Virgem Maria</span></p>
    <p class="c0"><span class="c1">desrespeitar o nome de S&atilde;o Jos&eacute;</span></p>
    <p class="c0"><span class="c1">desrespeitar o nome da Santa Igreja</span></p>
    <p class="c0"><span class="c1">desrespeitar o nome dos santos e anjos</span></p>
    <p class="c0"><span class="c1">desrespeitar o Sinal-da-Cruz</span></p>
    <p class="c0"><span class="c1">desrespeitar seu pr&oacute;prio nome</span></p>
    <p class="c0"><span class="c1">desrespeitar nomes das pessoas</span></p>
    <p class="c0"><span class="c1">blasf&ecirc;mia (proferir contra Deus)</span></p>
    <p class="c0"><span class="c1">maldizer (falar mal de Deus)</span></p>
    <p class="c0"><span class="c1">provocar a Deus</span></p>
    <p class="c0"><span class="c1">tentar a Deus</span></p>
    <p class="c0"><span class="c1">por Deus a prova</span></p>
    <p class="c0"><span class="c1">perj&uacute;rio (prometer em falso)</span></p>
    <p class="c0"><span class="c1">jurar falso</span></p>
    <p class="c0"><span class="c1">Usar o nome de Deus para cometer um crime</span></p>
    <p class="c0"><span class="c1">Usar o nome de Deus para magia</span></p>
    <p class="c0"><span class="c1">Usar o nome de Deus para desafi&aacute;-lo</span></p>
    <p class="c0"><span class="c1">promover, incentivar, omitir ou n&atilde;o ensinar sobre esses pecados tamb&eacute;m &eacute; pecado</span></p>
    <p class="c0"><span class="c1">----------------------------------------------</span></p>
    <p class="c0 c2"><span class="c1"></span></p>
    <p class="c0"><span class="c3">3&ordm; Mandamento</span></p>
    <p class="c0"><span class="c5">Honrar domingos e dias solenes</span></p>
    <p class="c0 c2"><span class="c1"></span></p>
    <p class="c0"><span class="c1">n&atilde;o dedicar o domingo para Deus</span></p>
    <p class="c0"><span class="c1">n&atilde;o dedicar o domingo &agrave; ora&ccedil;&atilde;o e leitura da b&iacute;blia</span></p>
    <p class="c0"><span class="c1">n&atilde;o dedicar as solenidades para Deus</span></p>
    <p class="c0"><span class="c1">faltar &agrave; missa de domingo</span></p>
    <p class="c0"><span class="c1">N&atilde;o participar da missa completa nos domingos</span></p>
    <p class="c0"><span class="c1">faltar &agrave; missa em solenidades</span></p>
    <p class="c0"><span class="c1">N&atilde;o participar da missa completa nos dias solenes</span></p>
    <p class="c0"><span class="c1">Deixar de curtir lazer junto com os familiares</span></p>
    <p class="c0"><span class="c1">Deixar de curtir lazer junto com os irm&atilde;os</span></p>
    <p class="c0"><span class="c1">N&atilde;o praticar boas obras e servi&ccedil;os</span></p>
    <p class="c0"><span class="c1">N&atilde;o se dedicar &agrave; caridade</span></p>
    <p class="c0"><span class="c1">trabalhar no domingo</span></p>
    <p class="c0"><span class="c1">Realizar trabalhos que n&atilde;o sejam de Deus</span></p>
    <p class="c0"><span class="c1">Obrigar empregados a trabalhar</span></p>
    <p class="c0"><span class="c1">promover, incentivar, omitir ou n&atilde;o ensinar sobre esses pecados tamb&eacute;m &eacute; pecado</span></p>
    <p class="c0"><span class="c1">----------------------------------------------</span></p>
    <p class="c0 c2"><span class="c1"></span></p>
    <p class="c0"><span class="c3">4&ordm; Mandamento</span></p>
    <p class="c0"><span class="c3">Honrar pai e m&atilde;e:</span></p>
    <p class="c0 c2"><span class="c1"></span></p>
    <p class="c0"><span class="c1">desrespeitar os pais</span></p>
    <p class="c0"><span class="c1">falar mal dos pais</span></p>
    <p class="c0"><span class="c1">desrespeitar os av&oacute;s</span></p>
    <p class="c0"><span class="c1">falar mal dos av&oacute;s</span></p>
    <p class="c0"><span class="c1">n&atilde;o educar os filhos</span></p>
    <p class="c0"><span class="c1">falar mal dos filhos</span></p>
    <p class="c0"><span class="c1">desrespeitar os seus superiores</span></p>
    <p class="c0"><span class="c1">falar mal dos seus superiores</span></p>
    <p class="c0"><span class="c1">desrespeitar os pol&iacute;ticos</span></p>
    <p class="c0"><span class="c1">falar mal dos pol&iacute;ticos</span></p>
    <p class="c0"><span class="c1">desrespeitar a sociedade</span></p>
    <p class="c0"><span class="c1">desrespeitar a p&aacute;tria</span></p>
    <p class="c0"><span class="c1">falar mal da p&aacute;tria</span></p>
    <p class="c0"><span class="c1">n&atilde;o cumprir as leis da sociedade</span></p>
    <p class="c0"><span class="c1">desrespeitar as leis de tr&acirc;nsito</span></p>
    <p class="c0"><span class="c1">n&atilde;o ser um bom cidad&atilde;o</span></p>
    <p class="c0"><span class="c1">promover, incentivar, omitir ou n&atilde;o ensinar sobre esses pecados tamb&eacute;m &eacute; pecado</span></p>
    <p class="c0"><span class="c1">----------------------------------------------</span></p>
    <p class="c0 c2"><span class="c1"></span></p>
    <p class="c0"><span class="c3">5&ordm; Mandamento</span></p>
    <p class="c0"><span class="c3">N&atilde;o matar:</span></p>
    <p class="c0 c2"><span class="c1"></span></p>
    <p class="c0"><span class="c1">suic&iacute;dio</span></p>
    <p class="c0"><span class="c1">homic&iacute;dio</span></p>
    <p class="c0"><span class="c1">usar leg&iacute;tima defesa para matar</span></p>
    <p class="c0"><span class="c1">usar leg&iacute;tima defesa para ofender</span></p>
    <p class="c0"><span class="c1">eutanasia (matar pessoas defeituosas)</span></p>
    <p class="c0"><span class="c1">ira</span></p>
    <p class="c0"><span class="c1">&oacute;dio</span></p>
    <p class="c0"><span class="c1">vingan&ccedil;a</span></p>
    <p class="c0"><span class="c1">fofoca</span></p>
    <p class="c0"><span class="c1">aborto</span></p>
    <p class="c0"><span class="c1">desrespeitar a vida dos outros</span></p>
    <p class="c0"><span class="c1">desrespeitar a sua vida</span></p>
    <p class="c0"><span class="c1">desrespeitar sua sa&uacute;de</span></p>
    <p class="c0"><span class="c1">n&atilde;o cuidar da sua sa&uacute;de</span></p>
    <p class="c0"><span class="c1">fumar com abuso</span></p>
    <p class="c0"><span class="c1">beber com abuso</span></p>
    <p class="c0"><span class="c1">usar drogas nocivas &agrave; sa&uacute;de</span></p>
    <p class="c0"><span class="c1">usar qualquer coisa nociva &agrave; sa&uacute;de</span></p>
    <p class="c0"><span class="c1">desrespeitar a sua pr&oacute;pria vida</span></p>
    <p class="c0"><span class="c1">ir &agrave; lugares que p&otilde;e em perigo a sua vida</span></p>
    <p class="c0"><span class="c1">fazer coisas que p&otilde;e em perigo a sua vida</span></p>
    <p class="c0"><span class="c1">n&atilde;o terminar tratamento de rem&eacute;dios</span></p>
    <p class="c0"><span class="c1">n&atilde;o tomar os rem&eacute;dios devidos</span></p>
    <p class="c0"><span class="c1">n&atilde;o tomar as vacinas devidas</span></p>
    <p class="c0"><span class="c1">provocar a guerra</span></p>
    <p class="c0"><span class="c1">n&atilde;o promover a paz</span></p>
    <p class="c0"><span class="c1">omitir socorro</span></p>
    <p class="c0"><span class="c1">desrespeitar os mortos</span></p>
    <p class="c0"><span class="c1">promover, incentivar, omitir ou n&atilde;o ensinar sobre esses pecados tamb&eacute;m &eacute; pecado</span></p>
    <p class="c0"><span class="c1">----------------------------------------------</span></p>
    <p class="c0 c2"><span class="c1"></span></p>
    <p class="c0"><span class="c3">6&ordm; Mandamento</span></p>
    <p class="c0"><span class="c3">Pecar contra castidade</span></p>
    <p class="c0 c2"><span class="c1"></span></p>
    <p class="c0"><span class="c1">desrespeitar a sexualidade</span></p>
    <p class="c0"><span class="c1">fornica&ccedil;&atilde;o (rela&ccedil;&atilde;o antes do casamento)</span></p>
    <p class="c0"><span class="c1">lux&uacute;ria (prazer desordenado)</span></p>
    <p class="c0"><span class="c1">maturba&ccedil;&atilde;o (sozinho ou acompanhado)</span></p>
    <p class="c0"><span class="c1">poligamia (sexo com v&aacute;rias pessoas)</span></p>
    <p class="c0"><span class="c1">viola&ccedil;&atilde;o (obrigar algu&eacute;m a fazer sexo)</span></p>
    <p class="c0"><span class="c1">estupro</span></p>
    <p class="c0"><span class="c1">pornografia</span></p>
    <p class="c0"><span class="c1">prostitui&ccedil;&atilde;o</span></p>
    <p class="c0"><span class="c1">adult&eacute;rio</span></p>
    <p class="c0"><span class="c1">infidelidade</span></p>
    <p class="c0"><span class="c1">div&oacute;rcio</span></p>
    <p class="c0"><span class="c1">homossexualismo</span></p>
    <p class="c0"><span class="c1">lesbianismo</span></p>
    <p class="c0"><span class="c1">n&atilde;o querer ter filhos</span></p>
    <p class="c0"><span class="c1">promover, incentivar, omitir ou n&atilde;o ensinar sobre esses pecados tamb&eacute;m &eacute; pecado</span></p>
    <p class="c0"><span class="c1">----------------------------------------------</span></p>
    <p class="c0 c2"><span class="c1"></span></p>
    <p class="c0"><span class="c3">7&ordm; Mandamento</span></p>
    <p class="c0"><span class="c3">N&atilde;o roubar</span></p>
    <p class="c0 c2"><span class="c1"></span></p>
    <p class="c0"><span class="c1">escraviza&ccedil;&atilde;o</span></p>
    <p class="c0"><span class="c1">roubo</span></p>
    <p class="c0"><span class="c1">furto</span></p>
    <p class="c0"><span class="c1">sequestro</span></p>
    <p class="c0"><span class="c1">suborno</span></p>
    <p class="c0"><span class="c1">exigir propina</span></p>
    <p class="c0"><span class="c1">exigir recompensa</span></p>
    <p class="c0"><span class="c1">desperd&iacute;cios</span></p>
    <p class="c0"><span class="c1">recusar esmola</span></p>
    <p class="c0"><span class="c1">n&atilde;o trabalhar</span></p>
    <p class="c0"><span class="c1">trabalhar mal</span></p>
    <p class="c0"><span class="c1">trabalhar de forma errada</span></p>
    <p class="c0"><span class="c1">n&atilde;o pagar os impostos</span></p>
    <p class="c0"><span class="c1">n&atilde;o pagar os empregados</span></p>
    <p class="c0"><span class="c1">causar dano aos bens do pr&oacute;ximo</span></p>
    <p class="c0"><span class="c1">ficar com o que n&atilde;o &eacute; seu</span></p>
    <p class="c0"><span class="c1">ficar com o dinheiro que n&atilde;o &eacute; seu</span></p>
    <p class="c0"><span class="c1">ficar com bens dos outros</span></p>
    <p class="c0"><span class="c1">n&atilde;o devolver troco errado</span></p>
    <p class="c0"><span class="c1">n&atilde;o devolver pedido errado</span></p>
    <p class="c0"><span class="c1">n&atilde;o devolver o que pegou emprestado</span></p>
    <p class="c0"><span class="c1">promover, incentivar, omitir ou n&atilde;o ensinar sobre esses pecados tamb&eacute;m &eacute; pecado</span></p>
    <p class="c0"><span class="c1">----------------------------------------------</span></p>
    <p class="c0 c2"><span class="c1"></span></p>
    <p class="c0"><span class="c3">8&ordm; Mandamento</span></p>
    <p class="c0"><span class="c5">Levantar falso testemunho contra o pr&oacute;ximo</span></p>
    <p class="c0 c2"><span class="c1"></span></p>
    <p class="c0"><span class="c1">hipocrisia (falar uma coisa e fazer outra)</span></p>
    <p class="c0"><span class="c1">maledic&ecirc;ncia (falar mal do outro)</span></p>
    <p class="c0"><span class="c1">difama&ccedil;&atilde;o (ofender a reputa&ccedil;&atilde;o) </span></p>
    <p class="c0"><span class="c1">ju&iacute;zo temer&aacute;rio (julgar sem provas)</span></p>
    <p class="c0"><span class="c1">mentir para lesar algu&eacute;m</span></p>
    <p class="c0"><span class="c1">bajula&ccedil;&atilde;o (falsos sentimentos para conquistar)</span></p>
    <p class="c0"><span class="c1">adula&ccedil;&atilde;o (elogio excessivo)</span></p>
    <p class="c0"><span class="c1">mal&iacute;cia</span></p>
    <p class="c0"><span class="c1">falsidade</span></p>
    <p class="c0"><span class="c1">cal&uacute;nia</span></p>
    <p class="c0"><span class="c1">promover, incentivar, omitir ou n&atilde;o ensinar sobre esses pecados tamb&eacute;m &eacute; pecado</span></p>
    <p class="c0"><span class="c1">----------------------------------------------</span></p>
    <p class="c0 c2"><span class="c1"></span></p>
    <p class="c0"><span class="c3">9&ordm; Mandamento</span></p>
    <p class="c0"><span class="c5">N&atilde;o desejar o parceiro do pr&oacute;ximo</span></p>
    <p class="c0 c2"><span class="c1"></span></p>
    <p class="c0"><span class="c1">desejar mulher ou homem do outro</span></p>
    <p class="c0"><span class="c1">Alimentar maus desejos</span></p>
    <p class="c0"><span class="c1">adult&eacute;rio no cora&ccedil;&atilde;o</span></p>
    <p class="c0"><span class="c1">homossessualidade</span></p>
    <p class="c0"><span class="c1">impureza de cora&ccedil;&atilde;o</span></p>
    <p class="c0"><span class="c1">pornografia no olhar</span></p>
    <p class="c0"><span class="c1">pornografia nas palavras</span></p>
    <p class="c0"><span class="c1">pornografia nos pensamentos</span></p>
    <p class="c0"><span class="c1">cupidez</span></p>
    <p class="c0"><span class="c1">concupisc&ecirc;ncia carnal</span></p>
    <p class="c0"><span class="c1">cobi&ccedil;a carnal</span></p>
    <p class="c0"><span class="c1">desrespeito &agrave; intimidade do outro</span></p>
    <p class="c0"><span class="c1">desrespeito &agrave; intimidade pr&oacute;pria</span></p>
    <p class="c0"><span class="c1">falta de temperan&ccedil;a</span></p>
    <p class="c0"><span class="c1">falta de pudor</span></p>
    <p class="c0"><span class="c1">falta de mod&eacute;stia</span></p>
    <p class="c0"><span class="c1">falta de castidade</span></p>
    <p class="c0"><span class="c1">falta de mod&eacute;stia</span></p>
    <p class="c0"><span class="c1">falta de discri&ccedil;&atilde;o</span></p>
    <p class="c0"><span class="c1">usar o corpo para provocar</span></p>
    <p class="c0"><span class="c1">vestir roupas provocantes</span></p>
    <p class="c0"><span class="c1">desrespeitar a dignidade do outro</span></p>
    <p class="c0"><span class="c1">promover, incentivar, omitir ou n&atilde;o ensinar sobre esses pecados tamb&eacute;m &eacute; pecado</span></p>
    <p class="c0"><span class="c1">----------------------------------------------</span></p>
    <p class="c0 c2"><span class="c1"></span></p>
    <p class="c0"><span class="c3">10&ordm; Mandamento</span></p>
    <p class="c0"><span class="c3">N&atilde;o desejar as coisas alheias</span></p>
    <p class="c0 c2"><span class="c1"></span></p>
    <p class="c0"><span class="c1">inveja</span></p>
    <p class="c0"><span class="c1">olho gordo</span></p>
    <p class="c0"><span class="c1">gan&acirc;ncia</span></p>
    <p class="c0"><span class="c1">avareza</span></p>
    <p class="c0"><span class="c1">vaidade</span></p>
    <p class="c0"><span class="c1">vangl&oacute;ria</span></p>
    <p class="c0"><span class="c1">prest&iacute;gio social</span></p>
    <p class="c0"><span class="c1">n&atilde;o ser generoso</span></p>
    <p class="c0"><span class="c1">m&atilde;o fechada</span></p>
    <p class="c0"><span class="c1">lucro desmedido</span></p>
    <p class="c0"><span class="c1">prazer no dinheiro</span></p>
    <p class="c0"><span class="c1">prazer nos bens materiais</span></p>
    <p class="c0"><span class="c1">prazer no ter</span></p>
    <p class="c0"><span class="c1">zelo exagerado</span></p>
    <p class="c0"><span class="c1">diminuir o outro</span></p>
    <p class="c0"><span class="c1">desvalorizar o que &eacute; do outro</span></p>
    <p class="c0"><span class="c1">ficar triste com a felicidade do outro</span></p>
    <p class="c0"><span class="c1">torcer para que o outro v&aacute; mal</span></p>
    <p class="c0"><span class="c1">torcer para que o outro n&atilde;o tenha sucesso</span></p>
    <p class="c0"><span>promover, incentivar, omitir ou n&atilde;o ensinar sobre esses pecados tamb&eacute;m &eacute; pecado</span></p>
    <p class="c0 c2"><span class="c1"></span></p>
    <p class="c0"><span class="c3">COMO FAZER UMA BOA CONFISS&Atilde;O</span></p>
    <p class="c0"><span class="c1">Dizer quando foi sua &uacute;ltima confiss&atilde;o</span></p>
    <p class="c0"><span class="c1">Dizer quem &eacute; voc&ecirc; e quais servi&ccedil;os presta &agrave; Igreja</span></p>
    <p class="c0"><span class="c1">Quais pecados contra os 10 mandamentos voc&ecirc; cometeu</span></p>
    <p class="c0"><span class="c1">Quantas vezes cometeu esses pecados</span></p>
    <p class="c0"><span class="c1">Ap&oacute;s a absolvi&ccedil;&atilde;o do sacerdote fa&ccedil;a o Ato de Contri&ccedil;&atilde;o</span></p>
    <p class="c0 c2"><span class="c1"></span></p>
    <p class="c0"><span class="c3">ATO DE CONTRI&Ccedil;&Atilde;O</span></p>
    <p class="c0"><span class="c1">&Oacute;h, meu Jesus, que morreste na cruz para nos salvar, eu me arrependo dos meus pecados e prometo nunca mais pecar.</span></p>
    <p class="c0"><span class="c1">Am&eacute;m!</span></p>
</body>
</html>