@model LinksModel

@{
    ViewData["Title"] = "Liturgia";
}

<style>

    img {
        width: 33%;
        height: 250px;
        vertical-align: baseline;
    }

</style>



<div class="">

    @foreach (var linha in Model.LinksDict)
    {
        <a href="@linha.Value">
            <img class="rounded" src="@linha.Key" />
        </a>
    }

</div>
