@model LinksModel

@{
    ViewData["Title"] = "Liturgia";
}

<div class="">
    <div style="text-align: center;">
        <figure style="display: inline-block;">
            <a href="https://www.youtube.com/playlist?list=PLW4XZpSEOqXWV1OD6czlaMx6eubosHABj">
                <img class="rounded home" src="https://r2.padrepauloricardo.org/uploads/programa/share_image/23/homilia-dia%CC%81ria-rede.jpg" />
            </a>
            <figcaption style="color: black; font-size: x-large;">Resposta Católica</figcaption>
        </figure>

        <figure style="display: inline-block;">
            <a asp-area="" asp-controller="Home" asp-action="Confissao">
                @* <img class="rounded" style="object-fit:none; width:445px; height:250px"*@
                <img class="rounded home" src="./img/confissao.webp" />
            </a>
            <figcaption style="color: black; font-size: x-large;">Manual de Confissão</figcaption>
        </figure>

        <figure style="display: inline-block;">
            <a asp-area="" asp-controller="Home" asp-action="Decalogo">
                <img class="rounded home" src="./img/decalogo.webp" />
            </a>
            <figcaption style="color: black; font-size: x-large;">Dez Mandamentos</figcaption>
        </figure>

        <figure style="display: inline-block;">
            <a asp-area="" asp-controller="Home" asp-action="Catecismo">
                <img class="rounded home" src="./img/catecismo.webp" />
            </a>
            <figcaption style="color: black; font-size: x-large;">Catecismo</figcaption>
        </figure>

        <figure style="display: inline-block;">
            <a asp-area="" asp-controller="Home" asp-action="Compendio">
                <img class="rounded home" src="./img/compendio.webp" />
            </a>
            <figcaption style="color: black; font-size: x-large;">Compêndio</figcaption>
        </figure>
    </div>

</div>