@model LinksModel

@{
    ViewData["Title"] = "Liturgia";
}

<style>
    body {
        background-color: #0D1117;
    }
</style>

<div class="">

    @if (Model.LinksDict != null)
    {
        if (Model.LinksDict.Count > 0)
        {
            foreach (var linha in Model.LinksDict)
            {
                <a href="@linha.Value">
                    <img class="rounded" src="@linha.Key" />
                </a>
            }
        }

        else
        {
            <input type="button"
                   value="Não há links configurados, clique aqui para configurar"
                   onclick="location.href='@Url.Action("Index", "Links")'" />
        }
    }

</div>
