@model LinksModel

@{
    ViewData["Title"] = "Liturgia";
}

<div class="">

    @if (Model.LinksDict != null)
    {
        foreach (var linha in Model.LinksDict)
        {
            <a href="@linha.Value">
                <img class="rounded" src="@linha.Key" />
            </a>
        }
    }

    <a class="navbar-brand" asp-area="" asp-controller="Youtube" asp-action="Index">Liturgia</a>

</div>
