@model LinksModel

@{
    ViewData["Title"] = "Liturgia";
}

<div class="">

    @if (Model.LinksDict != null)
    {
        if (Model.LinksDict.Count > 0)
        {
            foreach (var linha in Model.LinksDict)
            {
                <a href="@linha.Value">
                    <img class="rounded" src="@linha.Key" />
                </a>
            }
        }

        else
        {
            <input type="button"
                   value="Não há links configurados, clique aqui para configurar"
                   onclick="location.href='@Url.Action("Index", "Links")'" />
        }
    }
        
        @*<a href="" onclick="@Action("Index", "Links")"><h2></h2></a>*@

    <a class="navbar-brand" asp-area="" asp-controller="Youtube" asp-action="Index">Liturgia</a>

</div>
