@model LinksModel

@{
    ViewData["Title"] = "Liturgia";
}

<style>

    

</style>



<div class="">

    @if (Model.LinksDict != null)
    {
        foreach (var linha in Model.LinksDict)
        {
            <a href="@linha.Value">
                <img class="rounded" src="@linha.Key" />
            </a>
        }

    }

</div>
