@{
    ViewData["Title"] = "Liturgia";
}

<div class="">
    <div style="text-align: center;">
        <figure style="display: inline-block;">
            <a asp-area="" asp-controller="Home" asp-action="SaoJose">
                <img class="rounded home" src="../img/saojose.webp" />
            </a>
            <figcaption style="color: black; font-size: x-large;">Sao José</figcaption>
        </figure>

        <figure style="display: inline-block;">
            <a asp-area="" asp-controller="Home" asp-action="PadrePio">
                <img class="rounded home" src="../img/padrepio.webp" />
            </a>
            <figcaption style="color: black; font-size: x-large;">Padre Pio</figcaption>
        </figure>

        <figure style="display: inline-block;">
            <a asp-area="" asp-controller="Home" asp-action="CarloAcutis">
                <img class="rounded home" src="../img/carloacutis.webp" />
            </a>
            <figcaption style="color: black; font-size: x-large;">Carlo Acutis</figcaption>
        </figure>
    </div>

</div>