@{
    ViewData["Title"] = "Liturgia";
}
<br />
<h1>Sobre Liturgia</h1>

<p>
    Liturgia é um sistema gratuito para ser utilizado por músicos profissionais e leigos
</p>
<p>
    Criado por Ronei Costa Soares da cidade Borda da Mata-MG, Brasil.
</p>

<img src="~/roneiejoelma.jpg" style="display: block;margin: 0 auto;width:50%;height:50%" />
<br />